table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 50%;
  }
  
  td, th {
    width: 13%;
  }
  
  .mat-toolbar.mat-primary {
    background:white;
    color: black;
  }

  .mat-cell {
    padding-left: 2px;
    padding-right: 2px;
  }
  
  .mat-cell:first-of-type{
    padding-left: 2px;
  }
  
  .mat-cell:last-of-type{
    padding-right: 2px;
  }