<div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Clientes Descartados</span>&nbsp;
        <a routerLink="/cliente"><button mat-stroked-button class="btn btn-outline-secondary">Regresar</button></a>
    </mat-toolbar-row>
    </mat-toolbar>
</div>
  <mat-form-field>
    <mat-label>Busqueda</mat-label>
    <input matInput (keyup)="Filtro($event.target.value)">
  </mat-form-field>
  <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="acciones">
        <th title="Acciones" mat-header-cell *matHeaderCellDef><mat-icon>offline_bolt</mat-icon></th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button  mat-menu-item aria-label="Seguimiento" (click)="ReactivarCli(row)">
                <mat-icon>visibility</mat-icon>
                <span>Reactivar</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <ng-container matColumnDef="idCliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>No. Cliente</th>
        <td mat-cell *matCellDef="let row"><span class="btn btn-outline-success">{{row.idCliente}}</span></td>
      </ng-container>
      <ng-container matColumnDef="compCliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre comercial</th>
        <td mat-cell *matCellDef="let row">{{row.compCliente}}</td>
      </ng-container>
      <ng-container matColumnDef="tipoCliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Estatus del cliente</th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"><span class="btn btn-outline-secondary">{{row.tipoCliente}}</span></td>
      </ng-container>
      <ng-container matColumnDef="telFijoCliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefono Fijo</th>
        <td mat-cell *matCellDef="let row">{{row.telFijoCliente}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="Columns"></tr>
      <tr mat-row *matRowDef="let row; columns: Columns;">
      </tr>
    </table>
  </div>
<mat-paginator [pageSizeOptions]="[6, 12, 60, 120]"></mat-paginator>