<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Banco</mat-label>
        <mat-select name="idBanco" [(ngModel)]="proveedora.idBanco">
            <mat-option *ngFor="let B of selectBanco" [value]="B.idBanco">{{B.nomBanco}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Cuenta</mat-label>
        <input matInput type="number" name="Cta" #nombre="ngModel" [(ngModel)]="proveedora.Cta">  
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-stroked-button class="btn btn-outline-success" [hidden]="validar == 1" (click)="Validar(1)">Guardar</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-info" [hidden]="validar == 0" (click)="Validar(2)">Actualizar</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-warning" (click)="Cancelar()">Cancelar</button>
</div>