<div>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Nota de crédito</span>&nbsp;
            <a routerLink="/notacredito/nota-credito-crear"><button mat-stroked-button class="btn btn-outline-primary">Crear Nota de crédito</button></a>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<mat-form-field>
    <input matInput (keyup)="Filtro($event.target.value)" placeholder="Filtro">
</mat-form-field>
<div class="table-responsive">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="nomNotaCredito">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre de nota de crédito</th>
            <td mat-cell *matCellDef="let row">{{row.nomNotaCredito}}</td>
        </ng-container>
        <ng-container matColumnDef="facNotaCredito">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Número de factura</th>
            <td mat-cell *matCellDef="let row">{{row.facNotaCredito}}</td>
        </ng-container>
        <ng-container matColumnDef="cotNotaCredito">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cotización</th>
            <td mat-cell *matCellDef="let row">{{row.cotNotaCredito}}</td>
        </ng-container>
        <ng-container matColumnDef="razSocCliente">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Razón social</th>
            <td mat-cell *matCellDef="let row">{{row.razSocCliente}}</td>
        </ng-container>
        <ng-container matColumnDef="fFiscNotaCredito">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Folio fiscal</th>
            <td mat-cell *matCellDef="let row">{{row.fFiscNotaCredito}}</td>
        </ng-container>
        <ng-container matColumnDef="estOperacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</th>
            <td mat-cell *matCellDef="let row">{{row.estOperacion}}</td>
        </ng-container>
        <ng-container matColumnDef="fModNotaCredito">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de modificación</th>
            <td mat-cell *matCellDef="let row">{{row.fModNotaCredito}}</td>
        </ng-container>      
          <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item aria-label="Seguimiento" (click)="EditarVersion(row)" [hidden]="row.idEstOperacion==2">
                        <mat-icon>edit</mat-icon>
                        <span>Editar Versión</span>
                    </button>
                    <button mat-menu-item aria-label="Seguimiento" (click)="NuevaVersion(row)" [hidden]="row.idEstOperacion==2">
                        <mat-icon>fiber_new</mat-icon>
                        <span>Nueva versión</span>
                    </button>
                    <button mat-menu-item aria-label="Seguimiento" (click)="VerVersion(row)" >
                        <mat-icon>remove_red_eye</mat-icon>
                        <span>Ver versión</span>
                    </button>
                    <button mat-menu-item aria-label="Seguimiento" (click)='openDialog(row)' [hidden]="row.versNotaCredito == 1">  
                        <mat-icon>library_books</mat-icon>
                        <span>Ver versiones</span>
                    </button>    
                    <button mat-menu-item aria-label="Seguimiento" (click)="CambiarEstatus(row)" [hidden]="row.idEstOperacion==2">
                        <mat-icon> compare_arrows</mat-icon>
                        <span>Cambiar estatus</span>
                    </button>
                    <button mat-menu-item aria-label="Seguimiento" (click)="EliminarNotaCredito(row)" [hidden]="row.idEstOperacion==2">
                        <mat-icon>delete</mat-icon>
                        <span>Borrar version</span>
                    </button>
                    <button mat-menu-item aria-label="Seguimiento" (click)="Descartar(row)" [hidden]="row.idEstOperacion==2">  
                        <mat-icon>visibility_off</mat-icon>
                        <span>Descartar</span>
                    </button> 
                </mat-menu>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="Columns"></tr>
        <tr mat-row *matRowDef="let row; columns: Columns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[6, 12, 60, 120]"></mat-paginator>
</div>