<mat-card>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" matSort>          
        <ng-container matColumnDef="nomNotaCredito">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre de nota de crédito</th>
            <td mat-cell *matCellDef="let row">{{row.nomNotaCredito}}</td>
        </ng-container>
        <ng-container matColumnDef="facNotaCredito">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Número de factura</th>
            <td mat-cell *matCellDef="let row">{{row.facNotaCredito}}</td>
        </ng-container>
        <ng-container matColumnDef="cotNotaCredito">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cotización</th>
            <td mat-cell *matCellDef="let row">{{row.cotNotaCredito}}</td>
        </ng-container>
        <ng-container matColumnDef="razSocCliente">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Razón social</th>
            <td mat-cell *matCellDef="let row">{{row.razSocCliente}}</td>
        </ng-container>
        <ng-container matColumnDef="estOperacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</th>
            <td mat-cell *matCellDef="let row">{{row.estOperacion}}</td>
        </ng-container>
        <ng-container matColumnDef="fModNotaCredito">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de modificación</th>
            <td mat-cell *matCellDef="let row">{{row.fModNotaCredito}}</td>
        </ng-container>    
          <ng-container matColumnDef="Acciones">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                  <td mat-cell *matCellDef="let row">
                      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                          <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                          <button mat-menu-item aria-label="Seguimiento" (click)="Traspasar2(row,1)" >
                              <mat-icon>remove_red_eye</mat-icon>
                              <span>Ver versión</span>
                          </button>
                          <button mat-menu-item aria-label="Seguimiento" (click)="Traspasar2(row,2)" [hidden]="row.idEstOperacion==2">
                              <mat-icon>fiber_new</mat-icon>
                              <span>Crear versión</span>
                          </button>      
                      </mat-menu>
                  </td>
          </ng-container>          
          <tr mat-header-row *matHeaderRowDef="Columns"></tr>
          <tr mat-row *matRowDef="let row; columns: Columns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,20,30]"></mat-paginator>
    </div>
    </mat-card>
    <a routerLink="/notacredito"><button mat-stroked-button class="btn btn-outline-secondary">Regresar</button></a>