<div class="card">
    <div class="card-body">
        <mat-card>
            <div class="example-container">
                <mat-form-field>
                    <input matInput placeholder="Proveedor" [value]="nomPro" disabled>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Ordenes" [matAutocomplete]="ordenes" [formControl]="stateCtrlOrd">
                    <mat-autocomplete #ordenes="matAutocomplete">
                        <mat-option *ngFor="let O of FilteredOrd | async" [value]="O.nomOrden" (click)="RellenarTablaArt(O.idOrden,O.versOrden)">
                            <span>{{O.nomOrden}}</span>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field>
                    <textarea matInput placeholder="Facturas" [(ngModel)]="entrada.Facturas"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <textarea matInput placeholder="Referencia" [(ngModel)]="entrada.Referencia"></textarea>
                </mat-form-field>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
                    <mat-form-field>
                        <input matInput placeholder="Flete" type="number" [(ngModel)]="entrada.gastos">
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
                    <mat-form-field>
                        <input matInput placeholder="Empaque" type="number" [(ngModel)]="entrada.empaque">
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
                    <mat-form-field>
                        <input matInput placeholder="Instalacion" type="number" [(ngModel)]="entrada.instalacion">
                    </mat-form-field>
                </div>
            </div>
            <br>
            <mat-form-field>
                <input matInput  [matDatepicker]="picker" placeholder="Fecha de recibido" [(ngModel)]="entrada.fecha">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </mat-card>
        <br>
        <mat-card *ngIf="validadorHtml != 0">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <mat-form-field>
                        <input matInput placeholder="Area" type="text" [value]="area" disabled>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <mat-form-field>
                        <input matInput placeholder="Area" type="text" [(ngModel)]="entradaArticulo.idPartida" disabled>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <mat-form-field>
                        <input matInput placeholder="Orden" type="text" [(ngModel)]="entradaArticulo.nomOrd" disabled>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <mat-form-field>
                        <input matInput placeholder="Cotizacion" type="text" [(ngModel)]="entradaArticulo.nomCot"  disabled>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <mat-form-field>
                        <input matInput placeholder="Modelo" type="text" [(ngModel)]="entradaArticulo.modeloArt" disabled>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <mat-form-field>
                        <input matInput placeholder="Nombre" type="text" [(ngModel)]="entradaArticulo.nomArt" disabled>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <mat-form-field>
                        <input matInput placeholder="Cantidad" [(ngModel)]="entradaArticulo.cantidad" (keyup)="ValidarButton()">
                    </mat-form-field>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2">
                    <i class="fas fa-truck-loading"></i><span class="badge badge-info ml-2">{{ArticuloFaltante}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2">
                    <button mat-stroked-button class="btn btn-outline-info" (click)="Actualizar()">Actualizar</button>&nbsp;
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2">
                    <button mat-stroked-button class="btn btn-outline-warning" (click)="CancelarArt()">Cancelar</button>
                </div>
            </div>
        </mat-card>
        <br>
        <mat-card>
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" matSort>                             
                    <ng-container matColumnDef="nomOrden">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Orden</th>
                        <td mat-cell *matCellDef="let row">{{row.nomOrden}}</td>
                    </ng-container>
                    <ng-container matColumnDef="nomCotizacion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cotizacion</th>
                        <td mat-cell *matCellDef="let row">{{row.nomCotizacion}}</td>
                    </ng-container>                            
                    <ng-container matColumnDef="areaCotizacion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Area</th>
                        <td mat-cell *matCellDef="let row">{{row.areaCotizacion}}</td>
                    </ng-container>
                    <ng-container matColumnDef="idPartida">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Partida</th>
                        <td mat-cell *matCellDef="let row">{{row.idPartida}}</td>
                    </ng-container>
                    <ng-container matColumnDef="modArticulo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Modelo</th>
                        <td mat-cell *matCellDef="let row">{{row.modArticulo}}</td>
                    </ng-container>                            
                    <ng-container matColumnDef="nomArticulo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                        <td mat-cell *matCellDef="let row">{{row.nomArticulo}}</td>
                    </ng-container>                            
                    <ng-container matColumnDef="resArticulo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Restante</th>
                        <td mat-cell *matCellDef="let row">{{row.resArticulo}}</td>
                    </ng-container>                            
                    <ng-container matColumnDef="cantArticulo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ordenado</th>
                        <td mat-cell *matCellDef="let row">{{row.cantArticulo}}</td>
                    </ng-container>
                    <ng-container matColumnDef="impArticulo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Importe</th>
                        <td mat-cell *matCellDef="let row">{{row.impArticulo}}</td>
                    </ng-container>
                    <ng-container matColumnDef="cveMoneda">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Moneda</th>
                        <td mat-cell *matCellDef="let row">{{row.cveMoneda}}</td>
                    </ng-container>
                    <ng-container matColumnDef="Acciones">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item aria-label="Seguimiento" (click)="CargarDatosArt(row,1)">
                                    <mat-icon>edit</mat-icon>
                                    <span>Editar</span>
                                </button>
                                <button mat-menu-item aria-label="Seguimiento" (click)="CargarDatos(row,2)">
                                    <mat-icon>delete</mat-icon>
                                    <span>Borrar</span>
                                </button> 
                            </mat-menu>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="Columns"></tr>
                    <tr mat-row *matRowDef="let row; columns: Columns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10,20,30]"></mat-paginator>
            </div>
        </mat-card>
        <br>
        <mat-card>
            <div class="example-container">
                <mat-label>Observaciones</mat-label>
                <mat-form-field>
                    <textarea matInput placeholder="Observaciones" [(ngModel)]="entrada.observaciones"></textarea>
                </mat-form-field>
            </div>
        </mat-card>
        <br>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2">
                <button mat-stroked-button class="btn btn-outline-info" (click)="GuardarEntrada()">Actualizar</button>&nbsp;
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2">
                <button mat-stroked-button class="btn btn-outline-warning" (click)="CancelarEntrada()">Cancelar</button>
            </div>
        </div>
    </div>
</div>