<div mat-dialog-content>
  <mat-form-field>
      <input matInput placeholder="Nombre" type="text" name="nombre" [(ngModel)]="ivas.iva">
  </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-stroked-button class="btn btn-outline-info" (click)="Editar()" [hidden]="ivas.idIva == 0">Actualizar</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-success" (click)="Nuevo()" [hidden]="ivas.idIva != 0">Guardar</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-warning" (click)="onNoClick()">Cancelar</button>
</div>