<h3>Nuevo Articulo</h3>
<mat-card>
	<h5>Caracteristicas</h5>
	<mat-form-field>
		<mat-label>Tipo de Articulo</mat-label>
		<mat-select [(ngModel)]="catalagos.idClas" required>
			<mat-option selected>Seleccione...</mat-option>
			<mat-option *ngFor="let A of Clasificacion" [value]="A.idClasArticulo" (click)="Categorias(A.idClasArticulo)">{{A.clasArticulo}}</mat-option>
		</mat-select>
	</mat-form-field>		
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
			<mat-form-field>
				<mat-label>Categoria</mat-label>
				<mat-select [(ngModel)]="catalagos.idTipo" required>
					<mat-option>Seleccione...</mat-option>
					<mat-option *ngFor="let T of tipos" [value]="T.idCatArticulo">{{T.catArticulo}}</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
			<mat-form-field>
				<mat-label>Marca</mat-label>
				<input matInput [matAutocomplete]="auto" [formControl]="stateMarca" required>
				<mat-autocomplete #auto="matAutocomplete" (optionSelected)="ObtMarca($event.option.id)">
					<mat-option>Seleccione...</mat-option>
					<mat-option *ngFor="let M of FilterMarca | async" [value]="M.marcArticulo" [id]="M.idMarcArticulo">{{M.marcArticulo}}</mat-option>
				</mat-autocomplete>
			</mat-form-field>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
			<mat-form-field>
				<mat-label>Unidad Medida</mat-label>
				<mat-select [(ngModel)]="catalagos.idUMed" required>
					<mat-option selected>Seleccione...</mat-option>
					<mat-option *ngFor="let UM of unidad" [value]="UM.idMedArticulo">{{UM.medArticulo}} - {{UM.cveMedArticulo}}</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
			<mat-form-field>
				<mat-label>Departamento</mat-label>
				<mat-select [(ngModel)]="catalagos.idDep" [disabled]="catalagos.idClas == 2" required>
					<mat-option selected>Seleccione...</mat-option>
					<mat-option *ngFor="let D of departamento" [value]="D.idDepArticulo" (click)="Grupos(D.idDepArticulo)">{{D.depArticulo}}</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
			<mat-form-field>
				<mat-label>Grupo</mat-label>
				<mat-select [(ngModel)]="catalagos.idGru" [disabled]="catalagos.idClas == 2" required>
					<mat-option selected>Seleccione...</mat-option>
					<mat-option *ngFor="let G of grupo" [value]="G.idGruArticulo" (click)="Lineas(G.idGruArticulo)">{{G.gruArticulo}}</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
			<mat-form-field>
				<mat-label>Linea</mat-label>
				<mat-select name="idLine" [(ngModel)]="catalagos.idLine" [disabled]="catalagos.idClas == 2" required>
				<mat-option selected>Seleccione...</mat-option>
					<mat-option *ngFor="let L of linea" [value]="L.idLinArticulo">{{L.linArticulo}}</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</div>
</mat-card><br />		
<mat-card>
	<h5>Datos Generales</h5>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
			<mat-form-field>
				<mat-label>Modelo</mat-label>
				<input matInput [(ngModel)]="catalagos.Model" required>
			</mat-form-field>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
			<mat-form-field>
				<mat-label>Codigo SAT</mat-label>
				<input matInput [(ngModel)]="catalagos.SAT" required>
			</mat-form-field>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
			<mat-form-field>
				<mat-label>Nombre</mat-label>
				<input matInput [(ngModel)]="catalagos.Nom" required>
			</mat-form-field>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
			<mat-form-field class="example-full-width">
				<mat-label>Descripcion</mat-label>
				<textarea matInput [(ngModel)]="catalagos.Des" required></textarea>
			</mat-form-field>
		</div>
	</div>
</mat-card><br />
<mat-card>		
	<h5>Medidas e Instalacion</h5>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
			<mat-checkbox class="example-margin" [(ngModel)]="checked" (change)="Dimenciones()" [disabled]="catalagos.idClas == 2">Diseño</mat-checkbox>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
			<mat-form-field>
				<mat-label>Frente</mat-label>
				<input matInput type="number" min="0" [(ngModel)]="catalagos.Frente" [disabled]="checked == false">
				<span matSuffix>&nbsp;m</span>
			</mat-form-field>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
			<mat-form-field>
				<mat-label>Profundidad</mat-label>
				<input matInput type="number" min="0" [(ngModel)]="catalagos.Profundidad" [disabled]="checked == false">
				<span matSuffix>&nbsp;m</span>
			</mat-form-field>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
			<mat-form-field>
				<mat-label>Altura</mat-label>
				<input matInput type="number" min="0" [(ngModel)]="catalagos.Altura" [disabled]="checked == false">
				<span matSuffix>&nbsp;m</span>
			</mat-form-field>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
			<mat-checkbox class="example-margin" [(ngModel)]="checkedplo" (change)="TiposPlomeria()" [disabled]="catalagos.idClas == 2">Plomerias</mat-checkbox>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
			<mat-form-field>
				<mat-label>Plomeria</mat-label>
				<mat-select aria-placeholder="Plomeria" [(value)]="TipoPlomeria" [disabled]="checkedplo == false" multiple>
					<mat-option *ngFor="let P of plomerias" [value]="P.idTuberia">{{P.tuberia}}</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
			<mat-form-field>
				<mat-label>Electrico</mat-label>
				<mat-select name="idElectrico" [(ngModel)]="catalagos.idElectrico" [disabled]="catalagos.idClas == 2" required>
					<mat-option selected>Seleccione...</mat-option>
					<mat-option *ngFor="let E of energias" [value]="E.idEneElectrica">{{E.eneElectrica}}</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
			<mat-form-field>
				<mat-label>Calor</mat-label>
				<mat-select name="idGas" [(ngModel)]="catalagos.idGas"  [disabled]="catalagos.idClas == 2" required>
					<mat-option required>Seleccione...</mat-option>
					<mat-option *ngFor="let G of gaces" [value]="G.idEneCalorifica" >{{G.eneCalorifica}}</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</div>
</mat-card><br />
<mat-card>
	<button mat-stroked-button class="btn btn-outline-success" (click)="ValidarMultiSelect()">Guardar</button>&nbsp;
	<a routerLink="/catalago"><button mat-stroked-button class="btn btn-outline-warning">Cancelar</button></a>
</mat-card>