<div>
    <mat-toolbar color="primary">
        <mat-toolbar-row>            
            <span>Proyectos Asignados</span>&nbsp;
            <button mat-stroked-button class="btn btn-outline-primary" (click)='Reset();openDialog()'>Asignar Proyecto a Cliente</button>&nbsp;
            <a routerLink="/proyectos"><button mat-stroked-button class="btn btn-outline-secondary">Regresar</button></a>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<mat-form-field>
    <mat-label>Busqueda</mat-label>
    <input matInput (keyup)="Filtro($event.target.value)">
</mat-form-field>
<div class="table-responsive">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="acciones">
          <th title="Acciones" mat-header-cell *matHeaderCellDef><mat-icon>offline_bolt</mat-icon></th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item  data-toggle="modal" (click)="Cargar(row)">
                        <mat-icon>comment</mat-icon>
                        <span>Editar</span>
                    </button>
                    <button mat-menu-item (click)="Eliminar(row)" >
                        <mat-icon>delete</mat-icon>
                        <span>Borrar</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container> 
        <ng-container matColumnDef='nomProyecto'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Proyecto</th>
            <td mat-cell *matCellDef="let row"><span class="btn btn-outline-success">{{row.nomProyecto}}</span></td>
        </ng-container>
        <ng-container matColumnDef='compCliente'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
            <td mat-cell *matCellDef="let row"><span class="btn btn-outline-info">{{row.compCliente}}</span></td>
        </ng-container>    
        <ng-container matColumnDef='estProyecto'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</th>
            <td mat-cell *matCellDef="let row">{{row.estProyecto}}</td>
        </ng-container> 
        <ng-container matColumnDef='progProyecto'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Progreso</th>
            <td mat-cell *matCellDef="let row">{{row.progProyecto}}</td>
        </ng-container> 
        <ng-container matColumnDef='fModProyecto'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Modificacion</th>
            <td mat-cell *matCellDef="let row">{{row.fModProyecto | date:'dd/MM/yyyy'}}</td>
        </ng-container>
        <ng-container matColumnDef="usuario">
            <th mat-header-cell *matHeaderCellDef>Ult. Acceso</th>
            <td mat-cell *matCellDef="let row"><span class="btn btn-outline-secondary">{{row.usuario}}</span></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="Columns"></tr>
        <tr mat-row *matRowDef="let row; columns: Columns;"></tr>  
    </table>
</div>
<mat-paginator [pageSizeOptions]="[6, 12, 60, 120]"></mat-paginator>