<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Cliente</mat-label>
        <input matInput [matAutocomplete]='AutoCli' [formControl]='stateCtrlCli' id='Cliente' required>
        <mat-autocomplete #AutoCli='matAutocomplete' (optionSelected)='setCliente($event.option.id)'>
            <mat-option>Seleccione...</mat-option>
            <mat-option *ngFor="let C of FilteredCli | async" [value]="C.compCliente" [id]='C.idCliente' (click)='setCliente(C.idCliente)'>{{C.compCliente}}</mat-option>
        </mat-autocomplete>   
    </mat-form-field>
    <mat-form-field>
        <mat-label>Proyecto</mat-label>
        <input matInput [matAutocomplete]='AutoPro' [formControl]='stateCtrlPro' id='Proyecto' required>
        <mat-autocomplete #AutoPro='matAutocomplete'(optionSelected)='setProyecto($event.option.id)'>
            <mat-option>Seleccione...</mat-option>
            <mat-option *ngFor="let P of FilteredPro | async" [value]="P.nomProyecto" [id]='P.idProyecto' (click)='setProyecto(P.idProyecto)'>{{P.nomProyecto}}</mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <div class=row>
        <div class='col-lg-4 col-md-3 col-sm-4 col-xs-3'>
            <mat-form-field>
                <mat-label>Estatus</mat-label>
                <mat-select name="estatus" [(ngModel)]="clienteProyectos.idEstProyecto" required>
                    <mat-option>Seleccione...</mat-option>
                    <mat-option *ngFor="let E of estatus" [value]="E.idEstProyecto">{{ E.estProyecto }}</mat-option>
                </mat-select> 
            </mat-form-field>
        </div>
        <div class='col-lg-4 col-md-3 col-sm-4 col-xs-3'>
            <mat-form-field>
                <mat-label>Progreso</mat-label>
                <mat-select name="progreso" [(ngModel)]="clienteProyectos.idProgProyecto" required>
                    <mat-option>Seleccione...</mat-option>
                    <mat-option *ngFor="let Py of progreso" [value]="Py.idProgProyecto">{{ Py.progProyecto }}</mat-option>
                </mat-select>
                <span matSuffix>%</span>  
            </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-stroked-button class="btn btn-outline-success"id='Nuevo' (click)='Nuevo()' [hidden]="clienteProyectos.idPrioProyecto != 0">Guardar</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-info"id='Actualizar' (click)='Editar()' [hidden]="clienteProyectos.idPrioProyecto == 0">Actualizar</button>&nbsp;    
    <button mat-stroked-button class="btn btn-outline-warning"(click)='onNoClick()'>Cancelar</button>
</div>