<div class="card">
    <mat-toolbar><span>Creacion de usuarios</span></mat-toolbar>
    <div class="card-body">
        <form #formUsuario="ngForm" (ngSubmit)="Crear()">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Username" type="text" name="usuario" [(ngModel)]="usuario.usuario">
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Contraseña" type="password" name="contrasena" [(ngModel)]="usuario.contrasena">
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="CURP" type="text" name="curp" [(ngModel)]="usuario.curp">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Nombre" type="text" name="nombre" [(ngModel)]="usuario.nombre">
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Apellido Paterno" type="text" name="APaterno" [(ngModel)]="usuario.APaterno">
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Apellido Materno" type="text" name="AMaterno" [(ngModel)]="usuario.AMaterno">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Correo Electronico" type="text" name="correo" [(ngModel)]="usuario.correo">
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3">
                    <mat-form-field class="example-full-width">
                        <mat-select placeholder="Estatus" name="idStatus" [(ngModel)]="usuario.idStatus">
                            <mat-option *ngFor="let S of selcEstatus" [value]="S.idEstUsuario">{{S.estUsuario}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3">
                    <mat-form-field class="example-full-width">
                        <mat-select placeholder="Rol" name="idRol" [(ngModel)]="usuario.idRol">
                            <mat-option *ngFor="let R of selcRol" [value]="R.idRolUsuario">{{R.rolUsuario}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <button mat-stroked-button class="btn btn-outline-success">Guardar</button>&nbsp;
        </form>
        <button mat-stroked-button class="btn btn-outline-warning" (click) = "Regresar()">Cancelar</button>
    </div>
</div>