<div class="card">
    <div class="card-body">
        <mat-card>
            <div class="example-container">
                <mat-form-field>
                    <mat-label>Tipo Orden</mat-label>
                    <mat-select [(ngModel)]="orden.idTipoOrden">
                        <mat-option *ngFor="let T of tipoOrd" [value]="T.idTipOperacion" (click)="ObtTipo(T.idTipOperacion)">{{T.tipOperacion}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Proveedores" [matAutocomplete]="autoPro" [formControl]="stateProveedor">
                    <mat-autocomplete #autoPro="matAutocomplete" (optionSelected)="ObtProveedor($event.option.id)">
                        <mat-option *ngFor="let P of FiltereProveedor | async" [value]="P.nomProveedor" [id]="P.idProveedor">{{P.nomProveedor}}</mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field *ngIf="orden.idTipoOrden == 1">
                    <input matInput placeholder="Cotizaciones" [matAutocomplete]="autoCot" [formControl]="stateCtrl">
                    <mat-autocomplete #autoCot="matAutocomplete" (optionSelected)="ArticulosCot($event.option.id)">
                        <mat-option *ngFor="let C of FilteredCot | async" [value]="C.nomCotizacion" [id]="C">{{C.nomCotizacion}}</mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Referencia" type="text" [(ngModel)]="orden.ref">
                </mat-form-field>
            </div>
        </mat-card>
        <br>
        <mat-card *ngIf="orden.idTipoOrden == 3 || ordenArticulo.ubicador == 1">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3" [hidden] = "orden.idTipoOrden == 3">
                    <mat-form-field>
                        <mat-label>Area Cotizacion</mat-label>
                        <mat-select  [(ngModel)]="ordenArticulo.idArea" [disabled]="ordenArticulo.ubicador == 1">
                            <mat-option *ngFor="let A of areas" [value]="A.idAreaCotizacion">{{A.areaCotizacion}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3" [hidden] = "orden.idTipoOrden == 3">
                    <mat-form-field>
                        <input matInput placeholder="Partida" [(ngModel)]="ordenArticulo.idPartida" [disabled]="ordenArticulo.ubicador == 1">
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <mat-form-field>
                        <input matInput placeholder="Articulo" [matAutocomplete]="autoArticulo" [formControl]="stateCtrlArt">
                        <mat-autocomplete #autoArticulo="matAutocomplete" (optionSelected)="ObtArticulo($event.option.id)">
                            <mat-option  *ngFor="let Art of FilteredArt  | async" [value]="Art.modArticulo" [id]="Art">
                                <span>{{Art.modArticulo}}</span>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <mat-form-field>
                        <input matInput placeholder="Nombre" type="text" [value]="NombreArt" disabled>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2">
                    <mat-form-field>
                        <input matInput placeholder="Costo" type="text" [(ngModel)]="ordenArticulo.precio" disabled>
                    </mat-form-field>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2">
                    <mat-form-field>
                        <mat-label>Moneda</mat-label>
                        <mat-select [(ngModel)]="ordenArticulo.idMon" disabled>
                            <mat-option *ngFor="let M of moneda" [value]="M.idMoneda">{{M.cveMoneda}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2">
                    <mat-form-field>
                        <mat-label>Iva</mat-label>
                        <mat-select [(ngModel)]="ordenArticulo.idIva">
                            <mat-option *ngFor="let I of iva" [value]="I.idIva">{{I.iva}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2">
                    <mat-form-field>
                        <input matInput placeholder="Cantidad" [(ngModel)]="ordenArticulo.cantida" (keyup)="ValidarButton()">
                    </mat-form-field>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2">
                    <mat-form-field>
                        <input matInput placeholder="Descuento" [(ngModel)]="ordenArticulo.descuento">
                    </mat-form-field>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2" [hidden] = "orden.idTipoOrden == 3">
                    <i class="fas fa-truck-loading"></i><span class="badge badge-info ml-2">{{ArticuloFaltante}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2">
                    <button mat-stroked-button class="btn btn-outline-success" [hidden]="ordenArticulo.ubicador != 0" (click)="Guardar()">Guardar</button>
                    <button mat-stroked-button class="btn btn-outline-info" [hidden]="ordenArticulo.ubicador == 0" [disabled]="disabled == 1" (click)="Actualizar()">Actualizar</button>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2">
                    <button mat-stroked-button class="btn btn-outline-warning" (click)="Cancelar()">Cancelar</button>
                </div>
            </div>
        </mat-card>
        <br>
        <mat-card>
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" matSort>                    
                    <ng-container matColumnDef="idPartida">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Partida</th>
                        <td mat-cell *matCellDef="let row">{{row.idPartida}}</td>
                    </ng-container>   
                    <ng-container matColumnDef="nomCotizacion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header [hidden] = "orden.idTipoOrden == 3">Cotizacion</th>
                        <td mat-cell *matCellDef="let row" [hidden] = "orden.idTipoOrden == 3">{{row.nomCotizacion}}</td>
                    </ng-container> 
                    <ng-container matColumnDef="areaCotizacion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header [hidden] = "orden.idTipoOrden == 3">Area</th>
                        <td mat-cell *matCellDef="let row" [hidden] = "orden.idTipoOrden == 3">{{row.areaCotizacion}}</td>
                    </ng-container>
                    <ng-container matColumnDef="modArticulo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Modelo</th>
                        <td mat-cell *matCellDef="let row">{{row.modArticulo}}</td>
                    </ng-container>
                    <ng-container matColumnDef="nomArticulo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Articulo</th>
                        <td mat-cell *matCellDef="let row">{{row.nomArticulo}}</td>
                    </ng-container>            
                    <ng-container matColumnDef="marcArticulo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Marca</th>
                        <td mat-cell *matCellDef="let row">{{row.marcArticulo}}</td>
                    </ng-container>            
                    <ng-container matColumnDef="cantArticulo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
                        <td mat-cell *matCellDef="let row">{{row.cantArticulo}}</td>
                    </ng-container>            
                    <ng-container matColumnDef="cosArticulo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Costo</th>
                        <td mat-cell *matCellDef="let row">{{row.cosArticulo}}</td>
                    </ng-container>
                    <ng-container matColumnDef="dctoArticulo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Descuento</th>
                        <td mat-cell *matCellDef="let row">{{row.dctoArticulo}}</td>
                    </ng-container>            
                    <ng-container matColumnDef="iva">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Iva</th>
                        <td mat-cell *matCellDef="let row">{{row.iva}}</td>
                    </ng-container>            
                    <ng-container matColumnDef="subArticulo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>SubTotal</th>
                        <td mat-cell *matCellDef="let row">{{row.subArticulo}}</td>
                    </ng-container>            
                    <ng-container matColumnDef="impArticulo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Importe</th>
                        <td mat-cell *matCellDef="let row">{{row.impArticulo}}</td>
                    </ng-container>            
                    <ng-container matColumnDef="cveMoneda">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Moneda</th>
                        <td mat-cell *matCellDef="let row">{{row.cveMoneda}}</td>
                    </ng-container>            
                    <ng-container matColumnDef="Acciones">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
                            <td mat-cell *matCellDef="let row">
                                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item aria-label="Seguimiento" (click)="CargarArticulo(row)">
                                        <mat-icon>edit</mat-icon>
                                        <span>Editar</span>
                                    </button>
                                    <button mat-menu-item aria-label="Seguimiento" (click)="Borrar(row)">
                                        <mat-icon>delete</mat-icon>
                                        <span>Borrar</span>
                                    </button>      
                                </mat-menu>
                            </td>
                    </ng-container>            
                    <tr mat-header-row *matHeaderRowDef="Columns"></tr>
                    <tr mat-row *matRowDef="let row; columns: Columns;"></tr>
                </table>
            </div>
        </mat-card>
        <br>
        <mat-card>
            <div class="example-container">
                <mat-form-field>
                    <mat-label>Encabezado</mat-label>
                    <textarea matInput name="Encabezado" [(ngModel)]="orden.encabezado" required></textarea>
                </mat-form-field>  
                <mat-form-field>
                    <mat-label>Pie de pagina</mat-label>
                    <textarea matInput name="Pie de pagina" [(ngModel)]="orden.pie" required></textarea>
                </mat-form-field>    
                <mat-form-field>
                    <mat-label>Observacioes</mat-label>
                    <textarea matInput name="Obsercaciones" [(ngModel)]="orden.observaciones" required></textarea>
                </mat-form-field>    
            </div>
        </mat-card>
        <br>
        <button mat-stroked-button class="btn btn-outline-success" (click)="GuardarOrden()">Guardar</button>
        <a routerLink="/orden"><button mat-stroked-button class="btn btn-outline-warning">Cancelar</button></a>
    </div>
</div>