<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Clasificación</mat-label>
        <mat-select [(ngModel)]="vincular.idClas" id="Select" required >
            <mat-option *ngFor="let Q of selClas" [value]="Q.idClasArticulo" >{{Q.clasArticulo}}</mat-option>
        </mat-select>
    </mat-form-field>
    
</div>
<div mat-dialog-content>
  <mat-form-field>
      <mat-label>Categoría</mat-label>
      <mat-select [(ngModel)]="vincular.idCategoria" id="Select" required >
          <mat-option *ngFor="let P of selCategoria" [value]="P.idCatArticulo">{{P.catArticulo}}</mat-option>
      </mat-select>
  </mat-form-field>
  
</div>

<div mat-dialog-actions>
    <button mat-stroked-button class="btn btn-outline-info" (click)="Editar()" [hidden]="vincular.link ==0"> Actualizar</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-success" (click)="Nuevo()" [hidden]="vincular.link !=0">Guardar</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-warning" (click)="onNoClick()"> Cancelar</button>
</div>
