table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 50%;
  }
  
  td, th {
    width: 13%;
  }
  
  .mat-toolbar.mat-primary {
    background:white;
    color: black;
  }
  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .example-button-row button,
  .example-button-row a {
    margin-right: 8px;
  }

  #Editar {
    display: none;
  }

  #EditarAticipo {
    display: none;
  }