<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Catalogo</span>&nbsp;
      <a routerLink="/catalago/crear"><button mat-stroked-button class="btn btn-outline-primary">Nuevo Articulo</button></a>&nbsp;
      <a routerLink="/catalogo/articulos"><button mat-stroked-button class="btn btn-outline-danger">Articulos asignados</button></a>&nbsp;
      <a routerLink="/catalago/desactivados"><button mat-stroked-button class="btn btn-outline-dark">Desactivados</button></a>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<mat-form-field>
  <mat-label>Busqueda</mat-label>
  <input matInput (keyup)="Filtro($event.target.value)">
</mat-form-field>
<div class="table-responsive">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="acciones">
      <th title="Acciones" mat-header-cell *matHeaderCellDef><mat-icon>offline_bolt</mat-icon></th>
        <td mat-cell *matCellDef="let row">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item aria-label="Seguimiento" (click)="ObtenerDatos(row)">
                <mat-icon>edit</mat-icon>
                <span>Editar</span>
              </button>
              <button mat-menu-item aria-label="Seguimiento" (click)="DesactivarArticulo(row)">
                <mat-icon>visibility_off</mat-icon>
                <span>Desactivar</span>
              </button>
              <button mat-menu-item aria-label="Seguimiento" (click)="Eliminar(row)">
                <mat-icon>delete</mat-icon>
                <span>Borrar</span>
              </button>
            </mat-menu>
        </td>
    </ng-container>
    <ng-container matColumnDef="modArticulo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Modelo</th>
        <td mat-cell *matCellDef="let row"><span class="btn btn-outline-info">{{row.modArticulo}}</span></td>
    </ng-container>
    <ng-container matColumnDef="codSatArticulo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo SAT</th>
        <td mat-cell *matCellDef="let row"><span class="btn btn-outline-success">{{row.codSatArticulo}}</span></td>
    </ng-container>
    <ng-container matColumnDef="clasArticulo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Clase de Articulo</th>
        <td mat-cell *matCellDef="let row">{{row.clasArticulo}}</td>
    </ng-container>
    <ng-container matColumnDef="nomArticulo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre del Articulo</th>
        <td mat-cell *matCellDef="let row">{{row.nomArticulo}}</td>
    </ng-container>
    <ng-container matColumnDef="dimArticulo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Dimensiones (m)</th>
        <td mat-cell *matCellDef="let row" >{{row.dimArticulo}}</td>
    </ng-container>
    <ng-container matColumnDef="marcArticulo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Marca</th>
        <td mat-cell *matCellDef="let row">{{row.marcArticulo}}</td>
    </ng-container>
    <ng-container matColumnDef="depArticulo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Departamento</th>
        <td mat-cell *matCellDef="let row">{{row.depArticulo}}</td>
    </ng-container>
    <ng-container matColumnDef="linArticulo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Linea</th>
      <td mat-cell *matCellDef="let row">{{row.linArticulo}}</td>
    </ng-container>
    <ng-container matColumnDef="gruArticulo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Grupo</th>
        <td mat-cell *matCellDef="let row">{{row.gruArticulo}}</td>
    </ng-container>
    <ng-container matColumnDef="catArticulo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoria</th>
        <td mat-cell *matCellDef="let row">{{row.catArticulo}}</td>
    </ng-container>
    <ng-container matColumnDef="fAltArticulo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ingreso</th>
        <td mat-cell *matCellDef="let row">{{row.fAltArticulo | date:'dd/MM/yyyy'}}</td>
    </ng-container>
    <ng-container matColumnDef="fModArticulo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Modificacion</th>
        <td mat-cell *matCellDef="let row">{{row.fModArticulo | date:'dd/MM/yyyy'}}</td>
    </ng-container>
    <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ult. Acceso</th>
        <td mat-cell *matCellDef="let row"><span class="btn btn-outline-secondary">{{row.usuario}}</span></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="Columns"></tr>
    <tr mat-row *matRowDef="let row; columns: Columns;"></tr>
  </table>
</div>
<mat-paginator [pageSizeOptions]="[6, 12, 60, 120]"></mat-paginator>
