<div>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Salidas</span>&nbsp;
            <a routerLink="/salida/crear"><button mat-stroked-button class="btn btn-outline-primary">Crear Salida</button></a>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<mat-form-field>
    <input matInput (keyup)="Filtro($event.target.value)" placeholder="Filtro">
</mat-form-field>
<div class="table-responsive">
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="nomSalida">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Salida </th>
            <td mat-cell *matCellDef="let row"><mdb-badge primary="true">{{row.nomSalida}}</mdb-badge>  </td>
          </ng-container>

        <ng-container matColumnDef="entSalida">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Entrada </th>
            <td mat-cell *matCellDef="let row"> {{row.entSalida}} </td>
        </ng-container>      
          <!-- Progress Column -->
        <ng-container matColumnDef="ordSalida">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Orden </th>
            <td mat-cell *matCellDef="let row"> {{row.ordSalida}} </td>
        </ng-container>

        <ng-container matColumnDef="cotSalida">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cotizacion </th>
            <td mat-cell *matCellDef="let row"> {{row.cotSalida}} </td>
        </ng-container>

        <ng-container matColumnDef="estOperacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
            <td mat-cell *matCellDef="let row"> {{row.estOperacion}} </td>
        </ng-container>

        <ng-container matColumnDef="compCliente">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
            <td mat-cell *matCellDef="let row"> {{row.compCliente}} </td>
        </ng-container>

        <ng-container matColumnDef="totSalida">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Importe </th>
            <td mat-cell *matCellDef="let row"> {{row.totSalida}} </td>
        </ng-container>

        <ng-container matColumnDef="fModSalida">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Modificacion </th>
            <td mat-cell *matCellDef="let row"> {{row.fModSalida}} </td>
        </ng-container>

        <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item aria-label="Seguimiento" [hidden]="row.idEstOperacion == 2" (click)="Editar(row)">
                        <mat-icon>edit</mat-icon>
                        <span>Editar Version</span>
                    </button>
                    <button mat-menu-item aria-label="Seguimiento" [hidden]="row.idEstOperacion == 2" (click)="NuevaVersion(row)">
                        <mat-icon>edit</mat-icon>
                        <span>Nueva Version</span>
                    </button>
                    <button mat-menu-item aria-label="Borrar" [hidden]="row.idEstOperacion == 2" (click)="OpendEstatus(row)">
                        <mat-icon>loop</mat-icon>
                        <span>Cambiar Estatus</span>
                    </button>
                    <!--button mat-menu-item aria-label="Agregar" [hidden]="row.idEstOperacion != 2">
                        <mat-icon>add_circle</mat-icon>
                        <span>Agregar Folio Fiscal</span>
                    </button>
                    <button mat-menu-item aria-label="Borrar" [hidden]="row.idEstOperacion != 2" >
                        <mat-icon>remove_red_eye</mat-icon>
                        <span>Version</span>
                    </button-->
                    <button mat-menu-item aria-label="Borrar" (click)="Eliminar(row)" [hidden]="row.idEstOperacion == 2">
                        <mat-icon>delete</mat-icon>
                        <span>Borrar</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="Columns"></tr>
        <tr mat-row *matRowDef="let row; columns: Columns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[6, 12, 60, 120]"></mat-paginator>
</div>