<div>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Articulos Asignados</span>&nbsp;
            <button mat-stroked-button class="btn btn-outline-primary" (click)='Reset();openDialog(1)' [hidden]="idRol == 0">Asignar Articulo a Proveedor</button>&nbsp;
            <a routerLink="/catalago"><button mat-stroked-button class="btn btn-outline-secondary">Regresar</button></a>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<mat-form-field>
    <mat-label>Busqueda</mat-label>
    <input matInput (keyup)="Filtro($event.target.value)">
</mat-form-field>
<div class="table-responsive">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="acciones">
            <th title="Acciones" mat-header-cell *matHeaderCellDef><mat-icon>offline_bolt</mat-icon></th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item  data-toggle="modal" data-target="#anakin" (click)="Cargar(row)">
                        <mat-icon>comment</mat-icon>
                        <span>Editar</span>
                    </button>
                    <button mat-menu-item (click)="Eliminar(row)" >
                        <mat-icon>delete</mat-icon>
                        <span>Borrar</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>
        <ng-container matColumnDef='modArticulo'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Modelo</th>
            <td mat-cell *matCellDef="let row"><span class="btn btn-outline-success">{{row.modArticulo}}</span></td>
        </ng-container>
        <ng-container matColumnDef='nomArticulo'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Articulo</th>
            <td mat-cell *matCellDef="let row">{{row.nomArticulo}}</td>
        </ng-container>
        <ng-container matColumnDef='nomProveedor'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Proveedor</th>
            <td mat-cell *matCellDef="let row"><span class="btn btn-outline-info">{{row.nomProveedor}}</span></td>
        </ng-container>     
        <ng-container matColumnDef='exisArticulo'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Existencia</th>
            <td mat-cell *matCellDef="let row" class="cell-right">{{row.exisArticulo | number:'1.4-4'}}</td>
        </ng-container>
        <ng-container matColumnDef='precArticulo'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="idRol == 0">Precio Lista</th>
            <td mat-cell *matCellDef="let row" [hidden]="idRol == 0" class="cell-right">{{row.precArticulo | number:'1.2-2'}}</td>
        </ng-container> 
        <ng-container matColumnDef='dctoArticulo'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="idRol == 0">Descuento (%)</th>
            <td mat-cell *matCellDef="let row" [hidden]="idRol == 0" class="cell-center">{{row.dctoArticulo | number:'2.2-2'}}</td>
        </ng-container> 
        <ng-container matColumnDef='cRepArticulo'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Costo de Reposicion</th>
            <td mat-cell *matCellDef="let row" class="cell-right">{{row.cRepArticulo | number:'1.2-2'}}</td>
        </ng-container>  
        <ng-container matColumnDef='gtosArticulo'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Gastos indirectos (%)</th>
            <td mat-cell *matCellDef="let row" class="cell-center">{{row.gtosArticulo | number:'2.2-2'}}</td>
        </ng-container>  
        <ng-container matColumnDef='cBaseArticulo'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Costo Base</th>
            <td mat-cell *matCellDef="let row" class="cell-right">{{row.cBaseArticulo | number:'1.2-2'}}</td>
        </ng-container>  
        <ng-container matColumnDef='ginsArticulo'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Costo de instalacion<span>%</span></th>
            <td mat-cell *matCellDef="let row" class="cell-center">{{row.ginsArticulo | number:'2.2-2'}}</td>
        </ng-container>   
        <ng-container matColumnDef='cveMoneda'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Moneda</th>
            <td mat-cell *matCellDef="let row">{{row.cveMoneda}}</td>
        </ng-container> 
        <ng-container matColumnDef='tEntArticulo'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tiempo de Entrega</th>
            <td mat-cell *matCellDef="let row">{{row.tEntArticulo}}</td>
        </ng-container>  
        <tr mat-header-row *matHeaderRowDef="Columns"></tr>
        <tr mat-row *matRowDef="let row; columns: Columns;"></tr>  
    </table>
</div>
<mat-paginator [pageSizeOptions]="[6, 12, 60, 120]"></mat-paginator>