<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Articulo</mat-label>
        <input matInput aria-label='Articulo' [matAutocomplete]='AutoArt' [formControl]='stateCtrlArt' required>
        <mat-autocomplete #AutoArt='matAutocomplete' (optionSelected)='setArticulo($event.option.id)'>
            <mat-option>Seleccione...</mat-option>
            <mat-option *ngFor='let A of FilteredArt | async' [value]="A.modArticulo + ' (' + A.nomArticulo + ')'" [id]='A.idArticulo' (click)='setArticulo(A.idArticulo)'>
                <span>{{A.modArticulo}} ({{A.nomArticulo}})</span>
            </mat-option>
        </mat-autocomplete>    
    </mat-form-field>
    <br />
    <mat-form-field>
        <mat-label>Proveedor</mat-label>
        <input matInput aria-label='Proveedor' [matAutocomplete]='AutoProv' [formControl]='stateCtrlProv' required>
        <mat-autocomplete #AutoProv='matAutocomplete' (optionSelected)='setProveedor($event.option.id)'>
            <mat-option>Seleccione...</mat-option>
            <mat-option *ngFor='let P of FilteredProv | async' [value]='P.nomProveedor' [id]='P.idProveedor' (click)='setProveedor(P.idProveedor)'>
                <span>{{P.nomProveedor}}</span>
            </mat-option>
        </mat-autocomplete>    
    </mat-form-field>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <mat-form-field>
                <mat-label>Precio Lista</mat-label>
                <span matPrefix>$&nbsp;</span>
                <input matInput type='number' name='precArticulo' [(ngModel)]='articulos.precArticulo' required>
            </mat-form-field>        
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <mat-form-field>
                <mat-label>Descuento</mat-label>
                <input matInput type='number' name='dctoArticulo' [(ngModel)]='articulos.dctoArticulo' required>
                <span matSuffix>% </span>
            </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <mat-form-field>
                <mat-label>Gastos indirectos</mat-label>
                <input matInput type='number' name='gtosArticulo'[(ngModel)]='articulos.gtosArticulo' required>
                <span matSuffix>%</span>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <mat-form-field>
                <mat-label>Costo de instalacion</mat-label>                
                <span matPrefix>$&nbsp;</span>
                <input matInput type='number' name='ginsArticulo' [(ngModel)]='articulos.ginsArticulo' required disabled>
            </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <mat-form-field>
                <mat-label>Moneda</mat-label>
                <mat-select name='moneda' [(ngModel)]='articulos.idMoneda' required>
                    <mat-option>Seleccione...</mat-option>
                    <mat-option *ngFor='let M of moneda' [value]='M.idMoneda'>{{M.cveMoneda}}</mat-option>
                </mat-select>    
            </mat-form-field>
        </div>
            <!--mat-form-field><input matInput type='number' name='exisArticulo' [(ngModel)]='articulos.exisArticulo' disabled></mat-form-field-->         
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <mat-form-field>
                <mat-label>Tiempo de Entrega</mat-label>
                <input matInput type='text' name='tEntArticulo' [(ngModel)]='articulos.tEntArticulo' required>
                <mat-icon matSuffix>calendar_today</mat-icon>
            </mat-form-field>
        </div>
    </div>
</div> 
<div mat-dialog-actions>
    <button mat-stroked-button class="btn btn-outline-success" id='Nuevo' (click)='Nuevo()'>Guardar</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-info" id='Actualizar' (click)='Editar()'>Actualizar</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-warning" (click)='onNoClick()'>Cancelar</button>
</div>                    