<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Departamento</mat-label>
        <mat-select name="idDep" [(ngModel)]="grupo.idDep" >
            <mat-option *ngFor="let D of SelectDep" [value]="D.idDepArticulo">{{D.depArticulo}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="nombres" type="text" name="nombre" [(ngModel)]="grupo.nombreGroup">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-stroked-button class="btn btn-outline-info" (click)="Editar()" id="Editar" [hidden]="grupo.grupos == 0"> Actualizar</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-success" id="Guardar" (click)="Nuevo()" [hidden]="grupo.grupos != 0">Guardar</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-warning" (click)="onNoClick()"> Cancelar</button>
</div>