<h3>Nueva Cotizacion</h3>
<mat-card>
    <mat-form-field>
        <mat-label>Cliente</mat-label>
        <input matInput [matAutocomplete]="autoCli" [formControl]="stateCtrl" required>
        <mat-autocomplete #autoCli="matAutocomplete" (optionSelected)="ObtCliente($event.option.id)">
            <mat-option *ngFor="let C of FilteredCliente | async"  [value]="C.compCliente" [id]="C.idCliente">{{C.compCliente}}</mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Proyecto del Cliente</mat-label>
        <mat-select [(ngModel)]="cotDatos.idProyect" required>
            <mat-option>Seleccione...</mat-option>
            <mat-option *ngFor="let P of Proyecto" [value]="P.idProyecto">{{P.nomProyecto}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Agente</mat-label>
        <input matInput [matAutocomplete]="autoAgente" [formControl]="stateCtrlAgente" required>
        <mat-autocomplete #autoAgente="matAutocomplete" (optionSelected)="ObtenerAgente($event.option.id)">
            <mat-option>Seleccione...</mat-option>
            <mat-option *ngFor="let A of FilteredAgente | async" [value]="A.nomComUsuario" [id]="A.idUsuario" >{{A.nomComUsuario}}</mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Division</mat-label>
        <textarea matInput name="division" [(ngModel)]="cotDatos.division" required></textarea>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Referencia</mat-label>
        <textarea matInput name="referencia" [(ngModel)]="cotDatos.referencia" required></textarea>
    </mat-form-field>
</mat-card><br />
<mat-card>
    <mat-accordion #accordion = "matAccordion">
        <mat-expansion-panel> 
            <mat-expansion-panel-header>
                <mat-panel-title>Agregar/Editar Articulos</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <mat-form-field>
                        <mat-label>Area</mat-label>
                        <mat-select [(ngModel)]="cotArticulo.idAreaCot" [disabled]="cotArticulo.ubicador != 0" required>
                            <mat-option>Seleccione...</mat-option>
                            <mat-option *ngFor="let A of AreasCot" [value]="A.idAreaCotizacion">{{A.areaCotizacion}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2">
                    <mat-form-field>
                        <mat-label>Partida</mat-label>
                        <input matInput type="number" [(ngModel)]="cotArticulo.idPartida" required>
                    </mat-form-field>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xl-7">
                    <mat-form-field>
                        <mat-label>Articulo</mat-label>
                        <input matInput [matAutocomplete]="autoArticulo" [formControl]="stateCtrlArt" required>
                        <mat-autocomplete #autoArticulo="matAutocomplete" (optionSelected)="ObtArticulo($event.option.id)">
                            <mat-option>Seleccione...</mat-option>
                            <mat-option  *ngFor="let Art of FilteredArt  | async" [value]="Art.modArticulo + ' (' + Art.nomArticulo + ')'"  [id]="Art">{{Art.modArticulo}} ({{Art.nomArticulo}})</mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>	
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <mat-form-field>
                        <mat-label>Proveedor</mat-label>
                        <mat-select [(ngModel)]="cotArticulo.idProveedor" required>
                            <mat-option>Seleccione...</mat-option>
                            <mat-option *ngFor="let Pro of Provedores" [value]="Pro.idProveedor" (click)="DatosArticulo(Pro.idProveedor)">{{Pro.nomProveedor}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <mat-form-field>
                        <mat-label>Tiempo de Entrega</mat-label>
                        <input matInput type="text" [value]="TiempoEntrega" disabled required>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <mat-form-field>
                        <mat-label>Precio Unitario</mat-label>
                        <input matInput type="number" [(ngModel)]="cotArticulo.precio" [disabled] = "medArticulo != 'E48'" required>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <mat-form-field>
                        <mat-label>Moneda</mat-label>
                        <mat-select name="idMoneda" [(ngModel)]="cotArticulo.idMoneda" disabled required>
                            <mat-option *ngFor="let M of Monedas" [value]="M.idMoneda">{{M.cveMoneda}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <mat-form-field>
                        <mat-label>Cantidad</mat-label>
                        <input matInput type="number" [(ngModel)]="cotArticulo.cantidad" (keyup)="Operaciones()" required>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <mat-form-field>
                        <mat-label>Margen</mat-label>
                        <input matInput type="number" [(ngModel)]="cotArticulo.marge" (keyup)="Operaciones()" required>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <mat-form-field>
                        <mat-label>Descuento</mat-label>
                        <input matInput type="number" [disabled]="cotDatos.idCot == 0" [(ngModel)]="cotArticulo.descuento" (keyup)="Operaciones()" required>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">                           
                    <button mat-stroked-button class="btn btn-outline-success" (click)="GuardarArt()" [hidden]="cotArticulo.ubicador != 0">Guardar</button>&nbsp;
                    <button mat-stroked-button class="btn btn-outline-info" [hidden]="cotArticulo.ubicador == 0" (click)="ActualizarArt()">Actualizar</button>&nbsp;
                    <button mat-stroked-button class="btn btn-outline-warning" (click)="Cancelar()">Cancelar</button>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Lista de articulos</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource">           
                    <ng-container matColumnDef="acciones" sticky>
                        <th title="Acciones" mat-header-cell *matHeaderCellDef><mat-icon>offline_bolt</mat-icon></th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item aria-label="Seguimiento" (click)="ObtenerRowArt(row)">
                                    <mat-icon>edit</mat-icon>
                                    <span>Editar</span>
                                </button>
                                <button mat-menu-item aria-label="Seguimiento" (click)="EliminarArt(row)">
                                    <mat-icon>delete</mat-icon>
                                    <span>Borrar</span>
                                </button>      
                            </mat-menu>
                        </td>
                    </ng-container> 
                    <ng-container matColumnDef="idPartida">
                        <th mat-header-cell *matHeaderCellDef>Pda.</th>
                        <td mat-cell *matCellDef="let row" class="cell-center">{{row.letra}}{{row.idPartida}}</td>
                    </ng-container>                         
                    <ng-container matColumnDef="areaCotizacion">
                        <th mat-header-cell *matHeaderCellDef>Area</th>
                        <td mat-cell *matCellDef="let row" class="cell-center">{{row.areaCotizacion}}</td>
                    </ng-container>
                    <ng-container matColumnDef="modArticulo">
                        <th mat-header-cell *matHeaderCellDef>Modelo</th>
                        <td mat-cell *matCellDef="let row" class="cell-center">{{row.modArticulo}}</td>
                    </ng-container>        
                    <ng-container matColumnDef="nomArticulo">
                        <th mat-header-cell *matHeaderCellDef>Nombre</th>
                        <td mat-cell *matCellDef="let row">{{row.nomArticulo}}</td>
                    </ng-container>        
                    <ng-container matColumnDef="marcArticulo">
                        <th mat-header-cell *matHeaderCellDef>Marca</th>
                        <td mat-cell *matCellDef="let row" class="cell-center">{{row.marcArticulo}}</td>
                    </ng-container>        
                    <ng-container matColumnDef="catArticulo">
                        <th mat-header-cell *matHeaderCellDef>Categoria</th>
                        <td mat-cell *matCellDef="let row" class="cell-center">{{row.catArticulo}}</td>
                    </ng-container>        
                    <ng-container matColumnDef="nomProveedor">
                        <th mat-header-cell *matHeaderCellDef>Proveedor</th>
                        <td mat-cell *matCellDef="let row" class="cell-center">{{row.nomProveedor}}</td>
                    </ng-container>        
                    <ng-container matColumnDef="cantArticulo">
                        <th mat-header-cell *matHeaderCellDef>Cantidad</th>
                        <td mat-cell *matCellDef="let row" class="cell-right">{{row.cantArticulo}}</td>
                    </ng-container>        
                    <ng-container matColumnDef="cosArticulo">
                        <th mat-header-cell *matHeaderCellDef>Precio Unitario</th>
                        <td mat-cell *matCellDef="let row" class="cell-right">{{row.cosBArticulo | currency}}&nbsp;{{row.cveMoneda}}</td>
                    </ng-container>       
                    <ng-container matColumnDef="medArticulo">
                        <th mat-header-cell *matHeaderCellDef>U. Medida</th>
                        <td mat-cell *matCellDef="let row" class="cell-center">{{row.medArticulo}}</td>
                    </ng-container>         
                    <ng-container matColumnDef="margArticulo">
                        <th mat-header-cell *matHeaderCellDef>Margen (%)</th>
                        <td mat-cell *matCellDef="let row" class="cell-right">{{row.margArticulo | number:'1.2-2'}}</td>
                    </ng-container>        
                    <ng-container matColumnDef="dctoArticulo">
                        <th mat-header-cell *matHeaderCellDef>Dcto. (%)</th>
                        <td mat-cell *matCellDef="let row" class="cell-right">{{row.dctoArticulo | number:'1.2-2'}}</td>
                    </ng-container>                         
                    <ng-container matColumnDef="subArticulo" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef>Subtotal</th>
                        <td mat-cell *matCellDef="let row" class="cell-right">{{row.subArticulo | number:'1.2-2'}}</td>
                    </ng-container>  
                    <tr mat-header-row *matHeaderRowDef="Columns"></tr>
                    <tr mat-row *matRowDef="let row; columns: Columns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10,30,50]"></mat-paginator>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</mat-card><br />
<mat-card>
    <mat-accordion #accordionPol = "matAccordion">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Politicas</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="example-container">
                <mat-form-field>
                    <mat-label>Politica</mat-label>
                    <mat-select [(ngModel)]="cotPolitica.idPolitica" [disabled]="cotPolitica.ubicador == 1" required>
                        <mat-option>Seleccione...</mat-option>
                        <mat-option *ngFor="let P of Politicas" [value]="P.idPolitica" (click)="DatosPolitica(P.idPolitica,P.descPolitica)">{{P.politica}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <textarea [value]='polDesc' hidden></textarea>
                <mat-form-field>
                    <mat-label>Descripcion</mat-label>
                    <textarea matInput [value]="PolDesc" disabled required></textarea>
                </mat-form-field>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xl-8">
                    <mat-form-field>
                        <mat-label>Valor(es)</mat-label>
                        <input matInput type="text" name="valPolitica" [(ngModel)]="cotPolitica.valPolitica" (keyup)="ReplazoDeCaracter()" [disabled]="cotPolitica.idPolitica<1" required>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
                    <button mat-stroked-button class="btn btn-outline-success" (click)="GuardarPol()" [hidden]="cotPolitica.ubicador != 0">Guardar</button>&nbsp;					
                    <button mat-stroked-button class="btn btn-outline-info" (click)="ActualizarPol();Politicas.close();" [hidden]="cotPolitica.ubicador == 0">Actualizar</button>&nbsp;
                    <button mat-stroked-button class="btn btn-outline-warning" (click)="CancelarPolitica()">Cancelar</button>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel >
            <mat-expansion-panel-header>
                <mat-panel-title>Politicas aplicadas a la cotizacion</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSourcePol">
                    <ng-container matColumnDef="acciones" sticky>
                        <th title="Acciones" mat-header-cell *matHeaderCellDef><mat-icon>offline_bolt</mat-icon></th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item aria-label="Seguimiento" (click)="ObtRowPolitica(row)">
                                    <mat-icon>edit</mat-icon>
                                    <span>Editar</span>
                                </button>
                                <button mat-menu-item aria-label="Seguimiento" [hidden]="row.defPolitica == 3 || row.defPolitica == 1" (click)="EliminarPolitica(row)">
                                    <mat-icon>delete</mat-icon>
                                    <span>Borrar</span>
                                </button>      
                            </mat-menu>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="politica">
                        <th mat-header-cell *matHeaderCellDef>Politica</th>
                        <td mat-cell *matCellDef="let row">{{row.politica}}</td>
                    </ng-container>            
                    <ng-container matColumnDef="catPolitica">
                        <th mat-header-cell *matHeaderCellDef>Categoria</th>
                        <td mat-cell *matCellDef="let row">{{row.catPolitica}}</td>
                    </ng-container>
                    <ng-container matColumnDef="descPolitica">
                        <th mat-header-cell *matHeaderCellDef>Descripcion</th>
                        <td mat-cell *matCellDef="let row">{{ReemplazoPolitica(row)}}</td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="ColumnsPol"></tr>
                    <tr mat-row *matRowDef="let row; columns: ColumnsPol;"></tr>
                </table>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</mat-card><br />
<mat-card>
    <button mat-stroked-button class="btn btn-outline-success"(click)="GuardarCotizacion()" [disabled]="cotDatos.idCliente == 0">Guardar</button>&nbsp;
    <a routerLink="/cotizacion"><button mat-stroked-button class="btn btn-outline-warning" (click)="ResetAll()">Cancelar</button></a>
</mat-card>