<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
            <mat-form-field>
                <mat-label>Nombre(s)</mat-label>
                <input matInput type="text" [(ngModel)]="contacto.nom" required>
            </mat-form-field>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
            <mat-form-field>
                <mat-label>Apellido Parterno</mat-label>
                <input matInput type="text" [(ngModel)]="contacto.pat" required>
            </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-content>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
            <mat-form-field>
                <mat-label>Apellido Materno</mat-label>
                <input matInput type="text" [(ngModel)]="contacto.mat" required>
            </mat-form-field>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
            <mat-form-field>
                <mat-label>Celular</mat-label>
                <input matInput type="number" [(ngModel)]="contacto.cel" required>
            </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-content>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
            <mat-form-field>
                <mat-label>E-mail</mat-label>
                <input matInput type="text" [(ngModel)]="contacto.email" required>
            </mat-form-field>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
            <mat-form-field>
                <mat-label>Cargo</mat-label>
                <input matInput type="text" [(ngModel)]="contacto.car" required>
            </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-content>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <mat-form-field>
                <mat-label>Tipo de contacto</mat-label>
                <mat-select [(ngModel)]="contacto.idT" required>
                    <mat-option>Seleccione...</mat-option>
                  <mat-option *ngFor="let TC of TipoCon" [value]="TC.idTipoContacto">{{TC.tipoContacto}}</mat-option>
                </mat-select>                   
            </mat-form-field>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <mat-form-field>
                <mat-label>Contacto predeterminado</mat-label>
                <mat-select [(ngModel)]="contacto.def" required>
                    <mat-option>Seleccione...</mat-option>
                  <mat-option *ngFor="let D of Default" [value]="D.valor">{{D.vista}}</mat-option>
                </mat-select>             
            </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-stroked-button class="btn btn-outline-success" [hidden]="contacto.idCon != 0" (click)="Guardar()">Guardar</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-info" [hidden]="contacto.idCon == 0" (click)="Editar()">Actualizar</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-warning" (click)="Cancelar()">Cancelar</button>
</div>