<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Nombre de la clasificación" type="text" name="nombre" [(ngModel)]="aclasificaciones.clas">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
      <button mat-stroked-button class="btn btn-outline-info" (click)="Editar()" [hidden]="aclasificaciones.idclas == 0"> Actualizar</button>&nbsp;
      <button mat-stroked-button class="btn btn-outline-success" (click)="Nuevo()" [hidden]="aclasificaciones.idclas!= 0">Guardar</button>&nbsp;
      <button mat-stroked-button class="btn btn-outline-secondary" (click)="onNoClick()"> Cancelar</button>
  </div> 