<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Moneda origen</mat-label>
        <mat-select [(ngModel)]="conversiones.oriMoneda" [disabled]="conversiones.convertidor != 0">
            <mat-option *ngFor="let P of oriMoneda" [value]="P.idMoneda" (click)="Moneda2(P.idMoneda)" >
                {{P.moneda}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Moneda de destino</mat-label>
        <mat-select [(ngModel)]="conversiones.desMoneda" [disabled]="conversiones.convertidor != 0">
            <mat-option *ngFor="let M of desMoneda" [value]="M.idMoneda">{{M.cveMoneda}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-content>
  <mat-form-field>
      <input matInput placeholder="Tipo de cambio" type="number" name="nombre" [(ngModel)]="conversiones.convMoneda">
  </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-stroked-button class="btn btn-outline-info" (click)="Editar()" [hidden]="conversiones.convertidor ==0" > Actualizar</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-success" (click)="Nuevo()" [hidden]="conversiones.convertidor != 0">Guardar</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-warning" (click)="onNoClick()"> Cancelar</button>
</div>