<!--Elementos de la Tabla-->
<div>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Conversion de monedas</span>&nbsp;
            <button mat-stroked-button class="btn btn-outline-primary" (click)="Reset();openDialog()">Nuevo tipo de cambio</button> <!--agregar (click)="Reset()"-->
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<mat-form-field>
    <input matInput (keyup)="Filtro($event.target.value)" placeholder="Busqueda">
</mat-form-field>
<div class="table-responsive">
    <table mat-table [dataSource]="dataSource" matSort> 
        <!--ng-container>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor</th>
            <th scope="row">1</th>
            <td mat-cell>1</td>
        </ng-container-->    
        <ng-container matColumnDef='origenMoneda'><!-- el nombre proviene de la tabla de la bdd -->
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Moneda Origen</th>
            <th scope="row">1</th>
            <td mat-cell *matCellDef="let row">{{row.origenMoneda}}</td><!-- el nombre proviene de la tabla de la bdd -->
        </ng-container>
        <!--ng-container>
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <th scope="row">1</th>
            <td mat-cell>→</td>
        </ng-container-->
        <ng-container matColumnDef='destinoMoneda'><!-- el nombre proviene de la tabla de la bdd -->
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Moneda Destino</th>
            <th scope="row">1</th>
            <td mat-cell *matCellDef="let row">{{row.destinoMoneda}}</td><!-- proviene de la tabla de la bdd -->
        </ng-container>
        <ng-container matColumnDef='convMoneda'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de Cambio</th>
            <th scope="row">1</th>
            <td mat-cell *matCellDef="let row">{{row.convMoneda}}</td>
        </ng-container>    
      
        <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"><mat-icon>more_vert</mat-icon></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item  (click)="Cargar(row)"><mat-icon>comment</mat-icon><span>Editar</span></button>
                    <button mat-menu-item (click)="Eliminar(row)" ><mat-icon>delete</mat-icon><span>Borrar</span></button>
                </mat-menu>
            </td>
        </ng-container>  
        <tr mat-header-row *matHeaderRowDef="Columns"></tr>
        <tr mat-row *matRowDef="let row; columns: Columns;"></tr>  
    </table>
</div>
<mat-paginator [pageSizeOptions]="[6, 12, 60, 120]"></mat-paginator>
<!--Termina la tabla--> 