<div>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Proveedores</span>&nbsp;
            <a routerLink="/proveedores/proveedor"><button mat-stroked-button class="btn btn-outline-primary" (click)='New()'>Nuevo Proveedor</button></a>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<mat-form-field>
    <mat-label>Busqueda</mat-label>
    <input matInput (keyup)="Filtro($event.target.value)">
</mat-form-field>
<div class="table-responsive">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="acciones">
            <th title="Acciones" mat-header-cell *matHeaderCellDef><mat-icon>offline_bolt</mat-icon></th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item aria label="Seguimiento" (click)="obtenerProv(row)">
                        <mat-icon>edit</mat-icon>
                        <span>Editar</span>
                    </button>
                    <button mat-menu-item aria label="Seguimiento" (click)="Contactos(row)">
                        <mat-icon>contacts</mat-icon>
                        <span>Contactos</span>
                    </button>
                    <button mat-menu-item aria label="Seguimiento" (click)="CuentaBancaria(row)">
                        <mat-icon>account_balance_wallet</mat-icon>
                        <span>Cuenta bancaria</span>
                    </button>
                    <button mat-menu-item aria label="Seguimiento" (click)="eliminarProv(row)">
                        <mat-icon>delete</mat-icon>
                        <span>Eliminar</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>
        <ng-container matColumnDef="nomProveedor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Comercial</th>
            <td mat-cell *matCellDef="let row"><span class="btn btn-outline-info">{{ row.nomProveedor }}</span></td>            
        </ng-container>
        <ng-container matColumnDef="rfcProveedor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>RFC</th>
            <td mat-cell *matCellDef="let row"><span class="btn btn-outline-success">{{ row.rfcProveedor }}</span></td>
        </ng-container>
        <ng-container matColumnDef="razSocProveedor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Razon Social</th>
            <td mat-cell *matCellDef="let row">{{ row.razSocProveedor }}</td>
        </ng-container>
        <ng-container matColumnDef="dirProveedor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Direccion</th>
            <td mat-cell *matCellDef="let row">{{ row.dirProveedor }}</td>
        </ng-container>
        <ng-container matColumnDef="cpProveedor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo Postal</th>
            <td mat-cell *matCellDef="let row">{{ row.cpProveedor }}</td>
        </ng-container>
        <ng-container matColumnDef="ubicacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ubicacion</th>
            <td mat-cell *matCellDef="let row">{{Ubicacion(row)}}</td>
        </ng-container>
        <ng-container matColumnDef="fAltaProveedor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ingreso</th>
            <td mat-cell *matCellDef="let row">{{ row.fAltaProveedor | date:'dd/MM/yyyy' }}</td>
        </ng-container>
        <ng-container matColumnDef="fModProveedor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Modificacion</th>
            <td mat-cell *matCellDef="let row">{{ row.fModProveedor | date:'dd/MM/yyyy' }}</td>
        </ng-container>
        <ng-container matColumnDef="usuario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ult. Acceso</th>
            <td mat-cell *matCellDef="let row"><span class="btn btn-outline-secondary">{{ row.usuario }}</span></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="Columns"></tr>
        <tr mat-row *matRowDef="let row; columns: Columns;"></tr>                   
    </table>
</div>
<mat-paginator [pageSizeOptions]="[6, 12, 60, 120]"></mat-paginator>