<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Politica" type="text" name="politica" [(ngModel)]="politicas.politica">
    </mat-form-field>
  </div>  
  <div mat-dialog-content>
      <mat-form-field>
          <mat-label>Categoría</mat-label>
          <mat-select name="idCatPolitica" [(ngModel)]="politicas.idCatPolitica" required>
              <mat-option *ngFor="let P of selCat" [value]="P.idCatPolitica" >{{P.catPolitica}}</mat-option>
          </mat-select>
      </mat-form-field>      
  </div>  
  <div mat-dialog-content>
    <mat-form-field>
        <input  matInput placeholder="Descripción" type="text" name="descPolitica" [(ngModel)]="politicas.descPolitica">
    </mat-form-field>
  </div>  
  <div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Prioridad" type="number" min="0" name="prioPoliticas"  [(ngModel)]="politicas.prioPolitica">
    </mat-form-field>
  </div>  
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <mat-form-field>
            <mat-label>Default</mat-label>
            <select matNativeControl required name="defPolitica" [(ngModel)]="politicas.defPolitica">
            <option value="0">No Aplica</option>
            <option value="1">Cotizacion</option>
            <option value="3">Servicio</option>
            <option value="4">Ambas</option>
            </select>
        </mat-form-field>
    </div>
   </div>  
  <div mat-dialog-actions>
      <button mat-stroked-button class="btn btn-outline-info" (click)="Editar()" [hidden]="politicas.idPolitica == 0"> Actualizar</button>&nbsp;
      <button mat-stroked-button class="btn btn-outline-success" (click)="Nuevo()" [hidden]="politicas.idPolitica != 0">Guardar</button>&nbsp;
      <button mat-stroked-button class="btn btn-outline-warning" (click)="onNoClick()"> Cancelar</button>
  </div>