<div class="card-body">
    <div class="body">
        <mat-card>
            <div class="example-container">
                <mat-form-field>
                    <input matInput placeholder="Cliente" [matAutocomplete]="auto" [formControl]="stateCliente">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let C of FilteredCliente | async" [value]="C.razSocCliente" [id]="C.idCliente">
                            <span>{{C.razSocCliente}} - {{C.rfcCliente}}</span>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <mat-form-field>
                        <mat-label>Tipo de pago</mat-label>
                        <mat-select [(ngModel)]="factura.tPago">
                            <mat-option *ngFor="let tP of TipoDePago" [value]="tP.id">{{tP.vista}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <mat-form-field>
                        <mat-label>Metodo Pago</mat-label>
                        <mat-select [(ngModel)]="factura.mPago">
                            <mat-option *ngFor="let mP of MetodoDePago" [value]="mP.id">{{mP.vista}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <mat-form-field>
                        <mat-label>Forma de pago</mat-label>
                        <mat-select [(ngModel)]="factura.fPago">
                            <mat-option *ngFor="let fP of FormaDePago" [value]="fP.idFormaPago">{{fP.formaPago}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <mat-form-field>
                        <input matInput type="number" min="0" placeholder="Plazo" [(ngModel)]="factura.plazo" [disabled]="factura.tPago != 2">
                    </mat-form-field>
                </div>            
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
                    <mat-form-field>
                        <mat-label>Tipo de CFDI</mat-label>
                        <mat-select [(ngModel)]="factura.CFDI">
                            <mat-option *ngFor="let ci of cfdi" [value]="ci.idTipoCfdi">{{ci.tipoCfdi}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <mat-form-field>
                        <input matInput placeholder="Anticipo" type="number" min="0" [(ngModel)]="factura.anticipo">
                    </mat-form-field>
                </div>
            </div>
            <div class="example-container">
                <mat-form-field>
                    <textarea matInput placeholder="Descripcion" [(ngModel)]="factura.referencia"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Tipo de Factura</mat-label>
                    <mat-select [(ngModel)]="factura.tFactura" disabled>
                        <mat-option *ngFor="let tf of tFactura" [value]="tf.idTipOperacion">{{tf.tipOperacion}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf = "factura.tFactura != 3 || factura.tFactura == 0">
                    <input matInput placeholder="Cotizacion" [matAutocomplete]="autoCot" [formControl]="stateCotizacion">
                    <mat-autocomplete #autoCot="matAutocomplete">
                        <mat-option *ngFor="let Cot of FilteredCotizacion | async" [value]="Cot.nomCotizacion" [id]="Cot">
                            <span>{{Cot.nomCotizacion}}</span>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </mat-card>
        <br>
        <mat-card *ngIf="ubicador != 0 || factura.tFactura == 3">
            <div class="example-container">
                <mat-form-field>
                    <input matInput placeholder="Codigo Sat" [matAutocomplete]="autoArt" [formControl]="stateArticulo">
                    <mat-autocomplete #autoArt="matAutocomplete">
                        <mat-option *ngFor="let A of FilterArticulo | async" [value]="A.codSatArticulo + ' (' + A.nomArticulo + ')'" [id]="A">{{A.codSatArticulo}} ({{A.nomArticulo}})</mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <!--mat-form-field>
                    <input matInput placeholder="Nombre del Articulo" [value]="nomArt" disabled>
                </mat-form-field-->
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <mat-form-field>
                        <mat-label>Proveedor</mat-label>
                        <mat-select [(ngModel)]="facturaLib.idProveedor" [disabled]="ubicador == 1">
                            <mat-option *ngFor="let P of Proveedor" [value]="P.idProveedor">{{P.nomProveedor}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <mat-form-field>
                        <mat-label>Monedas</mat-label>
                        <mat-select [(ngModel)]="facturaLib.idMoneda" disabled>
                            <mat-option *ngFor="let M of Monedas" [value]="M.idMoneda">{{M.cveMoneda}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <mat-form-field>
                        <input matInput placeholder="Cantidad" type="number" min="0" [(ngModel)]="facturaLib.cantidad">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <mat-form-field>
                        <input matInput placeholder="Precio" type="number" min="0" [(ngModel)]="facturaLib.precio" [disabled]="factura.tFactura != 3">
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <mat-form-field>
                        <input matInput placeholder="Descuento" type="number" min="0" [(ngModel)]="facturaLib.descuento" [disabled]="factura.tFactura != 3">
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <mat-form-field>
                        <mat-label>Iva</mat-label>
                        <mat-select [(ngModel)]="facturaLib.idIva" [disabled]="factura.tFactura != 3">
                            <mat-option *ngFor="let I of Ivas" [value]="I.idIva">{{I.iva}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <button mat-stroked-button class="btn btn-outline-info" [hidden]="ubicador == 0" (click)="EditarArticulo()">Actualizar</button>&nbsp;
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <button mat-stroked-button class="btn btn-outline-warning" (click)="Cancelar()">Cancelar</button>
                </div>
            </div>
        </mat-card>
        <br>
        <mat-card>
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" matSort>                    
                    <ng-container matColumnDef="nomCotizacion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header [hidden] = "factura.tFactura == 3 || factura.tFactura == 4">Cotizacion</th>
                        <td mat-cell *matCellDef="let row" [hidden] = "factura.tFactura == 3 || factura.tFactura == 4">{{row.nomCotizacion}}</td>
                    </ng-container>
                    <ng-container matColumnDef="areaCotizacion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header [hidden] = "factura.tFactura == 3 || factura.tFactura == 4">Area</th>
                        <td mat-cell *matCellDef="let row" [hidden] = "factura.tFactura == 3 || factura.tFactura == 4">{{row.areaCotizacion}}</td>
                    </ng-container>
                    <ng-container matColumnDef="codSatArticulo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo SAT</th>
                        <td mat-cell *matCellDef="let row">{{row.codSatArticulo}}</td>
                    </ng-container>
                    <ng-container matColumnDef="nomArticulo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                        <td mat-cell *matCellDef="let row">{{row.nomArticulo}}</td>
                    </ng-container>
                    <ng-container matColumnDef="nomProveedor">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Proveedor</th>
                        <td mat-cell *matCellDef="let row">{{row.nomProveedor}}</td>
                    </ng-container>
                    <ng-container matColumnDef="cantArticulo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
                        <td mat-cell *matCellDef="let row">{{row.cantArticulo}}</td>
                    </ng-container>
                    <ng-container matColumnDef="subArticulo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Subtotal</th>
                        <td mat-cell *matCellDef="let row">{{row.subArticulo}}</td>
                    </ng-container>
                    <ng-container matColumnDef="impArticulo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Importe</th>
                        <td mat-cell *matCellDef="let row">{{row.impArticulo}}</td>
                    </ng-container>
                    <ng-container matColumnDef="iva">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>IVA</th>
                        <td mat-cell *matCellDef="let row">{{row.iva}}</td>
                    </ng-container>
                    <ng-container matColumnDef="cveMoneda">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Moneda</th>
                        <th scope="row"> 1 </th>
                        <td mat-cell *matCellDef="let row">{{row.cveMoneda}}</td>
                    </ng-container>
                    <ng-container matColumnDef="Acciones">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                            <td mat-cell *matCellDef="let row">
                                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item aria-label="Seguimiento" (click)="CargarDatos(row)">
                                        <mat-icon>edit</mat-icon>
                                        <span>Editar</span>
                                    </button>    
                                </mat-menu>
                            </td>
                    </ng-container>                    
                    <tr mat-header-row *matHeaderRowDef="Columns"></tr>
                    <tr mat-row *matRowDef="let row; columns: Columns;"></tr>
                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[25,50,75]"></mat-paginator>
        </mat-card>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <button mat-stroked-button class="btn btn-outline-info" (click)="Editar()">Actualizar</button>&nbsp;
                <a routerLink="/facturas"><button mat-stroked-button class="btn btn-outline-primary">Cancelar</button></a>
            </div>
        </div>
    </div>
</div>