<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Moneda" type="text" name="moneda" #nombre="ngModel" [(ngModel)]="monedas.moneda">
    </mat-form-field>
  </div>
  <div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="clave de moneda" type="text" name="cveMoneda" #nombre="ngModel" [(ngModel)]="monedas.cveMoneda">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
      <button mat-stroked-button class="btn btn-outline-info" (click)="Editar()" [hidden]="monedas.idMoneda == 0">Actualizar</button>&nbsp;
      <button mat-stroked-button class="btn btn-outline-success" (click)="Nuevo()" [hidden]="monedas.idMoneda != 0">Guardar</button>&nbsp;
      <button mat-stroked-button class="btn btn-outline-warning" (click)="onNoClick()">Cancelar</button>
  </div>