<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Nombre" type="text" name="nombre" [(ngModel)]="plomerias.nombre">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
      <button mat-stroked-button class="btn btn-outline-info" (click)="Editar()" [hidden]="plomerias.idPlomerias == 0"> Actualizar</button>&nbsp;
      <button mat-stroked-button class="btn btn-outline-success" (click)="Nuevo()" [hidden]="plomerias.idPlomerias != 0">Guardar</button>&nbsp;
      <button mat-stroked-button class="btn btn-outline-warning" (click)="onNoClick()">Cancelar</button>
  </div>