<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Nombre del departamento" type="text" name="nombre" [(ngModel)]="departamento.nombre">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
      <button mat-stroked-button class="btn btn-outline-info" (click)="Editar()" [hidden]="departamento.idDep == 0"> Actualizar</button>&nbsp;
      <button mat-stroked-button class="btn btn-outline-success" (click)="Nuevo()" [hidden]="departamento.idDep!= 0">Guardar</button>&nbsp;
      <button mat-stroked-button class="btn btn-outline-warning" (click)="onNoClick()"> Cancelar</button>
  </div>