<h1 mat-dialog-title>Descartar cliente</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Razon de descarte</mat-label>
        <mat-select [(ngModel)]="descarte.idDescarte" required>
            <mat-option>Seleccione...</mat-option>
            <mat-option *ngFor="let Td of tipoDes" [value]="Td.idClasDescarte">{{Td.clasDescarte}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-stroked-button class="btn btn-outline-success" (click)="Descartar()" [disabled]="descarte.idDescarte == 0">Descartar</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-warning" (click)="Cancelar()"> Cancelar</button>
</div>