<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Clientes</span>&nbsp;
      <button mat-stroked-button class="btn btn-outline-primary" (click)="Crear()">Nuevo Cliente</button>&nbsp;
      <a routerLink="/cliente/descartados"><button mat-stroked-button class="btn btn-outline-dark">Clientes descartados</button></a>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
  <mat-form-field>
    <mat-label>Busqueda</mat-label>
    <input matInput (keyup)="Filtro($event.target.value)">
  </mat-form-field>
  <div class="table-responsive">
     <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="acciones">
        <th title="Acciones" mat-header-cell *matHeaderCellDef><mat-icon>offline_bolt</mat-icon></th>
          <td mat-cell *matCellDef="let row">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item aria-label="Seguimiento" (click)="obtenerCli(row)">
                  <mat-icon>edit</mat-icon>
                  <span>Editar</span>
                </button>
                <button mat-menu-item aria-label="Seguimiento" (click)="Cuenta(row)">
                  <mat-icon>account_balance_wallet</mat-icon>
                  <span>Cuenta Bancaria</span>
                </button>
                <button mat-menu-item aria-label="Seguimiento" (click)="Contacto(row)">
                  <mat-icon>contacts</mat-icon>
                  <span>Contactos</span>
                </button>
                <button mat-menu-item aria-label="Seguimiento" (click)="OpendDialog(row)">
                  <mat-icon>visibility_off</mat-icon>
                  <span>Descartar</span>
                </button>
              </mat-menu>
         </td>
      </ng-container>
      <ng-container matColumnDef="compCliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre comercial</th>
        <td mat-cell *matCellDef="let row">{{row.compCliente}}</td>
      </ng-container>
      <ng-container matColumnDef="tipoCliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de cliente</th>
        <td mat-cell *matCellDef="let row">          
          <span [hidden]="row.idTipoCliente != 1" class="btn btn-outline-success">{{row.tipoCliente}}</span>
          <span [hidden]="row.idTipoCliente != 2" class="btn btn-outline-info">{{row.tipoCliente}}</span>
          <span [hidden]="row.idTipoCliente != 3" class="btn btn-outline-warning">{{row.tipoCliente}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="telFijoCliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefono Fijo</th>
        <td mat-cell *matCellDef="let row">{{row.telFijoCliente}}</td>
      </ng-container>
      <ng-container matColumnDef="giroCliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Giro</th>
        <td mat-cell *matCellDef="let row">{{row.giroCliente}}</td>
      </ng-container>
      <ng-container matColumnDef="espCliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Especialidad</th>
        <td mat-cell *matCellDef="let row">{{row.espCliente}}</td>
      </ng-container>
      <ng-container matColumnDef="ciudad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Municipio</th>
        <td mat-cell *matCellDef="let row">{{row.ciudad}}</td>
      </ng-container>
      <ng-container matColumnDef="fAltaCliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ingreso</th>
        <td mat-cell *matCellDef="let row">{{row.fAltaCliente | date:'dd/MM/yyyy'}}</td>
      </ng-container>
      <ng-container matColumnDef="fModCliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Modificacion</th>
        <td mat-cell *matCellDef="let row">{{row.fModCliente | date:'dd/MM/yyyy'}}</td>
      </ng-container>
      <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef>Ult. Acceso</th>
          <td mat-cell *matCellDef="let row"><span class="btn btn-outline-secondary">{{ row.creador }}</span></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="Columns"></tr>
      <tr mat-row *matRowDef="let row; columns: Columns;"></tr>
    </table>
  </div>
<mat-paginator [pageSizeOptions]="[6, 12, 60, 120]"></mat-paginator>
