<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Pais</mat-label>
        <mat-select name="idPais" [(ngModel)]="estado.idPais" id="idPais" [disabled]="estado.title != '1'">
            <mat-option *ngFor="let P of selPais" [value]="P.idPais">{{P.pais}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Nombre" type="text" name="nombre" [(ngModel)]="estado.EstadoNom">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-stroked-button class="btn btn-outline-info" (click)="Editar()" id="Editar">Actualizar</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-success" id="Guardar" (click)="Nuevo()">Guardar</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-warning" (click)="onNoClick()">Cancelar</button>
</div>