.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 50%;
  }
  
  td, th {
    width: auto;
  }
  
  .mat-toolbar.mat-primary {
    background:white;
    color: black;
  }

  td.mat-column-star {
    width: 20px;
    padding-right: 2px;
  }

  th {
    background-color:#f2f2f2;
  }
  
  tr:nth-child(odd) {
    background-color:#fbfbfb;
  }
  
  tr:nth-child(even) {
    background-color:#f2f2f2;
  } 
  
tr.mat-footer-row {
  font-weight: bold;
}
    
  .mat-column-acciones{
    height: 40px;
    width: 40px;
  }
  
  th.mat-column-position, td.mat-column-position {
    padding-left: 1px;
    padding-right: 1px;
  }
  
  .mat-cell {
    border-right:1px solid #e0e0e0;
    border-left:1px solid #e0e0e0;
    padding-left: 2px;
    padding-right: 2px;
  }
  
  .mat-cell:first-of-type{
    padding-left: 2px;
  }
  
  .mat-cell:last-of-type{
    padding-right: 2px;
  }
  
  th.mat-header-cell{
    border-right:1px solid #e0e0e0;
    border-left:1px solid #e0e0e0;
    padding-right: 2px;
    padding-left: 2px;
    text-align: center;
  }
  
  th.mat-header-cell:first-of-type {
    padding-left: 2px;
  }
  
  .mat-table-sticky:first-child {
    border-right: 2px solid #e0e0e0;
  }
  
  .mat-table-sticky:last-child {
    border-left: 2px solid #e0e0e0;
    padding-right: 2px;
  }
  
  .cell-right{
    text-align: right;
  }
  
  .cell-center{
    text-align: center;
  }
  
  ::ng-deep .mat-form-field {
    width: 100% !important;
  }