<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <mat-form-field>
                <mat-label>Categoria</mat-label>
                <mat-select name="categoria" [(ngModel)]="proyectos.idCatProyecto" required>
                    <mat-option>Selecccione...</mat-option>
                    <mat-option *ngFor="let C of categoria" [value]="C.idCatProyecto">{{ C.catProyecto }}</mat-option>
                </mat-select>    
            </mat-form-field>
        </div>        
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <mat-form-field>
                <mat-label>Especialidad</mat-label>
                <mat-select name="especialidad" [(ngModel)]="proyectos.idEspProyecto" required>
                    <mat-option>Seleccione...</mat-option>
                    <mat-option *ngFor="let E of especialidad" [value]="E.idEspProyecto">{{ E.espProyecto }}</mat-option>
                </mat-select>    
            </mat-form-field>
        </div>
    </div>                    
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput type="text" name="nomProyecto" #nombre="ngModel" [(ngModel)]="proyectos.nomProyecto" required>
            </mat-form-field>
        </div>
    </div>                    
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <mat-form-field>
                <mat-label>Descripcion</mat-label>
                <input matInput type="text" name="descProyecto" #nombre="ngModel" [(ngModel)]="proyectos.descProyecto" required>
            </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-stroked-button class="btn btn-outline-success" id="Nuevo" (click)="Nuevo()" [hidden]="proyectos.idProyecto != 0">Guardar</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-info"id="Actualizar" (click)="Editar()" [hidden]="proyectos.idProyecto == 0">Actualizar</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-warning"(click)="onNoClick()">Cancelar</button>
</div>