table {
  width: 100%;
}

.mat-toolbar.mat-primary {
  background:white;
  color: black;
}

::ng-deep .mat-form-field {
  width: 100% !important;
}

th {
  background-color:#f2f2f2;
}

tr:nth-child(odd) {
  background-color:#fbfbfb;
}

tr:nth-child(even) {
  background-color:#f2f2f2;
}

.mat-column-acciones{
  height: 40px;
  width: 40px;
  text-align: center;
}

th.mat-header-cell:first-of-type {
  padding-left: 2px;
}

.mat-cell {
  padding-left: 2px;
  padding-right: 2px;
}

.mat-cell:first-of-type{
  padding-left: 2px;
}

.mat-cell:last-of-type{
  padding-right: 2px;
}