<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Moneda a cambiar</mat-label>
        <mat-select [(ngModel)]="convertidor.idMonedaOri" required>
            <mat-option>Seleccione...</mat-option>
            <mat-option *ngFor="let MO of moneda1" [value]="MO.idMoneda" (click)="Moneda2()">{{MO.cveMoneda}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Moneda a convertir</mat-label>
        <mat-select [(ngModel)]="convertidor.idMonedaDes" required>
            <mat-option>Seleccione...</mat-option>
            <mat-option *ngFor="let MD of moneda2" [value]="MD.idMoneda" (click)="ValorCambio()">{{MD.cveMoneda}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Valor de cambio</mat-label>
        <input matInput [(ngModel)]="convertidor.ValorMon" required>
    </mat-form-field>
</div>
<div mat-dialog-action>
    <button mat-stroked-button class="btn btn-outline-success" [disabled]="convertidor.ValorMon==0" (click)="Convertir()">Convertir</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-warning" (click)="Cancelar()">Cancelar</button>
</div>