<!--Elementos de la Tabla-->
<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Cuenta bancaria</span>&nbsp;
      <button mat-stroked-button class="btn btn-outline-primary" (click)="Reset();openDialog()" >Nueva Cuenta</button>&nbsp;<!--agregar (click)="Reset()"-->
      <button mat-stroked-button class="btn btn-outline-secondary" (click)="Regresar()" [hidden]="cuentab.moduloC != 1">Inicio</button> 
    </mat-toolbar-row>
</mat-toolbar>
  </div>
<mat-form-field>
    <input matInput (keyup)="Filtro($event.target.value)" placeholder="Busqueda">
  </mat-form-field>
  <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" matSort>  
      <ng-container matColumnDef='nomBanco'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Banco</th>
        <th scope="row">1</th>
        <td mat-cell *matCellDef="let row">{{row.nomBanco}}</td>
      </ng-container>
      <ng-container matColumnDef='rfcBanco'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>RFC</th>
        <th scope="row">1</th>
        <td mat-cell *matCellDef="let row">{{row.rfcBanco}}</td>
      </ng-container>
      <ng-container matColumnDef='ctaCheques'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cuenta Cheques </th>
        <th scope="row">1</th>
        <td mat-cell *matCellDef="let row">{{row.ctaCheques}}</td>
      </ng-container>  
      <ng-container matColumnDef='clabe'>
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Clabe </th>
          <th scope="row">1</th>
          <td mat-cell *matCellDef="let row">{{row.clabe}}</td>
      </ng-container>
      <ng-container matColumnDef='fModCuenta'>
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha modificacion </th>
          <th scope="row">1</th>
          <td mat-cell *matCellDef="let row">{{row.fModCuenta}}</td>
      </ng-container>
      <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
          <td mat-cell *matCellDef="let row">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item  data-toggle="modal" data-target="#anakin" (click)="Cargar(row)"> 
                  <mat-icon>comment</mat-icon>
                  <span>Editar</span>
                </button>
                <button mat-menu-item (click)="Eliminar(row)" > 
                  <mat-icon>delete</mat-icon>
                  <span>Borrar</span>
                </button>
              </mat-menu>
          </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="Columns"></tr>
      <tr mat-row *matRowDef="let row; columns: Columns;">
      </tr>    
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[6, 12, 60, 120]"></mat-paginator>
<!--Termina la tabla-->