<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Nombre del banco</mat-label>
        <mat-select placeholder="Banco" name="idBanco" [(ngModel)]="cuentab.idBanco">
            <mat-option *ngFor="let B of selectBanco" [value]="B.idBanco">{{B.nomBanco}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Número de cuenta" type="number" name="Cta" #nombre="ngModel" [(ngModel)]="cuentab.Cta">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-stroked-button class="btn btn-outline-info" id="Actualizar" (click)="Validar(2)" [hidden]="cuentab.condicion == 0"> Actualizar</button>
    <button mat-stroked-button class="btn btn-outline-success" id="Guardar" (click)="Nuevo()" [hidden]="cuentab.condicion != 0">Guardar</button>
    <button mat-stroked-button class="btn btn-outline-warning" (click)="onNoClick()"> Cancelar</button>
</div>