<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar class="example-toolbar" id="sidenav" style="background: #ff9324;">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon class="example-icon">menu</mat-icon></button>
        <h1 class="example-app-name">CLR Gastrotek</h1>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side' " [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <!--Aqui podremos el menu-->
                <mat-accordion class="example-headers-align">
                    <!--Proveedores-->
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>Proveedores</mat-panel-title>
                            <mat-panel-description>
                                <mat-icon>supervisor_account</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <button mat-stroked-button class="btn btn-outline-clr" (click)="Router('proveedores');snav.toggle()">Proveedores</button>
                    </mat-expansion-panel>
                    <!--Catalago-->
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>Catálogo</mat-panel-title>
                            <mat-panel-description>
                                <mat-icon>card_travel</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class = row>
                            <button mat-stroked-button class="btn btn-outline-clr" (click)="Router('catalago');snav.toggle()">Catalago</button>&nbsp;
                        </div>
                        <div class = row>
                            <button mat-stroked-button class="btn btn-outline-clr" (click)="Router('catalogo/articulos');snav.toggle()">Asignar Articulo</button>
                        </div>
                    </mat-expansion-panel>
                    <!--Clientes-->
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>Clientes</mat-panel-title>
                            <mat-panel-description>
                                <mat-icon>supervised_user_circle</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <!--Aqui van a estar los bottones-->
                        <div class="row">
                            <button mat-stroked-button class="btn btn-outline-clr" (click)="Router('cliente');snav.toggle()">Clientes</button>&nbsp;
                        </div>
                        <div class="row">
                            <button mat-stroked-button class="btn btn-outline-clr" (click)="Router('cliente/descartados');snav.toggle()">Clientes Descartados</button>
                        </div>                        
                    </mat-expansion-panel>
                    <!--Proyecto-->
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>Proyectos</mat-panel-title>
                            <mat-panel-description>
                                <mat-icon>work</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <button mat-stroked-button class="btn btn-outline-clr" (click)="Router('proyectos');snav.toggle()">Proyectos</button>&nbsp;
                        </div>
                        <div class="row">
                            <button mat-stroked-button class="btn btn-outline-clr" (click)="Router('proyectos/clientes');snav.toggle()">Asignacion de proyecto</button>
                        </div>
                    </mat-expansion-panel>
                    <!--Cotizaciones-->
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>Cotizaciones</mat-panel-title>
                            <mat-panel-description>
                                <mat-icon>description</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <button mat-stroked-button class="btn btn-outline-clr" (click)="Router('cotizacion');snav.toggle()">Cotizaciones</button>
                    </mat-expansion-panel>
                    <!--Ordenes-->
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>Órdenes</mat-panel-title>
                            <mat-panel-description>
                                <mat-icon>assignment</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <button mat-stroked-button class="btn btn-outline-clr" (click)="Router('orden');snav.toggle()">Ordenes</button>
                    </mat-expansion-panel>
                    <!--Entradas-->
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>Entradas</mat-panel-title>
                            <mat-panel-description>
                                <mat-icon>store_mall_directory</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <button mat-stroked-button class="btn btn-outline-clr" (click)="Router('entradas');snav.toggle()">Entradas</button>
                    </mat-expansion-panel>
                    <!--Salidas-->
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>Salidas</mat-panel-title>
                            <mat-panel-description>
                                <mat-icon>local_shipping</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <button mat-stroked-button class="btn btn-outline-clr" (click)="Router('salida');snav.toggle()">Salidas</button>
                    </mat-expansion-panel>
                    <!--Facturas-->
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>Facturas</mat-panel-title>
                            <mat-panel-description>
                                <mat-icon>assignment</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <button mat-stroked-button class="btn btn-outline-clr" (click)="Router('facturas');snav.toggle()">Facturas</button>
                    </mat-expansion-panel>
                    <!--Notas Credito-->
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>N. de Crédito</mat-panel-title>
                            <mat-panel-description>
                                <mat-icon>chrome_reader_mode</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <button mat-stroked-button class="btn btn-outline-clr" (click)="Router('notacredito');snav.toggle()">Notas de Credito</button>
                    </mat-expansion-panel>
                    <!--Pagos-->
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>Pagos</mat-panel-title>
                            <mat-panel-description>
                                <mat-icon>attach_money</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <button mat-stroked-button class="btn btn-outline-clr" (click)="Router('pago');snav.toggle()">Pagos</button>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>Configuraciones</mat-panel-title>
                            <mat-panel-description><!--ICON--></mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">                           
                            <button mat-stroked-button class="btn btn-outline-clr" (click)="Salir();snav.toggle()">Cerrar Sesion</button>&nbsp;
                        </div>
                        <div class="row">       
                            <button mat-stroked-button class="btn btn-outline-clr" [matMenuTriggerFor]="configuracion">Configuraciones</button>                     
                        </div>
                        <mat-menu #configuracion>
                            <button mat-menu-item (click)="Router('usuario');snav.toggle()" [hidden]="rol != 1">Usuarios</button>                            
                            <button mat-menu-item [matMenuTriggerFor]="Ubicacion">Ubicaciones</button>
                            <button mat-menu-item [matMenuTriggerFor]="Instalaciones">Instalaciones</button>
                            <button mat-menu-item [matMenuTriggerFor]="Articulo">Articulos</button>
                            <button mat-menu-item [matMenuTriggerFor]="Finanzas">Finanzas</button>
                            <button mat-menu-item [matMenuTriggerFor]="Operaciones">Operaciones</button>
                        </mat-menu>
                        <mat-menu #Ubicacion="matMenu">
                            <button mat-menu-item (click)="Router('configuraciones/pais');snav.toggle()">Paises</button>
                            <button mat-menu-item (click)="Router('configuraciones/estado');snav.toggle()">Estados</button>
                            <button mat-menu-item (click)="Router('configuraciones/ciudad');snav.toggle()">Ciudades</button>
                        </mat-menu>
                        <mat-menu #Articulo="matMenu">
                            <button mat-menu-item (click)="Router('configuraciones/marcas');snav.toggle()">Marcas</button>
                            <button mat-menu-item (click)="Router('configuraciones/medida');snav.toggle()">Unidades de medida</button>
                            <button mat-menu-item (click)="Router('configuraciones/aclasificaciones');snav.toggle()">Clasificaciones</button>
                            <button mat-menu-item (click)="Router('configuraciones/articuloCategoria');snav.toggle()">Categorias</button>
                            <button mat-menu-item (click)="Router('configuraciones/departamentos');snav.toggle()">Departamentos</button>
                            <button mat-menu-item (click)="Router('configuraciones/grupo');snav.toggle()">Grupos</button>
                            <button mat-menu-item (click)="Router('configuraciones/linea');snav.toggle()">Lineas</button>
                        </mat-menu>
                        <mat-menu #Instalaciones="matMenu">
                            <button mat-menu-item (click)="Router('configuraciones/plomerias');snav.toggle()">Plomerias</button>
                            <button mat-menu-item (click)="Router('configuraciones/electricidad');snav.toggle()">Electricidad</button>
                            <button mat-menu-item (click)="Router('configuraciones/gases');snav.toggle()">Gases y calor</button>
                        </mat-menu>
                        <mat-menu #Finanzas="matMenu">
                            <button mat-menu-item (click)="Router('configuraciones/moneda');snav.toggle()">Monedas</button>
                            <button mat-menu-item (click)="Router('configuraciones/convertidor');snav.toggle()">Convertidor de Monedas</button>
                            <button mat-menu-item (click)="Router('configuraciones/banco');snav.toggle()">Bancos</button>
                            <button mat-menu-item (click)="Router('configuraciones/cuentab');snav.toggle()">Cuenta bancaria</button>
                            <button mat-menu-item (click)="Router('configuraciones/iva');snav.toggle()">Impuestos</button>
                        </mat-menu>
                        <mat-menu #Operaciones="matMenu">
                            <button mat-menu-item (click)="Router('configuraciones/area');snav.toggle()">Areas(Cotizacion)</button>
                            <button mat-menu-item (click)="Router('configuraciones/categorias');snav.toggle()">Categorias(Politicas)</button>
                            <button mat-menu-item (click)="Router('configuraciones/politicas');snav.toggle()">Politicas</button>
                        </mat-menu>                        
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <!--Router--><br />
            <div class="container-fluid">
                <router-outlet></router-outlet>     
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>