<div class="card">
    <div class="card-body">
        <mat-tab-group>
            <mat-tab label="Pago a Proveedores">
                <mat-card>
                    <mat-toolbar>
                        <mat-toolbar-row>
                            <span>Pagos de entradas</span>&nbsp;
                            <button mat-stroked-button class="btn btn-outline-primary" (click)="LipiarPagoEntrada();OpenDialogEntrada()">Nuevo pago</button>
                        </mat-toolbar-row>
                    </mat-toolbar>
                </mat-card>
                <br>
                <mat-card>
                    <mat-form-field>
                        <input matInput (keyup)="Filtro($event.target.value)" placeholder="Buscador">
                    </mat-form-field>
                    <br>
                    <div class="table-responsive">
                        <table mat-table [dataSource]="dataSource" matSort>    
                            <ng-container matColumnDef='numeroPago'>
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>Pago</th>
                              <th scope="row">1</th>
                              <td mat-cell *matCellDef="let row">{{row.numeroPago}}</td>
                            </ng-container>  
                            
                            <ng-container matColumnDef='nomEntrada'>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Entrada</th>
                                <th scope="row">1</th>
                                <td mat-cell *matCellDef="let row">{{row.nomEntrada}}</td>
                            </ng-container>  
        
                            <ng-container matColumnDef='nomProveedor'>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Proveedor</th>
                                <th scope="row">1</th>
                                <td mat-cell *matCellDef="let row">{{row.nomProveedor}}</td>
                            </ng-container>  
                            
                            <ng-container matColumnDef='estOperacion'>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</th>
                                <th scope="row">1</th>
                                <td mat-cell *matCellDef="let row">{{row.estOperacion}}</td>
                            </ng-container>  
                            
                            <ng-container matColumnDef='impPago'>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Importe</th>
                                <th scope="row">1</th>
                                <td mat-cell *matCellDef="let row">{{row.impPago}}</td>
                            </ng-container>  
        
                            <ng-container matColumnDef='resEntrada'>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Restante</th>
                                <th scope="row">1</th>
                                <td mat-cell *matCellDef="let row">{{row.resEntrada}}</td>
                            </ng-container>  
        
                            <ng-container matColumnDef="Acciones">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                                <td mat-cell *matCellDef="let row">
                                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                      <button mat-menu-item (click)="CargarDatosEntrada(row)" [hidden]="row.idEstOperacion == 2">
                                        <mat-icon>comment</mat-icon>
                                        <span>Editar</span>
                                      </button>
                                      <button mat-menu-item  (click)="CambiarEstatusEn(row)"  [hidden]="row.idEstOperacion == 2">
                                        <mat-icon>done_outline</mat-icon>
                                        <span>Aprobar</span>
                                      </button>
                                      <button mat-menu-item (click)="AgregarFolio(2,row)" [hidden]="row.idEstOperacion != 2">
                                        <mat-icon>add_circle</mat-icon>
                                        <span>Actualizar Folio</span>
                                      </button>
                                      <button mat-menu-item (click)="BorrarPagoEnt(row)"  [hidden]="row.idEstOperacion == 2">
                                        <mat-icon>delete</mat-icon>
                                        <span>Borrar</span>
                                      </button>
                                    </mat-menu>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="Columns"></tr>
                            <tr mat-row *matRowDef="let row; columns: Columns;"></tr>
                        </table>
                    </div>
                </mat-card>
            </mat-tab>
            <mat-tab label="Pago de Clientes">
                <mat-card>
                    <mat-toolbar>
                        <mat-toolbar-row>
                            <span>Pagos de entradas</span>&nbsp;
                            <button mat-stroked-button class="btn btn-outline-primary" (click)="Limpiar();openDialog()">Nuevo pago</button>
                        </mat-toolbar-row>
                    </mat-toolbar>
                </mat-card>
                <br>
                <mat-card>
                    <mat-form-field>
                        <input matInput (keyup)="Filtro($event.target.value)" placeholder="Buscador">
                    </mat-form-field>
                    <br>
                    <div class="table-responsive">
                        <table mat-table [dataSource]="dataSourceFactura" matSort>    
                            <ng-container matColumnDef='numeroPago'>
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>Pago</th>
                              <th scope="row">1</th>
                              <td mat-cell *matCellDef="let row">{{row.numeroPago}}</td>
                            </ng-container>  
                            
                            <ng-container matColumnDef='nomFactura'>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Factura</th>
                                <th scope="row">1</th>
                                <td mat-cell *matCellDef="let row">{{row.nomFactura}}</td>
                            </ng-container>  
        
                            <ng-container matColumnDef='razSocCliente'>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
                                <th scope="row">1</th>
                                <td mat-cell *matCellDef="let row">{{row.razSocCliente}}</td>
                            </ng-container>  
                            
                            <ng-container matColumnDef='estOperacion'>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</th>
                                <th scope="row">1</th>
                                <td mat-cell *matCellDef="let row">{{row.estOperacion}}</td>
                            </ng-container>  
                            
                            <ng-container matColumnDef='impPago'>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Importe</th>
                                <th scope="row">1</th>
                                <td mat-cell *matCellDef="let row">{{row.impPago}}</td>
                            </ng-container>  
        
                            <ng-container matColumnDef='resFactura'>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Restante</th>
                                <th scope="row">1</th>
                                <td mat-cell *matCellDef="let row">{{row.resFactura}}</td>
                            </ng-container>  
        
                            <ng-container matColumnDef="Acciones">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                                <td mat-cell *matCellDef="let row">
                                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu" >
                                      <button mat-menu-item (click)="CargarDatos(row)"  [hidden]="row.idEstOperacion == 2">
                                        <mat-icon>comment</mat-icon>
                                        <span>Editar</span>
                                      </button>
                                      <button mat-menu-item  (click)="CambiarEstatus(row)"  [hidden]="row.idEstOperacion == 2">
                                        <mat-icon>done_outline</mat-icon>
                                        <span>Aprobar</span>
                                      </button>
                                      <button mat-menu-item (click)="AgregarFolio(1,row)" [hidden]="row.idEstOperacion != 2">
                                        <mat-icon>add_circle</mat-icon>
                                        <span>Actualizar Folio</span>
                                      </button>
                                      <button mat-menu-item (click)="BorrarPago(row)" [hidden]="row.idEstOperacion == 2">
                                        <mat-icon>delete</mat-icon>
                                        <span>Borrar</span>
                                      </button>
                                    </mat-menu>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="ColumnsFactura"></tr>
                            <tr mat-row *matRowDef="let row; columns: ColumnsFactura;"></tr>
                        </table>
                    </div>
                </mat-card>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>