<div mat-dialog-content>
    <mat-form-field>
            <input matInput placeholder="Folio Fiscal" [(ngModel)]="pago.folio">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-stroked-button class="btn btn-outline-info" (click)="GuardarEntrada()" [hidden]="pago.tipo != 0">Actualizar</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-info" (click)="GuardarEntrada()" [hidden]="pago.tipo != 1">Actualizar</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-warning" (click)="Cancelar()">Cancelar</button>
</div>