<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Proveedor" [matAutocomplete]="auto" [formControl]="stateCtrl">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="ObtenerProveedor($event.option.id);BancoProveedor($event.option.id)">
            <mat-option *ngFor="let P of FilterProveedor | async" [value]="P.nomProveedor" [id]="P.idProveedor">
                <span>{{P.nomProveedor}}</span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Entradas</mat-label>
        <mat-select [(ngModel)]="pago.idEntrada" [disabled]="pago.idPago != 0">
            <mat-option *ngFor="let E of entradas" [value]="E.idEntrada" (click)="ObtVersion(E.versEntrada,E.resEntrada)">{{E.nomEntrada}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Movimiento</mat-label>
        <mat-select [(ngModel)]="pago.idMovimiento" [disabled]="pago.idPago != 0">
            <mat-option *ngFor="let M of movimiento" [value]="M.idMovPago">{{M.cveMovPago}} - {{M.movPago}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Banco del Proveedor</mat-label>
        <mat-select [(ngModel)]="pago.bancoProveedor" [disabled]="pago.idPago != 0">
            <mat-option *ngFor="let BP of bancoPro" [value]="BP.idBanco" (click)="CuentaProveedor(BP.idBanco)">{{BP.nomBanco}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Cuenta del Proveedor</mat-label>
        <mat-select [(ngModel)]="pago.cuentaProveedor" [disabled]="pago.idPago != 0">
            <mat-option *ngFor="let CP of cuentaPro" [value]="CP.ctaProveedor">{{CP.ctaProveedor}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Banco de la empresa</mat-label>
        <mat-select [(ngModel)]="pago.idBanco" [disabled]="pago.idPago != 0">
            <mat-option *ngFor="let B of bancoEmp" [value]="B.idBanco" (click)="CuentaReceptora(B.idBanco)">{{B.nomBanco}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Cuenta de la empresa</mat-label>
        <mat-select [(ngModel)]="pago.cuenta" [disabled]="pago.idPago != 0">
            <mat-option *ngFor="let C of cuentaEmp" [value]="C.ctaCliente">{{C.ctaCliente}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <mat-form-field>
                <input matInput placeholder="Importe" type="number" min="0" [(ngModel)]="pago.importe">
            </mat-form-field>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <mat-form-field>
                <input matInput placeholder="Restante" type="number" min="0" [(ngModel)]="pago.restante" disabled>
            </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-content>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <section class="example-section">
                <mat-checkbox [(ngModel)]="check" [disabled]="pago.idPago != 0" (click)="Check()">Cheque</mat-checkbox>
            </section>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <mat-form-field>
                <input matInput [(ngModel)]="pago.cheque" [disabled]="check == false">
            </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Ficha" [(ngModel)]="pago.ficha">
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Fecha" [(ngModel)]="pago.fecha">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-stroked-button class="btn btn-outline-success" [hidden]="pago.idPago != 0" (click)="Guardar()">Guardar</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-info" [hidden]="pago.idPago == 0" (click)="Actualizar()">Actualizar</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-warning" (click)="Cerrar()">Cancelado</button>
</div>