<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Cliente" [matAutocomplete]="auto" [formControl]="stateCtrl">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="Facturas($event.option.id); BancoEmisor($event.option.id)">
            <mat-option *ngFor="let C of FilterCliente | async" [value]="C.razSocCliente" [id]="C.idCliente">
                <span>{{C.razSocCliente}}</span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Facturas</mat-label>
        <mat-select [(ngModel)]="pago.idFactura" [disabled]="pago.idPago != 0">
            <mat-option *ngFor="let F of facturas" [value]="F.idFactura" (click)="obtVersion(F.versFactura,F.resFactura)">{{F.nomFactura}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Movimiento</mat-label>
        <mat-select [(ngModel)]="pago.idMovimiento" [disabled]="pago.idPago != 0">
            <mat-option *ngFor="let M of movimiento" [value]="M.idMovPago">{{M.cveMovPago}} - {{M.movPago}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Banco del Cliente</mat-label>
        <mat-select [(ngModel)]="pago.idBancoEmisor" [disabled]="pago.idPago != 0">
            <mat-option *ngFor="let B of bancoE" [value]="B.idBanco" (click)="CuentaEmisora(B.idBanco)">{{B.nomBanco}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Cuenta del Cliente</mat-label>
        <mat-select [(ngModel)]="pago.cuentaEmisora" [disabled]="pago.idPago != 0">
            <mat-option *ngFor="let C of cuentaE" [value]="C.ctaCliente">
                {{C.ctaCliente}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Banco de la empresa</mat-label>
        <mat-select [(ngModel)]="pago.idBancoReceptor" [disabled]="pago.idPago != 0">
            <mat-option *ngFor="let B of bancoR" [value]="B.idBanco" (click)="CuentaReceptora(B.idBanco)">{{B.nomBanco}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Cuenta de la empresa</mat-label>
        <mat-select [(ngModel)]="pago.cuentaReceptora" [disabled]="pago.idPago != 0">
            <mat-option *ngFor="let C of cuentaR" [value]="C.ctaCliente">{{C.ctaCliente}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <mat-form-field>
                <input matInput placeholder="Importe" type="number" min="0" [(ngModel)]="pago.importe">
            </mat-form-field>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <mat-form-field>
                <input matInput placeholder="Restante" type="number" min="0" [(ngModel)]="pago.restante" disabled>
            </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-content>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <section class="example-section">
                <mat-checkbox [(ngModel)]="check" [disabled]="pago.idPago != 0" (click)="prueba()">Cheque</mat-checkbox>
            </section>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <mat-form-field>
                <input matInput [(ngModel)]="pago.cheques" [disabled]="check == false">
            </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Ficha" [(ngModel)]="pago.fichas">
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Fecha" [(ngModel)]="pago.fecha">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-stroked-button class="btn btn-outline-success" [hidden]="pago.idPago != 0" (click)="Guardar()">Guardar</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-info" [hidden]="pago.idPago == 0" (click)="Actualizar()">Actualizar</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-warning" (click)="Cerrar()">Cancelar</button>
</div>