<h1 mat-dialog-title>Cambiar Estatus</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Estatus</mat-label>
        <mat-select [(ngModel)]="EstatusFac.idEstatus">
            <mat-option *ngFor="let E of estatus" [value]="E.idEstOperacion">{{E.estOperacion}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-stroked-button class="btn btn-outline-info" (click)="CambiarEstatus()">Actualizar</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-warning" (click)="onNoClick()">Cancelar</button>
</div>