table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 50%;
  }
  
  td, th {
    width: auto;
  }
  
  .mat-toolbar.mat-primary {
    background:white;
    color: black;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  ::ng-deep .mat-form-field {
    width: 100% !important;
  }