<div>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Facturas</span>&nbsp;
            <a routerLink="/facturas/crear"><button mat-stroked-button class="btn btn-outline-primary">Crear Factura</button></a>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<mat-form-field>
    <input matInput (keyup)="Filtro($event.target.value)" placeholder="Filtro">
</mat-form-field>
<div class="table-responsive">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="nomFactura">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Factura </th>
            <td mat-cell *matCellDef="let row"><!--mdb-badge primary="true"-->{{row.nomFactura}}<!--/mdb-badge--></td>
          </ng-container>
        <ng-container matColumnDef="folio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>CFDI</th>
            <td mat-cell *matCellDef="let row">{{row.folio}}</td>
        </ng-container>   
        <ng-container matColumnDef="estOperacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</th>
            <td mat-cell *matCellDef="let row">{{row.estOperacion}}</td>
        </ng-container>     
        <ng-container matColumnDef="cotFactura">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cotizacion(es)</th>
            <td mat-cell *matCellDef="let row">{{row.cotFactura}}</td>
        </ng-container>
        <ng-container matColumnDef="relFactura">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>F. Relacionadas</th>
            <td mat-cell *matCellDef="let row">{{row.relFactura}}</td>
        </ng-container>
        <ng-container matColumnDef="cliente">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
            <td mat-cell *matCellDef="let row">{{row.razSocCliente}}&nbsp;-&nbsp;{{row.rfcCliente}}</td>
        </ng-container>
        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
            <td mat-cell *matCellDef="let row">{{row.totFactura | currency}}&nbsp;{{row.cveMoneda}}</td>
        </ng-container>
        <ng-container matColumnDef="pagos">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Pagos</th>
            <td mat-cell *matCellDef="let row">{{row.npagFactura}}</td>
        </ng-container>
        <ng-container matColumnDef="pagado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Pagado</th>
            <td mat-cell *matCellDef="let row">{{row.tpagFactura | currency}}&nbsp;{{row.cveMoneda}}</td>
        </ng-container>
        <ng-container matColumnDef="restante">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Restante</th>
            <td mat-cell *matCellDef="let row">{{row.resFactura | currency}}&nbsp;{{row.cveMoneda}}</td>
        </ng-container>
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item aria-label="Seguimiento"  [hidden]="row.idEstOperacion == 2 || row.idTipoF >= 3" (click)="EditarVersion(row)">
                        <mat-icon>edit</mat-icon>
                        <span>Editar Version</span>
                    </button>
                    <button mat-menu-item aria-label="Seguimiento" [hidden]="row.idEstOperacion == 2 || row.idTipoF >= 3" (click)="NuevaVersion(row)">
                        <mat-icon>edit</mat-icon>
                        <span>Nueva Version</span>
                    </button>
                    <button mat-menu-item aria-label="Borrar" [hidden]="row.idEstOperacion == 2" (click)="CargarEstatus(row)">
                        <mat-icon>loop</mat-icon>
                        <span>Cambiar Estatus</span>
                    </button>
                    <button mat-menu-item aria-label="Agregar" [hidden]="row.idEstOperacion != 2" (click)="AgregarFolio(row)">
                        <mat-icon>add_circle</mat-icon>
                        <span>Agregar Folio Fiscal</span>
                    </button>
                    <button mat-menu-item aria-label="Borrar" [hidden]="row.idEstOperacion != 2" (click)="VerVersion(row)">
                        <mat-icon>remove_red_eye</mat-icon>
                        <span>Version</span>
                    </button>
                    <button mat-menu-item aria-label="Borrar" [hidden]="row.idEstOperacion == 2" (click)="BorrarFactura(row)">
                        <mat-icon>delete</mat-icon>
                        <span>Borrar</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="Columns"></tr>
        <tr mat-row *matRowDef="let row; columns: Columns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[6, 12, 60, 120]"></mat-paginator>
</div>