<h1 mat-dialog-title>Agregar Folio Fiscal</h1>
<div mat-dialog-content>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
            <mat-label>FAC{{ facturas.idFactura }}-{{ facturas.version }}</mat-label>      
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
            <button mat-stroked-button class="btn btn-outline-primary" (click)="file.click()">Cargar Archivo</button>&nbsp;  
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
            <mat-label>{{ factura }}</mat-label>
            <input type="file" id="archivo" #file hidden (change)="ObtnerFiles($event)" accept=".xml">     
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
            <button mat-stroked-button class="btn btn-outline-danger" (click)="Parceo()">Visualizar Folio</button>
            <input id="xml" hidden>
        </div>
    </div>     
    <mat-form-field class="example-full-width">
        <input matInput type="text" [(ngModel)]="facturas.folioFis" disabled>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
        <button mat-stroked-button class="btn btn-outline-info" [disabled]="folioButton == 0" (click)="Guardar()">Actualizar</button>&nbsp;
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
        <button mat-stroked-button class="btn btn-outline-warning" (click)="Cancelar()">Cancelar</button>
    </div>
</div>