<div>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Cotizaciones</span>&nbsp;
            <a routerLink="/cotizacion/crear"><button mat-stroked-button class="btn btn-outline-primary">Crear Cotizacion</button></a>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<mat-form-field>
    <mat-label>Busqueda</mat-label>
    <input matInput (keyup)="Filtro($event.target.value)">
</mat-form-field>
<div class="table-responsive">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="acciones">
            <th title="Acciones" mat-header-cell *matHeaderCellDef><mat-icon>offline_bolt</mat-icon></th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item aria-label="Seguimiento" [hidden]="row.idEstOperacion == 2" (click)="EditarVersion(row)">
                        <mat-icon [disabled]="row.idEstOperacion == 2">edit</mat-icon>
                        <span>Editar Version</span>
                    </button>
                    <button mat-menu-item aria-label="Seguimiento" [hidden]="row.idEstOperacion == 2" (click)="NuevaVersion(row,2)">
                        <mat-icon>edit</mat-icon>
                        <span>Nueva Version</span>
                    </button>
                    <button mat-menu-item aria-label="Seguimiento" [hidden]="row.idEstOperacion != 2" (click)="Observar(row)">
                        <mat-icon>remove_red_eye</mat-icon>
                        <span>Visualizar Version</span>
                    </button>
                    <button mat-menu-item arial-label="Estatus" [hidden]="row.idEstOperacion == 2"  (click)="CambiarEstatus(row)" >
                        <mat-icon>loop</mat-icon>
                        <span>Cambiar Estatus</span>
                    </button>
                    <!--button mat-menu-item arial-label="Estatus" [hidden]="row.versCotizacion > 1" (click)="OpenModal(row)">
                        <mat-icon>list</mat-icon>
                        <span>Lista Versiones</span>
                    </button-->
                    <button mat-menu-item  [hidden]="row.idEstOperacion == 2"  (click)="Eliminar(row)" >
                        <mat-icon>delete</mat-icon>
                        <span>Eliminar</span>
                    </button>       
                </mat-menu>
            </td>
        </ng-container>
        <ng-container matColumnDef="nomCotizacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cotizacion</th>
            <td mat-cell *matCellDef="let row"><span class="btn btn-outline-info">{{row.nomCotizacion}}</span></td>
          </ng-container>      
        <ng-container matColumnDef="estOperacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</th>
            <td mat-cell *matCellDef="let row">
                <span [hidden]="row.idEstOperacion != 2" class="btn btn-outline-success">{{row.estOperacion}}</span>
                <span [hidden]="row.idEstOperacion != 1" class="btn btn-outline-warning">{{row.estOperacion}}</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="compCliente">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
            <td mat-cell *matCellDef="let row">{{row.compCliente}}</td>
        </ng-container>
        <ng-container matColumnDef="nomProyecto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Proyecto</th>
            <td mat-cell *matCellDef="let row">{{row.nomProyecto}}</td>
        </ng-container>
        <ng-container matColumnDef="refCotizacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Referencia</th>
            <td mat-cell *matCellDef="let row">{{row.refCotizacion}}</td>
        </ng-container>        
        <ng-container matColumnDef="totCotizacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total(es)</th>
            <td mat-cell *matCellDef="let row"><span class="btn btn-outline-dark">{{row.totCotizacion}}</span></td>
        </ng-container>
        <ng-container matColumnDef="tCamCotizacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>T. C.</th>
            <td mat-cell *matCellDef="let row">{{row.tCamCotizacion}}</td>
        </ng-container> 
        <ng-container matColumnDef="fVenCotizacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Vencimiento</th>
            <td mat-cell *matCellDef="let row">{{row.fVenCotizacion | date:'dd/MM/yyyy'}}</td>
        </ng-container>
        <ng-container matColumnDef="fModCotizacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ult. Modificacion</th>
            <td mat-cell *matCellDef="let row">{{row.fModCotizacion | date:'dd/MM/yyyy'}}</td>
        </ng-container>
        <ng-container matColumnDef="usuario">
            <th mat-header-cell *matHeaderCellDef>Ult. Acceso</th>
            <td mat-cell *matCellDef="let row"><span class="btn btn-outline-secondary">{{row.usuario}}</span></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="Columns"></tr>
        <tr mat-row *matRowDef="let row; columns: Columns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[6, 12, 60, 120]"></mat-paginator>
</div>