<div class="table-responsive">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="acciones">
            <th title="Acciones" mat-header-cell *matHeaderCellDef><mat-icon>offline_bolt</mat-icon></th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item aria-label="Seguimiento" >
                        <mat-icon>edit</mat-icon>
                        <span>Editar Version</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>
        <ng-container matColumnDef="nomCotizacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cotizacion</th>
            <td mat-cell *matCellDef="let row"><span class="btn btn-outline-info">{{row.nomCotizacion}}</span></td>
          </ng-container>
        <ng-container matColumnDef="totCotizacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total(es)</th>
            <td mat-cell *matCellDef="let row"><span class="btn btn-outline-dark">{{row.totCotizacion}}</span></td>
        </ng-container>
        <ng-container matColumnDef="fVenCotizacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Vencimiento</th>
            <td mat-cell *matCellDef="let row"> {{row.fVenCotizacion | date:'dd/MM/yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="fModCotizacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Modificacion</th>
            <td mat-cell *matCellDef="let row"> {{row.fModCotizacion | date:'dd/MM/yyyy'}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="Columns"></tr>
        <tr mat-row *matRowDef="let row; columns: Columns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>