<h1 mat-dialog-title>Cambiar estatus</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Estatus</mat-label>
        <mat-select [(ngModel)]="estatus.idEstatus" required>
            <mat-option>Seleccione...</mat-option>
            <mat-option *ngFor="let E of Estus" [value]="E.idEstOperacion">{{E.estOperacion}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-stroked-button class="btn btn-outline-info" (click)="GuardarEstatus()">Actualizar</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-warning" (click)="Cancelar()">Cancelar</button>
</div>