<div class="card">
    <div class="card-body">
        <mat-card>
            <div class="example-container">
                <mat-form-field>
                    <mat-label>Proveedor</mat-label>
                    <mat-select name="idProveedor" [(ngModel)]="orden.idProveedor" disabled>
                        <mat-option *ngFor="let P of proveedor" [value]="P.idProveedor" disabled>{{P.nomProveedor}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <textarea matInput placeholder="Referencia" name="ref" [(ngModel)]="orden.ref" disabled></textarea>
                </mat-form-field>
            </div>
         </mat-card>
        <br>
        <mat-card *ngIf="validador !=0 ">
            <form>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3">
                        <mat-form-field>
                            <input matInput  placeholder="Modelo" type="text" [(ngModel)]="ordenEditar.modelo" name="modelo" disabled/>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3">
                        <mat-form-field>
                            <input matInput placeholder="Nombre" type="text" [(ngModel)]="ordenEditar.nombre" name="nombre" disabled/>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3">
                        <mat-form-field>
                            <input matInput placeholder="Cantidad" type="number" [(ngModel)]="ordenEditar.cantida" name="cantida" disabled/>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3">
                        <mat-form-field>
                            <input matInput placeholder="Precio" type="number"  [(ngModel)]="ordenEditar.precio" name="precio" disabled/>
                        </mat-form-field>
                    </div>
                </div>
                
                    <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3">
                        <button mat-stroked-button class="btn btn-outline-warning" (click)="Cancelar()">Cancelar</button>
                    </div>
            </form>
        </mat-card>
        <br>
        <mat-card>
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="nomCotizacion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cotizacion</th>
                    <td mat-cell *matCellDef="let row">{{row.nomCotizacion}}</td>
                </ng-container>

                <ng-container matColumnDef="modArticulo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Modelo</th>
                    <td mat-cell *matCellDef="let row">{{row.modArticulo}}</td>
                </ng-container>
                
                <ng-container matColumnDef="marcArticulo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Marca</th>
                    <td mat-cell *matCellDef="let row">{{row.marcArticulo}}</td>
                </ng-container>

                <ng-container matColumnDef="cantArticulo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
                    <td mat-cell *matCellDef="let row">{{row.cantArticulo}}</td>
                </ng-container>
        
                <ng-container matColumnDef="cosArticulo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Costo</th>
                    <td mat-cell *matCellDef="let row">{{row.cosArticulo}}</td>
                </ng-container>

                <ng-container matColumnDef="iva">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Iva</th>
                    <td mat-cell *matCellDef="let row">{{row.iva}}</td>
                </ng-container>
        
                <ng-container matColumnDef="subArticulo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>SubTotal</th>
                    <td mat-cell *matCellDef="let row">{{row.subArticulo}}</td>
                </ng-container>

                <ng-container matColumnDef="impArticulo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Importe</th>
                    <td mat-cell *matCellDef="let row">{{row.impArticulo}}</td>
                </ng-container>
        
                <ng-container matColumnDef="cveMoneda">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Moneda</th>
                    <td mat-cell *matCellDef="let row">{{row.cveMoneda}}</td>
                </ng-container>


                <ng-container matColumnDef="Acciones">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item aria-label="Seguimiento" (click)="Cargar(row)">
                                    <mat-icon>remove_red_eye</mat-icon>
                                    <span>Ver</span>
                                </button>      
                            </mat-menu>
                        </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="Columns"></tr>
                <tr mat-row *matRowDef="let row; columns: Columns;"></tr>
            </table>
        </mat-card>
        <br>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
               <button mat-stroked-button class="btn btn-outline-secondary" (click)="Regresar()">Regresar</button>
            </div>
        </div>
    </div>
</div>
