<div class="table-responsive">
    <table mat-table [dataSource]="dataSource" matSort>  
        <ng-container matColumnDef="acciones">
            <th title="Acciones" mat-header-cell *matHeaderCellDef><mat-icon>offline_bolt</mat-icon></th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">                  
                    <button mat-menu-item arial-label="Borrar" (click)="Traspasar2(row, 1)">
                        <mat-icon>remove_red_eye</mat-icon>
                        <span>Ver versión</span>
                    </button>  
                    <button mat-menu-item arial-label="Borrar" (click)="Traspasar2(row, 2)" >
                        <mat-icon>fiber_new</mat-icon>
                        <span>Nueva versión</span>
                    </button>   
                </mat-menu>
            </td>
        </ng-container>  
        <ng-container matColumnDef="nomOrden">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Orden</th>
            <td mat-cell *matCellDef="let row"><span class="btn btn-outline-info">{{row.nomOrden}}</span></td>
        </ng-container>
        <ng-container matColumnDef="ordCotizacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cotizacion(es)</th>
            <td mat-cell *matCellDef="let row"><span class="btn btn-outline-danger">{{row.ordCotizacion}}</span></td>
        </ng-container>  
        <ng-container matColumnDef="nomProveedor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Proveedor </th>
            <td mat-cell *matCellDef="let row"> {{row.nomProveedor}} </td>
        </ng-container>
        <ng-container matColumnDef="totOrden">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
            <td mat-cell *matCellDef="let row"> {{row.totOrden}} </td>
        </ng-container>
        <ng-container matColumnDef="fModOrden">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ult. Modificacion</th>
            <td mat-cell *matCellDef="let row">{{row.fModOrden | date:'dd/MM/yyyy'}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="Columns"></tr>
        <tr mat-row *matRowDef="let row; columns: Columns;"></tr>    
    </table>
    <mat-paginator [pageSizeOptions]="[6, 12, 60, 120]"></mat-paginator>
</div>