<div>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Ordenes</span>&nbsp;
            <a routerLink="/orden/crear"><button mat-stroked-button class="btn btn-outline-primary">Crear Orden</button></a>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<mat-form-field>
    <mat-label>Busqueda</mat-label>
    <input matInput (keyup)="Filtro($event.target.value)">
</mat-form-field>
<div class="table-responsive">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="acciones">
            <th title="Acciones" mat-header-cell *matHeaderCellDef><mat-icon>offline_bolt</mat-icon></th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item aria-label="Seguimiento" (click)="EditarVersion(row)" [hidden]="row.idEstOperacion == 2">
                        <mat-icon>edit</mat-icon>
                        <span>Editar Version</span>
                    </button>
                    <button mat-menu-item aria-label="Version" (click)="NuevaVersion(row)" [hidden]="row.idEstOperacion == 2">
                        <mat-icon>library_add</mat-icon>
                        <span>Nueva Version</span>
                    </button>
                    <button mat-menu-item arial-label="Estatus" (click)="Estatus(row)" [hidden]="row.idEstOperacion == 2">
                        <mat-icon>loop</mat-icon>
                        <span>Cambiar Estatus</span>
                    </button>
                    <button mat-menu-item arial-label="Borrar" (click)="Borrar(row)" [hidden]="row.idEstOperacion == 2">
                        <mat-icon>delete</mat-icon>
                        <span>Borrar</span>
                    </button>
                    <button mat-menu-item arial-label="Borrar" (click)="Descarte(row)" [hidden]="row.idEstOperacion == 2">
                        <mat-icon>visibility_off</mat-icon>
                        <span>Descartar</span>
                    </button>
                    <!--button mat-menu-item arial-label="Borrar" (click)="openDialog(row)" [hidden]="row.idEstOperacion != 2" >
                        <mat-icon>remove_red_eye</mat-icon>
                        <span>Ver versión</span>
                    </button-->
                </mat-menu>
           </td>
        </ng-container>
        <ng-container matColumnDef="nomOrden">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Orden</th>
            <td mat-cell *matCellDef="let row"><span class="btn btn-outline-info">{{row.nomOrden}}</span></td>
        </ng-container>
        <ng-container matColumnDef="ordCotizacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cotizacion(es)</th>
            <td mat-cell *matCellDef="let row"><span class="btn btn-outline-danger">{{row.ordCotizacion}}</span></td>
        </ng-container>
        <ng-container matColumnDef="estOperacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</th>
            <td mat-cell *matCellDef="let row"> 
                <span [hidden]="row.idEstOperacion != 2" class="btn btn-outline-success">{{row.estOperacion}}</span>
                <span [hidden]="row.idEstOperacion != 1" class="btn btn-outline-warning">{{row.estOperacion}}</span>
           </td>
        </ng-container>
        <ng-container matColumnDef="nomProveedor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Proveedor</th>
            <td mat-cell *matCellDef="let row">{{row.nomProveedor}}</td>
        </ng-container>
        <ng-container matColumnDef="totOrden">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
            <td mat-cell *matCellDef="let row"><span class="btn btn-outline-dark">{{row.totOrden}}</span></td>
        </ng-container>
        <ng-container matColumnDef="tCamOrden">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>T. de cambio</th>
            <td mat-cell *matCellDef="let row">{{row.tCamOrden}}</td>
        </ng-container>
        <ng-container matColumnDef="refOrden">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Referencia</th>
            <td mat-cell *matCellDef="let row">{{row.refOrden}}</td>
        </ng-container>
        <ng-container matColumnDef="fModOrden">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ult. Modificacion</th>
            <td mat-cell *matCellDef="let row">{{row.fModOrden | date:'dd/MM/yyyy'}}</td>
        </ng-container>
        <ng-container matColumnDef="usuario">
            <th mat-header-cell *matHeaderCellDef>Ult. Acceso</th>
            <td mat-cell *matCellDef="let row"><span class="btn btn-outline-secondary">{{row.usuario}}</span></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="Columns"></tr>
        <tr mat-row *matRowDef="let row; columns: Columns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[6, 12, 60, 120]"></mat-paginator>
</div>