<form class="example-form">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Prueba" aria-label="Pais" [matAutocomplete]="auto" [formControl]="stateCtrl">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let P of filteredStates | async" [value]="P.pais" (click)="prueba(P.idPais)">
               <span>{{P.pais}}</span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>