.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 50%;
  }
  
  td, th {
    width: auto;
  }
  
  .mat-toolbar.mat-primary {
    background:white;
    color: black;
  }

  th {
    background-color:#f2f2f2;
  }
  
  tr:nth-child(odd) {
    background-color:#fbfbfb;
  }
  
  tr:nth-child(even) {
    background-color:#f2f2f2;
  }

  ::ng-deep .mat-form-field {
    width: 100% !important;
  }