<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Entradas</span>&nbsp;
      <a routerLink="/entradas/crear"><button mat-stroked-button class="btn btn-outline-primary">Crear Entrada</button></a>
  </mat-toolbar-row>
  </mat-toolbar>
</div>
  <mat-form-field>
    <input matInput (keyup)="Filtro($event.target.value)" placeholder="Busqueda">
  </mat-form-field>
  <div class="table-responsive">  
      <table mat-table [dataSource]="dataSource" matSort>  
      <ng-container matColumnDef="nomEntrada">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Entrada</th>
        <th scope="row">1</th>
        <td mat-cell *matCellDef="let row"><mdb-badge primary="true">{{row.nomEntrada}}</mdb-badge>  </td>
      </ng-container>  
      <!-- Progress Column -->
      <ng-container matColumnDef="ordEntrada">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Orden</th>
        <td mat-cell *matCellDef="let row"> {{row.ordEntrada}} </td>
      </ng-container>  
      <!-- Name Column -->
      <ng-container matColumnDef="cotEntrada">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cotizacion</th>
        <td mat-cell *matCellDef="let row"> {{row.cotEntrada}} </td>
      </ng-container>  
      <!-- Color Column -->
      <ng-container matColumnDef="estOperacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
        <td mat-cell *matCellDef="let row"> {{row.estOperacion}} </td>
      </ng-container>
      <ng-container matColumnDef="factEntrada">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Facturas </th>
        <td mat-cell *matCellDef="let row"> {{row.factEntrada}} </td>
      </ng-container>      
      <ng-container matColumnDef="refEntrada">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Referencia </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.fRecEntrada}} </td>
      </ng-container>  
      <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
          <td mat-cell *matCellDef="let row">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item aria-label="Seguimiento" (click)="TraspasarDatos(row,1)" [hidden]="row.idEstOperacion == 2">
                  <mat-icon>edit</mat-icon>
                  <span>Editar Version</span>
                </button>
                <button mat-menu-item aria-label="Seguimiento" (click)="TraspasarDatos(row,2)" [hidden]="row.idEstOperacion == 2" >
                  <mat-icon>edit</mat-icon>
                  <span>Nueva Version</span>
                </button>
                <button mat-menu-item aria-label="Seguimiento" (click)="EliminarOrden(row)" [hidden]="row.idEstOperacion == 2">
                  <mat-icon>delete</mat-icon>
                  <span>Eliminar Orden</span>
                </button>  
                <button mat-menu-item aria-label="Seguimiento" (click)="CargarDatos(row)" [hidden]="row.idEstOperacion == 2" >
                  <mat-icon>loop</mat-icon>
                  <span>Estatus</span>
                </button>   
                <button mat-menu-item aria-label="Seguimiento" (click)="TraspasarDatos(row,3)">
                  <mat-icon>remove_red_eye</mat-icon>
                  <span>Ver versión</span>
                </button>    
              </mat-menu>
          </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="Columns"></tr>
      <tr mat-row *matRowDef="let row; columns: Columns;">
      </tr>    
    </table>
  </div>  
<mat-paginator [pageSizeOptions]="[6, 12, 60, 120]"></mat-paginator>