<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Nombre de la categoría" type="text" name="nombre" [(ngModel)]="categorias.catPolitica">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
      <button mat-stroked-button class="btn btn-outline-info" (click)="Editar()" [hidden]="categorias.idCatPolitica == 0">Actualizar</button>&nbsp;
      <button mat-stroked-button class="btn btn-outline-success" (click)="Nuevo()" [hidden]="categorias.idCatPolitica != 0">Guardar</button>&nbsp;
      <button mat-stroked-button class="btn btn-outline-warning" (click)="onNoClick()">Cancelar</button>
  </div>

