<div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Contactos del cliente</span>&nbsp;
        <button mat-stroked-button class="btn btn-outline-primary" (click)="Reset();OpendDialog()">Nuevo Contacto</button>&nbsp;
        <a routerLink="/cliente"><button mat-stroked-button class="btn btn-outline-secondary">Regresar</button></a>
    </mat-toolbar-row>
    </mat-toolbar>
  </div>
    <mat-form-field>
      <mat-label>Busqueda</mat-label>
      <input matInput (keyup)="Filtro($event.target.value)">
    </mat-form-field>
    <div class="table-responsive">   
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="acciones">
          <th title="Acciones" mat-header-cell *matHeaderCellDef><mat-icon>offline_bolt</mat-icon></th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item aria-label="Seguimiento" data-toggle="modal" data-target="#centralModalSm" (click)="ObtenerDatos(row)">
                    <mat-icon>edit</mat-icon>
                    <span>Editar</span>
                  </button>
                  <button mat-menu-item aria-label="Seguimiento" (click)="Borrar(row)">
                    <mat-icon>delete</mat-icon>
                    <span>Eliminar</span>
                  </button>     
                </mat-menu>
            </td>
        </ng-container>   
        <ng-container matColumnDef="tipoContacto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
          <td mat-cell *matCellDef="let row">
            <span [hidden]="row.idTipoContacto != 1" class="btn btn-outline-info">{{row.tipoContacto}}</span>
            <span [hidden]="row.idTipoContacto != 2" class="btn btn-outline-success">{{row.tipoContacto}}</span>
            <span [hidden]="row.idTipoContacto != 3" class="btn btn-outline-danger">{{row.tipoContacto}}</span>
          </td>
        </ng-container>      
        <ng-container matColumnDef="preContacto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Por defecto</th>          
          <td mat-cell *matCellDef="let row">
            <span [hidden]="row.defContacto == 0" class="btn btn-outline-warning">{{row.preContacto}}</span>
          </td>
        </ng-container>     
        <ng-container matColumnDef="nomComContacto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre completo</th>
          <td mat-cell *matCellDef="let row">{{row.nomComContacto}}</td>
        </ng-container>
        <ng-container matColumnDef="cargoContacto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cargo</th>
          <td mat-cell *matCellDef="let row"> {{row.cargoContacto}} </td>
        </ng-container>
        <ng-container matColumnDef="telCelContacto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefono</th>
          <td mat-cell *matCellDef="let row"> {{row.telCelContacto}} </td>
        </ng-container>
        <ng-container matColumnDef="emailContacto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo electronico</th>
          <td mat-cell *matCellDef="let row"> {{row.emailContacto}} </td>
        </ng-container>     
        <ng-container matColumnDef="fAltaContacto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ingreso</th>
          <td mat-cell *matCellDef="let row"> {{row.fAltaContacto | date:'dd/MM/yyyy'}} </td>
        </ng-container>  
        <ng-container matColumnDef="fModContacto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Modificacion</th>
          <td mat-cell *matCellDef="let row"> {{row.fModContacto | date:'dd/MM/yyyy'}} </td>
        </ng-container>   
        <tr mat-header-row *matHeaderRowDef="Columns"></tr>
        <tr mat-row *matRowDef="let row; columns: Columns;"></tr>      
      </table>
    </div>    
  <mat-paginator [pageSizeOptions]="[6, 12, 60, 120]"></mat-paginator>