<h3>Cotizacion COT{{cotDatos.idCot}}-{{cotDatos.version}}</h3>
<mat-card>
    <mat-form-field>
        <mat-label>Cliente</mat-label>
        <input matInput placeholder="" [matAutocomplete]="autoCli" [formControl]="stateCtrl" required>
        <mat-autocomplete #autoCli="matAutocomplete">
            <mat-option *ngFor="let C of FilteredCliente | async"  [value]="C.compCliente" [id]="C.idCliente">{{C.compCliente}}</mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Proyecto del Cliente</mat-label>
        <mat-select [(ngModel)]="cotDatos.idProyect" disabled required>
            <mat-option *ngFor="let P of Proyecto" [value]="P.idProyecto">{{P.nomProyecto}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Agente</mat-label>
        <input matInput placeholder="" [matAutocomplete]="autoAgente" [formControl]="stateCtrlAgente" disabled required>
        <mat-autocomplete #autoAgente="matAutocomplete" (optionSelected)="ObtenerAgente($event.option.id)">
            <mat-option *ngFor="let A of FilteredAgente | async" [value]="A.nomComUsuario" [id]="A.idUsuario">{{A.nomComUsuario}}</mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Division</mat-label>
        <textarea matInput name="division" disabled [(ngModel)]="cotDatos.division" required></textarea>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Referencia</mat-label>
        <textarea matInput placeholder="" name="referencia" [(ngModel)]="cotDatos.referencia" disabled required></textarea>
    </mat-form-field>
</mat-card><br />
<mat-card>
    <h5>Lista de Articulos</h5>
    <div class="table-responsive">
        <table mat-table [dataSource]="dataSource"> 
            <ng-container matColumnDef="idPartida" sticky>
                <th mat-header-cell *matHeaderCellDef>Pda.</th>
                <td mat-cell *matCellDef="let row" class="cell-center">{{row.letra}}{{row.idPartida}}</td>
            </ng-container>                          
            <ng-container matColumnDef="areaCotizacion">
                <th mat-header-cell *matHeaderCellDef>Area</th>
                <td mat-cell *matCellDef="let row" class="cell-center">{{row.areaCotizacion}}</td>
            </ng-container>   
            <ng-container matColumnDef="modArticulo">
                <th mat-header-cell *matHeaderCellDef>Modelo</th>
                <td mat-cell *matCellDef="let row" class="cell-center">{{row.modArticulo}}</td>
            </ng-container>        
            <ng-container matColumnDef="nomArticulo">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let row">{{row.nomArticulo}}</td>
            </ng-container>        
            <ng-container matColumnDef="marcArticulo">
                <th mat-header-cell *matHeaderCellDef>Marca</th>
                <td mat-cell *matCellDef="let row" class="cell-center">{{row.marcArticulo}}</td>
            </ng-container>        
            <ng-container matColumnDef="catArticulo">
                <th mat-header-cell *matHeaderCellDef>Categoria</th>
                <td mat-cell *matCellDef="let row" class="cell-center">{{row.catArticulo}}</td>
            </ng-container>        
            <ng-container matColumnDef="nomProveedor">
                <th mat-header-cell *matHeaderCellDef>Proveedor</th>
                <td mat-cell *matCellDef="let row" class="cell-center">{{row.nomProveedor}}</td>
            </ng-container>        
            <ng-container matColumnDef="cantArticulo">
                <th mat-header-cell *matHeaderCellDef>Cantidad</th>
                <td mat-cell *matCellDef="let row" class="cell-right">{{row.cantArticulo}}</td>
            </ng-container>          
            <ng-container matColumnDef="cosArticulo">
                <th mat-header-cell *matHeaderCellDef>Precio Unitario</th>
                <td mat-cell *matCellDef="let row" class="cell-right">{{row.cosBArticulo | currency}}&nbsp;{{row.cveMoneda}}</td>
            </ng-container>     
            <ng-container matColumnDef="medArticulo">
                <th mat-header-cell *matHeaderCellDef>U. Medida</th>
                <td mat-cell *matCellDef="let row" class="cell-center">{{row.medArticulo}}</td>
            </ng-container>     
            <ng-container matColumnDef="margArticulo">
                <th mat-header-cell *matHeaderCellDef>Margen (%)</th>
                <td mat-cell *matCellDef="let row" class="cell-right">{{row.margArticulo | number:'1.2-2'}}</td>
            </ng-container>        
            <ng-container matColumnDef="dctoArticulo">
                <th mat-header-cell *matHeaderCellDef>Dcto. (%)</th>
                <td mat-cell *matCellDef="let row" class="cell-right">{{row.dctoArticulo | number:'1.2-2'}}</td>
            </ng-container>                         
            <ng-container matColumnDef="subArticulo" stickyEnd>
                <th mat-header-cell *matHeaderCellDef>Subtotal</th>
                <td mat-cell *matCellDef="let row" class="cell-right">{{row.subArticulo | number:'1.2-2'}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="Columns"></tr>
            <tr mat-row *matRowDef="let row; columns: Columns;"></tr>
        </table>
    </div>
</mat-card><br />
<mat-card>
    <h5>Politicas aplicadas a la cotizacion</h5>
    <div class="table-responsive">
        <table mat-table [dataSource]="dataSourcePol">
            <ng-container matColumnDef="politica" sticky>
                <th mat-header-cell *matHeaderCellDef>Politica</th>
                <td mat-cell *matCellDef="let row">{{row.politica}}</td>
            </ng-container>            
            <ng-container matColumnDef="catPolitica">
                <th mat-header-cell *matHeaderCellDef>Categoria</th>
                <td mat-cell *matCellDef="let row">{{row.catPolitica}}</td>
            </ng-container>
            <ng-container matColumnDef="descPolitica">
                <th mat-header-cell *matHeaderCellDef>Descripcion</th>
                <td mat-cell *matCellDef="let row">{{ReemplazoPolitica(row)}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="ColumnsPol"></tr>
            <tr mat-row *matRowDef="let row; columns: ColumnsPol;"></tr>
        </table>
    </div>
</mat-card><br />
<mat-card>
    <a routerLink="/cotizacion"><button mat-stroked-button class="btn btn-outline-secondary" (click)="ResetAll()">Regresar</button></a>
</mat-card>
<!--div class="card">
	<div class="card-boyd">		
		<mat-card>
            <mat-accordion>
                <mat-expansion-panel  #tabla = "matExpansionPanel" [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title></mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="table-responsive">
                        <table mat-table [dataSource]="dataSource">                            
                            <ng-container matColumnDef="areaCotizacion">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Area</th>
                                <th scope="row"> 1 </th>
                                <td mat-cell *matCellDef="let row">{{row.areaCotizacion}}</td>
                            </ng-container>        
                            <ng-container matColumnDef="idPartida">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Pda.</th>
                                <th scope="row"> 1 </th>
                                <td mat-cell *matCellDef="let row">{{row.idPartida}}</td>
                            </ng-container>
                            <ng-container matColumnDef="modArticulo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Modelo</th>
                                <th scope="row"> 1 </th>
                                <td mat-cell *matCellDef="let row">{{row.modArticulo}}</td>
                            </ng-container>        
                            <ng-container matColumnDef="nomArticulo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                                <th scope="row"> 1 </th>
                                <td mat-cell *matCellDef="let row">{{row.nomArticulo}}</td>
                            </ng-container>        
                            <ng-container matColumnDef="marcArticulo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Marca</th>
                                <th scope="row"> 1 </th>
                                <td mat-cell *matCellDef="let row">{{row.marcArticulo}}</td>
                            </ng-container>        
                            <ng-container matColumnDef="catArticulo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoria</th>
                                <th scope="row"> 1 </th>
                                <td mat-cell *matCellDef="let row">{{row.catArticulo}}</td>
                            </ng-container>        
                            <ng-container matColumnDef="cveMedArticulo">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>U. Medida</th>
                                    <th scope="row"> 1 </th>
                                    <td mat-cell *matCellDef="let row">{{row.medArticulo}}</td>
                            </ng-container>        
                            <ng-container matColumnDef="nomProveedor">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Proveedor</th>
                                <th scope="row"> 1 </th>
                                <td mat-cell *matCellDef="let row">{{row.nomProveedor}}</td>
                            </ng-container>        
                            <ng-container matColumnDef="cantArticulo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
                                <th scope="row"> 1 </th>
                                <td mat-cell *matCellDef="let row">{{row.cantArticulo}}</td>
                            </ng-container>        
                            <ng-container matColumnDef="cosArticulo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Costo</th>
                                <th scope="row"> 1 </th>
                                <td mat-cell *matCellDef="let row">{{row.cosArticulo}}</td>
                            </ng-container>    
                            <ng-container matColumnDef="margArticulo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Margen</th>
                                <th scope="row"> 1 </th>
                                <td mat-cell *matCellDef="let row">{{row.margArticulo}}</td>
                            </ng-container>        
                            <ng-container matColumnDef="dctoArticulo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Descto</th>
                                <th scope="row"> 1 </th>
                                <td mat-cell *matCellDef="let row">{{row.dctoArticulo}}</td>
                            </ng-container>        
                            <ng-container matColumnDef="iva">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>IVA</th>
                                <th scope="row"> 1 </th>
                                <td mat-cell *matCellDef="let row">{{row.iva}}</td>
                            </ng-container>                        
                            <ng-container matColumnDef="subArticulo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Subtotal</th>
                                <th scope="row"> 1 </th>
                                <td mat-cell *matCellDef="let row">{{row.subArticulo}}</td>
                            </ng-container>                
                            <ng-container matColumnDef="impArticulo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Importe</th>
                                <th scope="row"> 1 </th>
                                <td mat-cell *matCellDef="let row">{{row.impArticulo}}</td>
                            </ng-container>        
                            <ng-container matColumnDef="cveMoneda">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Moneda</th>
                                <th scope="row"> 1 </th>
                                <td mat-cell *matCellDef="let row">{{row.cveMoneda}}</td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="Columns"></tr>
                            <tr mat-row *matRowDef="let row; columns: Columns;"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[10,20,30]"></mat-paginator>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
		</mat-card><br>
		<mat-card>
			<mat-accordion>
                <mat-expansion-panel #tablaPolitica = "matExpansionPanel" [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title></mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="table-responsive">
                        <table mat-table [dataSource]="dataSourcePol">
                            <ng-container matColumnDef="politica">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Politicas</th>
                                <th scope="row"> 1 </th>
                                <td mat-cell *matCellDef="let row">{{row.politica}}</td>
                            </ng-container>            
                            <ng-container matColumnDef="catPolitica">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Categorias</th>
                                <th scope="row"> 1 </th>
                                <td mat-cell *matCellDef="let row">{{row.catPolitica}}</td>
                            </ng-container>
                            <ng-container matColumnDef="descPolitica">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripcion</th>
                                <th scope="row"> 1 </th>
                                <td mat-cell *matCellDef="let row">{{ReemplazoPolitica(row)}}</td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="ColumnsPol"></tr>
                            <tr mat-row *matRowDef="let row; columns: ColumnsPol;"></tr>
                        </table>
                    </div>
                </mat-expansion-panel>
			</mat-accordion>
		</mat-card>
       </div>
</div-->