<h3>Editar Cliente</h3>
<mat-card>
    <h5>Datos Generales</h5>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <mat-form-field>
                <mat-label>No. Cliente</mat-label>
                <input matInput type="number" min="0" name="idCliente" [(ngModel)]="clienteDetalle.idNuvCli" required>
            </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <mat-form-field>
                <mat-label>Nombre Comercial</mat-label>
                <input matInput type="text" name="compCliente" [(ngModel)]="clienteDetalle.compCliente" required>
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <mat-label>Estatus del cliente</mat-label>
                <mat-select matNativeControl placeholder="Estatus del cliente" name="idTipoCli" [(ngModel)]="clienteDetalle.idTipoCli" required>
                    <mat-option>Seleccione...</mat-option>
                    <mat-option *ngFor="let T of tipo" [value]="T.idTipoCliente">{{T.tipoCliente}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <mat-label>Telefono Fijo</mat-label>
                <input matInput type="number" min="0" name="telFijo" [(ngModel)]="clienteDetalle.telFijo" required>
                <mat-icon matSuffix>contact_phone</mat-icon>
            </mat-form-field>
        </div>
    </div>
</mat-card><br />
<mat-card>
    <h5>Datos Comerciales</h5>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <mat-label>Giro</mat-label>
                <mat-select name="idGiroCli" [(ngModel)]="clienteDetalle.idGiroCli" required [disabled]="clienteDetalle.idTipoCli != 1">
                    <mat-option>Seleccione...</mat-option>
                    <mat-option *ngFor="let G of giro" [value]="G.idGiroCliente">{{G.giroCliente}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <mat-label>Especialidad</mat-label>
                <mat-select name="idEspCli" [(ngModel)]="clienteDetalle.idEspCli" required [disabled]="clienteDetalle.idTipoCli != 1"> 
                    <mat-option>Seleccione...</mat-option>
                    <mat-option *ngFor="let E of especialidad" [value]="E.idEspCliente">{{E.espCliente}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div><div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <mat-label>Pagina Web</mat-label>
                <input matInput type="text" name="pWebCli" [(ngModel)]="clienteDetalle.pWebCli" required [disabled]="clienteDetalle.idTipoCli != 1">
                <mat-icon matSuffix>language</mat-icon>
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <mat-label>Referencia</mat-label>
                <input matInput type="text" name="refCli" [(ngModel)]="clienteDetalle.refCli" required [disabled]="clienteDetalle.idTipoCli != 1">
            </mat-form-field>
        </div>
    </div>
    <mat-form-field>
        <mat-label>Comentario</mat-label>
        <input matInput type="text" name="comCli" [(ngModel)]="clienteDetalle.comCli" required [disabled]="clienteDetalle.idTipoCli != 1">
    </mat-form-field>
</mat-card><br />
<mat-card>
    <h5>Datos Fiscales</h5><div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <mat-form-field>
                <mat-label>Nombre Fiscal</mat-label>
                <input matInput type="text" name="razSocCli" [(ngModel)]="clienteDetalle.razSocCli" required [disabled]="clienteDetalle.idTipoCli != 1">
            </mat-form-field>
        </div>                    
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <mat-label>Tipo de persona</mat-label>
                <mat-select name="idTipoPersona" [(ngModel)]="clienteDetalle.idTipoPersona" required [disabled]="clienteDetalle.idTipoCli != 1">
                    <mat-option>Seleccione...</mat-option>
                    <mat-option *ngFor="let T of tipop" [value]="T.idTipoPersona">{{ T.tipoPersona }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <mat-label>RFC</mat-label>
                <input matInput type="text" name="rfcCli" [(ngModel)]="clienteDetalle.rfcCli" required [disabled]="clienteDetalle.idTipoCli != 1">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <mat-form-field>
                <mat-label>Calle</mat-label>
                <input matInput type="text" name="calleCli" [(ngModel)]="clienteDetalle.calleCli" required [disabled]="clienteDetalle.idTipoCli != 1">
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <mat-label>Numero</mat-label>
                <input matInput type="number" name="numCli" [(ngModel)]="clienteDetalle.numCli" required [disabled]="clienteDetalle.idTipoCli != 1">
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <mat-label>Colonia</mat-label>
                <input matInput type="text" name="colCli" [(ngModel)]="clienteDetalle.colCli" required [disabled]="clienteDetalle.idTipoCli != 1">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <mat-label>Pais</mat-label>
                <mat-select name="idPais" [(ngModel)]="clienteDetalle.idPais" required [disabled]="clienteDetalle.idTipoCli != 1">
                    <mat-option>Seleccione...</mat-option>
                    <mat-option *ngFor="let P of pais" [value]="P.idPais" (click)="SelectEstado(P.idPais)">{{P.pais}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <mat-label>Estado</mat-label>
                <mat-select name="idEstado" [(ngModel)]="clienteDetalle.idEstado" required [disabled]="clienteDetalle.idTipoCli != 1">
                    <mat-option>Seleccione...</mat-option>
                    <mat-option *ngFor="let E of estado" [value]="E.idEstado" (click)="SelectCiudad(E.idEstado)">{{E.estado}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <mat-label>Ciudad</mat-label>
                <mat-select name="idCiudad" [(ngModel)]="clienteDetalle.idCiudad" required [disabled]="clienteDetalle.idTipoCli != 1">
                    <mat-option>Seleccione...</mat-option>
                    <mat-option *ngFor="let C of ciudad" [value]="C.idCiudad">{{C.ciudad}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <mat-label>Codigo Postal</mat-label>
                <input matInput type="number" name="cpCli" [(ngModel)]="clienteDetalle.cpCli" required [disabled]="clienteDetalle.idTipoCli != 1">
            </mat-form-field>
        </div>
    </div>
</mat-card><br />
<mat-card>
    <button mat-stroked-button class="btn btn-outline-info" (click)="Actualizar()">Actualizar</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-warning" (click)="Cancelar()">Cancelar</button>
</mat-card>