<!--Elementos de la Tabla-->
<div>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Excepciones</span>
            <button type="button" class="btn btn-outline-warning waves-effect" style="position: relative; left: 10%;" data-toggle="modal" data-target="#anakin" (click)='Reset()'>Nueva Excepcion</button> <!--agregar (click)="Reset()"-->
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<br>
<mat-form-field>
    <input matInput (keyup)="Filtro($event.target.value)" placeholder="Busqueda">
</mat-form-field>
<div class="table-responsive">
    <table mat-table [dataSource]="dataSource" matSort> 
        <ng-container matColumnDef='excepcion'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Modelo</th>
            <th scope="row">1</th>
            <td mat-cell *matCellDef="let row">{{row.excepcion}}</td>
        </ng-container>  
        <ng-container matColumnDef='nomExcepcion'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Excepcion</th>
            <th scope="row">1</th>
            <td mat-cell *matCellDef="let row">{{row.nomExcepcion}}</td>
        </ng-container>         
        <ng-container matColumnDef='codSatExcepcion'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo SAT</th>
            <th scope="row">1</th>
            <td mat-cell *matCellDef="let row">{{row.codSatExcepcion}}</td>
        </ng-container>          
        <ng-container matColumnDef='margExcepcion'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Margen</th>
            <th scope="row">1</th>
            <td mat-cell *matCellDef="let row">{{row.margExcepcion}}</td>
        </ng-container>               
        <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item  data-toggle="modal" data-target="#anakin" (click)="Cargar(row)"><!--(click)="Cargar(row)" agregar-->
                        <mat-icon>comment</mat-icon>
                        <span>Editar</span>
                    </button>
                    <button mat-menu-item (click)="Eliminar(row)" > <!--agregar (click)="Eliminar(row)"-->
                        <mat-icon>delete</mat-icon>
                        <span>Borrar</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>  
        <tr mat-header-row *matHeaderRowDef="Columns"></tr>
        <tr mat-row *matRowDef="let row; columns: Columns;"></tr>  
    </table>
</div>
<mat-paginator [pageSizeOptions]="[6, 12, 60, 120]"></mat-paginator>
<!--Termina la tabla--> 
<!--Modal--> 
<div class="modal fade" id="anakin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
    <div class="modal-dialog modal-lg" role="document"> 
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">{{title}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <mat-form-field><input matInput placeholder="Modelo" type="text" name="excepcion" #nombre="ngModel" [(ngModel)]="excepciones.excepcion"></mat-form-field> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <mat-form-field><input matInput placeholder="Nombre" type="text" name="nomExcepcion" #nombre="ngModel" [(ngModel)]="excepciones.nomExcepcion"></mat-form-field> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <mat-form-field><input matInput placeholder="Codigo SAT" type="number" name="codSatExcepcion" #nombre="ngModel" [(ngModel)]="excepciones.codSatExcepcion"></mat-form-field> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <mat-form-field><input matInput placeholder="Margen" type="number" name="margExcepcion" #nombre="ngModel" [(ngModel)]="excepciones.margExcepcion"></mat-form-field> 
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" (click)="Reset()">Close</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" id="Actualizar" (click)="Editar()">Actualizar</button>
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" (click)="Nuevo()" id="Nuevo" >Guardar</button>
            </div>
        </div>
    </div>
</div>
<br>
<br>