table {
    width: 75%;
  }
 
  .mat-form-field {
    font-size: 14px;
    width: 50%;
  }
  
  td, th {
    width: 10%;
  }
  
  .mat-toolbar.mat-primary {
    background:white;
    color: black;
  }

  .example-ripple-container {
    cursor: pointer;
    text-align: center;  
    width: 300px;
    height: 300px;
    line-height: 300px;  
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;  
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
  }

  #Actualizar{
    display: none;
  }