<!--Elementos de la Tabla-->
<div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Unidad de medida</span>&nbsp;
        <button mat-stroked-button class="btn btn-outline-primary" (click)="Reset();openDialog()">Nueva Medida</button> <!--agregar (click)="Reset()"-->
    </mat-toolbar-row>
  </mat-toolbar>
    </div>
  <mat-form-field>
      <input matInput (keyup)="Filtro($event.target.value)" placeholder="Busqueda">
    </mat-form-field>
    <div class="table-responsive">   
      <table mat-table [dataSource]="dataSource" matSort>       
        <ng-container matColumnDef='medArticulo'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Unidad de medida </th>
            <th scope="row">1</th>
            <td mat-cell *matCellDef="let row">{{row.medArticulo}}</td>
        </ng-container>  
        <ng-container matColumnDef='cveMedArticulo'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Código de SAT  </th>
            <th scope="row">1</th>
            <td mat-cell *matCellDef="let row">{{row.cveMedArticulo}}</td>
        </ng-container>
        <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item  data-toggle="modal" data-target="#anakin" (click)="Cargar(row)"><!--(click)="Cargar(row)" agregar-->
                    <mat-icon>comment</mat-icon>
                    <span>Editar</span>
                  </button>
                  <button mat-menu-item (click)="Eliminar(row)" > <!--agregar (click)="Eliminar(row)"-->
                    <mat-icon>delete</mat-icon>
                    <span>Borrar</span>
                  </button>
                </mat-menu>
            </td>
        </ng-container>  
        <tr mat-header-row *matHeaderRowDef="Columns"></tr>
        <tr mat-row *matRowDef="let row; columns: Columns;">
        </tr>      
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[6, 12, 60, 120]"></mat-paginator>
<!--Termina la tabla-->