<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Unidad de medida" type="text" name="nombre" [(ngModel)]="medida.medArticulo">
    </mat-form-field>
  </div>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Código de SAT" type="text" name="nombre" [(ngModel)]="medida.cveMedArticulo">
    </mat-form-field>
</div>
  <div mat-dialog-actions>
      <button mat-stroked-button class="btn btn-outline-info" (click)="Editar()" [hidden]="medida.idMedArticulo == 0">Actualizar</button>
      <button mat-stroked-button class="btn btn-outline-success" (click)="Nuevo()" [hidden]="medida.idMedArticulo != 0">Guardar</button>
      <button mat-stroked-button class="btn btn-outline-warning" (click)="onNoClick()">Cancelar</button>
  </div>