<div mat-dialog-content>
    <mat-form-field *ngIf="generico.ubicador == 1">
        <mat-label>Selecciona Moneda</mat-label>
        <mat-select [(ngModel)]="generico.idMoneda">
            <mat-option *ngFor="let M of moneda" [value]="M.idMoneda">{{M.cveMoneda}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="generico.ubicador == 3">
        <mat-label>Moneda Origen</mat-label>
        <mat-select [(ngModel)]="generico.idMoneda">
            <mat-option *ngFor="let M of moneda" [value]="M.idMoneda" (click)="MonedaDestino()">{{M.cveMoneda}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="generico.ubicador == 3">
        <mat-label>Moneda Destino</mat-label>
        <mat-select [(ngModel)]="generico.idMonedaDestino">
            <mat-option *ngFor="let M2 of moneda2" [value]="M2.idMoneda" (click)="ObtValor()">{{M2.cveMoneda}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="generico.ubicador == 2">
        <mat-label>Cotizacion</mat-label>
        <mat-select [(ngModel)]="generico.idCotizacion">
            <mat-option *ngFor="let C of cotizaciones" [value]="C.idCotizacion" (click)="ObtVersion(C.versCotizacion)">{{C.nomCotizacion}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="generico.ubicador == 4">
        <mat-label>Moneda finiquito</mat-label>
        <mat-select [(ngModel)]="generico.idMoneda">
            <mat-option *ngFor="let M of moneda" [value]="M.idMoneda">{{M.cveMoneda}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-content *ngIf="generico.ubicador == 3">
    <mat-form-field >
        <input matInput type="number"  min="0" [(ngModel)]="generico.valorCambio" >
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <div class="example-button-row">
        <button mat-stroked-button class="btn btn-outline-success" (click)="BorrarMoneda()" [hidden]="generico.ubicador != 1">Borrar Articulos</button>&nbsp;
        <button mat-stroked-button class="btn btn-outline-success" (click)="Convertir()" [hidden]="generico.ubicador != 3">Convertir Articulos</button>&nbsp;
        <button mat-stroked-button class="btn btn-outline-success" (click)="BorrarCotizacion()" [hidden]="generico.ubicador != 2">Borrar Articulos</button>&nbsp;
        <button mat-stroked-button class="btn btn-outline-success" (click)="Finiquito()" [hidden]="generico.ubicador != 4">Seleccionar moneda</button>&nbsp;
        <button mat-stroked-button class="btn btn-outline-warning" (click)="Cancelar()">Cancelar</button>
    </div>
</div>