<div class="card-body">
    <div class="body">
        <mat-card>
            <div class="example-container">
                <mat-form-field>
                    <input matInput placeholder="Cliente" [matAutocomplete]="auto" [formControl]="stateCliente" required>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="ObtCliente($event.option.id)">
                        <mat-option>Seleccione...</mat-option>
                        <mat-option *ngFor="let C of FilteredCliente | async" [value]="C.razSocCliente" [id]="C.idCliente">
                            <span>{{C.razSocCliente}} - {{C.rfcCliente}}</span>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <mat-form-field>
                        <mat-label>Tipo de pago</mat-label>
                        <mat-select [(ngModel)]="factura.tPago" required>
                            <mat-option>Seleccione...</mat-option>
                            <mat-option *ngFor="let tP of TipoDePago" [value]="tP.id">{{tP.vista}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <mat-form-field>
                        <mat-label>Metodo Pago</mat-label>
                        <mat-select [(ngModel)]="factura.mPago" required>
                            <mat-option>Seleccione...</mat-option>
                            <mat-option *ngFor="let mP of MetodoDePago" [value]="mP.id">{{mP.vista}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <mat-form-field>
                        <mat-label>Forma de pago</mat-label>
                        <mat-select [(ngModel)]="factura.fPago" required>
                            <mat-option>Seleccione...</mat-option>
                            <mat-option *ngFor="let fP of FormaDePago" [value]="fP.idFormaPago">{{fP.formaPago}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <mat-form-field>
                        <input matInput type="number" min="0" placeholder="Plazo" [(ngModel)]="factura.plazo" [disabled]="factura.tPago != 2" required>
                    </mat-form-field>
                </div>            
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
                    <mat-form-field>
                        <mat-label>Tipo de CFDI</mat-label>
                        <mat-select [(ngModel)]="factura.CFDI" required>
                            <mat-option>Seleccione...</mat-option>
                            <mat-option *ngFor="let ci of cfdi" [value]="ci.idTipoCfdi">{{ci.tipoCfdi}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <mat-form-field>
                        <input matInput placeholder="Anticipo" type="number" min="0" [(ngModel)]="factura.anticipo" required>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <mat-form-field>                        
                        <mat-label>Retenciones</mat-label>
                        <mat-select [(ngModel)]="retencion" required>
                            <mat-option>Seleccione...</mat-option>
                            <mat-option *ngFor="let ret of Retenciones" (click)="CambioRet(ret.id)" [value]="ret.id">{{ret.vista}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>  
            </div>
            <div class="example-container">
                <mat-form-field>
                    <textarea matInput placeholder="Descripcion" [(ngModel)]="factura.referencia" required></textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Tipo de Factura</mat-label>
                    <mat-select [(ngModel)]="factura.tFactura" required>
                        <mat-option>Seleccione...</mat-option>
                        <mat-option *ngFor="let tf of tFactura" [value]="tf.idTipOperacion" (click)="CambioTipo(tf.idTipOperacion)">{{tf.tipOperacion}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf = "factura.tFactura != 3 || factura.tFactura == 0">
                    <input matInput placeholder="Cotizacion" [matAutocomplete]="autoCot" [formControl]="stateCotizacion" required>
                    <mat-autocomplete #autoCot="matAutocomplete" (optionSelected)="ObtCotizacion($event.option.id)" required>
                        <mat-option>Seleccione...</mat-option>
                        <mat-option *ngFor="let Cot of FilteredCotizacion | async" [value]="Cot.nomCotizacion" [id]="Cot">
                            <span>{{Cot.nomCotizacion}}</span>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </mat-card>
        <br />
        <div *ngIf="ubicador != 0 || factura.tFactura == 3">
            <mat-card>
                <div class="example-container">
                    <mat-form-field>
                        <input matInput placeholder="Codigo Sat" [matAutocomplete]="autoArt" [formControl]="stateArticulo" required>
                        <mat-autocomplete #autoArt="matAutocomplete" (optionSelected)="ObtProveedor($event.option.id)">
                            <mat-option>Seleccione...</mat-option>
                            <mat-option *ngFor="let A of FilterArticulo | async" [value]="A.codSatArticulo + ' (' + A.nomArticulo + ' - ' + A.modArticulo + ')'" [id]="A"> {{A.codSatArticulo}} ({{A.nomArticulo}} - {{A.modArticulo}}) </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <mat-form-field>
                            <mat-label>Proveedor</mat-label>
                            <mat-select [(ngModel)]="facturaLib.idProveedor" [disabled]="ubicador == 1" required>
                                <mat-option>Seleccione...</mat-option>
                                <mat-option *ngFor="let P of Proveedor" [value]="P.idProveedor" (click)="ObtInformacionArt(P.idProveedor)">{{P.nomProveedor}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <mat-form-field>
                            <mat-label>Moneda</mat-label>
                            <mat-select [(ngModel)]="facturaLib.idMoneda" disabled required>
                                <mat-option>Seleccione...</mat-option>
                                <mat-option *ngFor="let M of Monedas" [value]="M.idMoneda">{{M.cveMoneda}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <mat-form-field>
                            <input matInput placeholder="Cantidad" type="number" min="0" [(ngModel)]="facturaLib.cantidad" [disbaled]="factura.tFactura == 4" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <mat-form-field>
                            <input matInput placeholder="Precio" type="number" min="0" [(ngModel)]="facturaLib.precio" required>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <mat-form-field>
                            <input matInput placeholder="Descuento" type="number" min="0" [(ngModel)]="facturaLib.descuento" required>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <mat-form-field>
                            <mat-label>Iva</mat-label>
                            <mat-select [(ngModel)]="facturaLib.idIva" required>
                                <mat-option>Seleccione...</mat-option>
                                <mat-option *ngFor="let I of Ivas" [value]="I.idIva">{{I.iva}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <button mat-stroked-button class="btn btn-outline-success" [hidden]="(factura.tFactura == 3 && ubicador == 1) || ubicador == 1 " (click)="GuardarArticulo()">Guardar</button>&nbsp;
                        <button mat-stroked-button class="btn btn-outline-info" [hidden]="ubicador == 0" (click)="EditarArticulo()">Actualizar</button>&nbsp;
                        <button mat-stroked-button class="btn btn-outline-warning" (click)="Cancelar()">Cancelar</button>
                    </div>
                </div>
            </mat-card>
            <br />
        </div>        
        <div [hidden]="factura.tFactura == 0 || factura.tFactura > 3">
            <mat-card>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button mat-stroked-button class="btn btn-outline-danger" [hidden]="factura.tFactura > 3 || factura.tFactura == 0 " (click)="OpendDialog(1)">Borrar por Moneda</button>&nbsp;
                        <button mat-stroked-button class="btn btn-outline-danger" [hidden]="factura.tFactura != 1 || factura.tFactura == 0" (click)="OpendDialog(2)">Borrar por Cotizacion</button>&nbsp;
                        <button mat-stroked-button class="btn btn-outline-danger" [hidden]="(factura.tFactura != 3 && factura.tFactura != 1) || factura.tFactura == 0" (click)="OpendDialog(3)">Convertidor de Moneda</button>
                    </div>
                </div>
            </mat-card>
            <br />
        </div>
        <mat-card>
            <div class="table-responsive mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="acciones" sticky>
                        <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let row">
                                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item aria-label="Seguimiento" (click)="CargarDatos(row)">
                                        <mat-icon>edit</mat-icon>
                                        <span>Editar</span>
                                    </button>
                                    <button mat-menu-item aria-label="Seguimiento" (click)="Eliminar(row)">
                                        <mat-icon>delete</mat-icon>
                                        <span>Borrar</span>
                                    </button>      
                                </mat-menu>
                            </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>                    
                    <ng-container matColumnDef="nomCotizacion" >
                        <th mat-header-cell *matHeaderCellDef [hidden]="factura.tFactura == 3 || factura.tFactura == 4">Cotizacion</th>
                        <td mat-cell *matCellDef="let row" [hidden]="factura.tFactura == 3 || factura.tFactura == 4" class="cell-center">{{row.nomCotizacion}}</td>
                        <td mat-footer-cell *matFooterCellDef [hidden]="factura.tFactura == 3 || factura.tFactura == 4"></td>
                    </ng-container>
                    <ng-container matColumnDef="idPartida">
                        <th mat-header-cell *matHeaderCellDef>Pda.</th>
                        <td mat-cell *matCellDef="let row" class="cell-center">{{row.letrArticulo}}{{row.idPartida}}</td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="codSatArticulo">
                        <th mat-header-cell *matHeaderCellDef>Codigo SAT</th>
                        <td mat-cell *matCellDef="let row" class="cell-center">{{row.codSatArticulo}}</td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="modArticulo">
                        <th mat-header-cell *matHeaderCellDef>Modelo</th>
                        <td mat-cell *matCellDef="let row" class="cell-center">{{row.modArticulo}}</td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="nomArticulo">
                        <th mat-header-cell *matHeaderCellDef>Nombre</th>
                        <td mat-cell *matCellDef="let row">{{row.nomArticulo}}</td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="nomProveedor">
                        <th mat-header-cell *matHeaderCellDef>Proveedor</th>
                        <td mat-cell *matCellDef="let row" class="cell-center">{{row.nomProveedor}}</td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="cantArticulo">
                        <th mat-header-cell *matHeaderCellDef>Cantidad</th>
                        <td mat-cell *matCellDef="let row" class="cell-right">{{row.cantArticulo | number:'1.4-4'}}</td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="cosArticulo">
                        <th mat-header-cell *matHeaderCellDef>Precio Unitario</th>
                        <td mat-cell *matCellDef="let row" class="cell-right">{{row.cosArticulo | currency}}&nbsp;{{row.cveMoneda}}</td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="iva">
                        <th mat-header-cell *matHeaderCellDef>IVA</th>
                        <td mat-cell *matCellDef="let row" class="cell-center">{{row.iva}}</td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="cveMedArticulo">
                        <th mat-header-cell *matHeaderCellDef>U. M.</th>
                        <td mat-cell *matCellDef="let row" class="cell-center">{{row.cveMedArticulo}}</td>
                        <td mat-footer-cell *matFooterCellDef>Total:</td>
                    </ng-container> 
                    <ng-container matColumnDef="subArticulo">
                        <th mat-header-cell *matHeaderCellDef>Subtotal</th>
                        <td mat-cell *matCellDef="let row" class="cell-right">{{row.subArticulo | number:'1.2-2'}}</td>
                        <td mat-footer-cell *matFooterCellDef class="cell-right">{{totales.subArticulos | currency}}</td>
                    </ng-container>
                    <ng-container matColumnDef="ivArticulo">
                        <th mat-header-cell *matHeaderCellDef>Impuesto</th>
                        <td mat-cell *matCellDef="let row" class="cell-right">{{row.ivArticulo | number:'1.2-2'}}</td>
                        <td mat-footer-cell *matFooterCellDef class="cell-right">{{totales.ivArticulos | currency}}</td>
                    </ng-container>
                    <ng-container matColumnDef="retArticulo">
                        <th mat-header-cell *matHeaderCellDef [hidden]="retencion == 1">Retencion</th>
                        <td mat-cell *matCellDef="let row" class="cell-right" [hidden]="retencion == 1">{{row.retArticulo | number:'1.2-2'}}</td>
                        <td mat-footer-cell *matFooterCellDef class="cell-right" [hidden]="retencion == 1">{{totales.retArticulos | currency}}</td>
                    </ng-container>
                    <ng-container matColumnDef="impArticulo" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef>Importe</th>
                        <td mat-cell *matCellDef="let row" class="cell-right">{{row.impArticulo | number:'1.2-2'}}</td>
                        <td mat-footer-cell *matFooterCellDef class="cell-right">{{totales.impArticulos | currency}}</td>
                    </ng-container>                 
                    <tr mat-header-row *matHeaderRowDef="Columns"></tr>
                    <tr mat-row *matRowDef="let row; columns: Columns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="Columns; sticky: true"></tr>
                </table>
            </div>
            <br />
            <mat-paginator [pageSizeOptions]="[25,50,75]"></mat-paginator>
        </mat-card>
        <br />
        <mat-card>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <button mat-stroked-button class="btn btn-outline-success" (click)="Guardar()">Guardar</button>&nbsp;
                    <a routerLink="/facturas"><button mat-stroked-button class="btn btn-outline-warning" (click)="CancelarF()">Cancelar</button></a>
                </div>
            </div>
        </mat-card>        
    </div>
</div>