	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="../assets/img/SWAP.png" class="brand_logo" alt="Logo">
					</div>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form  #Usuarios="ngForm" (ngSubmit)="datos($event)">
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text"  class="form-control input_user"  placeholder="username" id="username">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" class="form-control input_pass" placeholder="password" id="password">
						</div>
						<div class="d-flex justify-content-center mt-3 login_container">
							<button  class="btn login_btn">Login</button>
						</div>
					</form>
				</div>
				<div class="mt-4">
					<!--Aqui debemos poner un link para pedir contraseña-->
				</div>
			</div>
		</div>
	</div>

