<h3>{{title}}</h3>
<mat-card>
    <h5>Datos Generales</h5>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" [hidden]="proveedor.idNprov > 0">
            <mat-form-field>
                <mat-label>No. Proveedor</mat-label>
                <input matInput type="number" disabled>
            </mat-form-field>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" [hidden]="proveedor.idNprov == 0">
            <mat-form-field>
                <mat-label>No. Proveedor</mat-label>
                <input matInput type="number" name="idNprov" [(ngModel)]="proveedor.idNprov" required>
            </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <mat-form-field>
                <mat-label>Nombre Comercial</mat-label>
                <input matInput type="text" name="nombre" [(ngModel)]="proveedor.nombre" required>
            </mat-form-field>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <mat-form-field>
                <mat-label>Razon Social</mat-label>
                <input matInput type="text" name="razon" [(ngModel)]="proveedor.razon" required>
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <mat-label>Tipo de persona</mat-label>
                <mat-select name="tipo" [(ngModel)]="proveedor.tipo" required>
                    <mat-option>Seleccione...</mat-option>
                    <mat-option *ngFor="let T of tipo" [value]="T.idTipoPersona">{{ T.tipoPersona }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <mat-label>RFC</mat-label>
                <input matInput type="text" name="rfc" [(ngModel)]="proveedor.rfc" minlength="12" maxlength="13" required>
            </mat-form-field>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <mat-form-field>
                <mat-label>Calle</mat-label>
                <input matInput type="text" name="calle" [(ngModel)]="proveedor.calle" required>
            </mat-form-field>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <mat-form-field>
                <mat-label>Numero</mat-label>
                <input matInput type="number" name="numero" [(ngModel)]="proveedor.numero" required>
            </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <mat-form-field>
                <mat-label>Colonia</mat-label>
                <input matInput type="text" name="colonia" [(ngModel)]="proveedor.colonia" required>
            </mat-form-field>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <mat-form-field>
                <mat-label>Codigo Postal</mat-label>
                <input matInput type="number" name="cp" [(ngModel)]="proveedor.cp" required>
            </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <mat-form-field>
                <mat-label>Pais</mat-label>
                <mat-select name="pais" [(ngModel)]="proveedor.pais" required>
                    <mat-option>Seleccione...</mat-option>
                    <mat-option *ngFor="let P of pais" [value]="P.idPais" (click)="Estado(P.idPais)">{{ P.pais }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <mat-label>Estado</mat-label>
                <mat-select name="estado" [(ngModel)]="proveedor.estado" required>
                    <mat-option>Seleccione...</mat-option>
                    <mat-option *ngFor="let E of estado" [value]="E.idEstado" (click)="Ciudad(E.idEstado)">{{ E.estado }}</mat-option>
                </mat-select>
            </mat-form-field></div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <mat-label>Ciudad</mat-label>
                <mat-select name="ciudad" [(ngModel)]="proveedor.ciudad" required>
                    <mat-option>Seleccione...</mat-option>
                    <mat-option *ngFor="let C of ciudad" [value]="C.idCiudad">{{ C.ciudad }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</mat-card><br />
<mat-card>
    <button mat-stroked-button class="btn btn-outline-info" [hidden]="proveedor.idNprov == 0" (click)="Editar()">Actualizar</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-success" [hidden]="proveedor.idNprov != 0" (click)="Nuevo()">Guardar</button>&nbsp;
    <a routerLink="/proveedores"><button mat-stroked-button class="btn btn-outline-warning">Cancelar</button></a>
</mat-card>