.cont {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    }
    .menu{
    color:#00000094;
    }
    
    .toolbar{
    background:LAVENDER;
    }
    .mobile .toolbar {
    position: fixed;
    z-index: 2;
    }
    
    .expanded-nav {
    background: white;
    }

    .sidenav-container {
    flex: 1;
    }
    
    .mobile .sidenav-container {
    flex: 1 0 auto;
    }
    
    .expanded-items-list:hover{
    background: #EDEDED;
    color: black;
    }

    .body{
    background: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100%;
    }
    
    //Estilo para las imagenes
    #home{
        width: auto;
        min-height: auto;
    }

    #home img {
        margin: 5px;
        border: 10px solid #eee;
        opacity: .9;
    }

    #home img:hover{
     border:10px solid #99A3A4   ;
     opacity: 1;
     margin: 5px;
    }
    
    #home a:link {
        color: black;
    }

    #home a:visited{
        color: transparent;
    }

    #home a:hover{
        color: transparent;
    }

    #home a:active{
        color: transparent;
    }

    #home p{
        opacity: .7;
    }

    #home p:hover{
        opacity: 1;
        color: black
    }
    .footer{
        position:fixed;
        left:0px;
        bottom:0px;
        height:35px;
        width:100%;
        background:#999;
     }