<!-- Footer -->
<footer id="footer">
    <!-- Footer Elements -->
    <div class="container">  
        <!--ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
              <a mdbBtn floating="true" size="sm" gradient="peach" mdbWavesEffect id="Circulo" matTooltip="Catálogo" >
                <mdb-icon fas icon="book" ></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" size="sm" gradient="peach" mdbWavesEffect id="Circulo" matTooltip="Clientes" >
                <mdb-icon fas icon="user-friends"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" size="sm" gradient="peach" mdbWavesEffect id="Circulo" matTooltip="Proyectos">
                <mdb-icon fas icon="cubes"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" size="sm" gradient="peach" mdbWavesEffect id="Circulo" matTooltip="Ensambles">
                <mdb-icon fas icon="object-ungroup"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" size="sm" gradient="peach" mdbWavesEffect id="Circulo" matTooltip="Cotizaciones">
                <mdb-icon fas icon="list-alt"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" size="sm" gradient="peach" mdbWavesEffect id="Circulo" matTooltip="Servicios">
                <mdb-icon fas icon="tools"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" size="sm" gradient="peach" mdbWavesEffect id="Circulo" matTooltip="Órdenes">
                <mdb-icon fas icon="truck"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" size="sm" gradient="peach" mdbWavesEffect id="Circulo" matTooltip="Entradas">
                <mdb-icon fas icon="check-square"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" size="sm" gradient="peach" mdbWavesEffect id="Circulo" matTooltip="Facturas">
                <mdb-icon fas icon="money-bill-alt"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" size="sm" gradient="peach" mdbWavesEffect id="Circulo" matTooltip="Configuración" >
                <mdb-icon fas icon="toolbox"></mdb-icon>
              </a>
            </li>
          </ul -->  
    </div>
    <!-- Footer Elements -->  
    <!-- Copyright -->    
    <!-- Copyright -->  
  </footer>
  <!-- Footer -->