<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Pais</mat-label>
        <mat-select name="idPais" [(ngModel)]="ciudad.idPais" id="idPais" [disabled]="ciudad.idCiudad != 0">
            <mat-option *ngFor="let P of selPais" [value]="P.idPais" (click)="filtroEstado(P.idPais)">{{P.pais}}</mat-option>
        </mat-select>
    </mat-form-field>    
</div>
<div mat-dialog-content>
  <mat-form-field>
      <mat-label>Estado</mat-label>
      <mat-select name="idEstado" [(ngModel)]="ciudad.idEstado" id="idEstado" [disabled]="ciudad.idCiudad != 0">
          <mat-option *ngFor="let E of selEstado" [value]="E.idEstado">{{E.estado}}</mat-option>
      </mat-select>
  </mat-form-field>  
</div>
<div mat-dialog-content>
  <mat-form-field>
      <input matInput placeholder="Nombre" type="text" name="nombre" [(ngModel)]="ciudad.nomCiudad">
  </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-stroked-button class="btn btn-outline-info" (click)="Editar()" [hidden]="ciudad.idCiudad == 0"> Actualizar</button>
    <button mat-stroked-button class="btn btn-outline-successs" (click)="Nuevo()" [hidden]="ciudad.idCiudad != 0">Guardar</button>
    <button mat-stroked-button class="btn btn-outline-warning" (click)="onNoClick()"> Cancelar</button>
</div>