<!--Elementos de la Tabla-->
<div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Banco</span>&nbsp;
        <button mat-stroked-button class="btn btn-outline-primary" (click)="Reset();opendDialog()">Nuevo Banco</button> <!--agregar (click)="Reset()"-->
    </mat-toolbar-row>
  </mat-toolbar>
    </div>
  <mat-form-field>
      <input matInput (keyup)="Filtro($event.target.value)" placeholder="Busqueda">
    </mat-form-field>
    <div class="table-responsive">  
      <table mat-table [dataSource]="dataSource" matSort>    
        <ng-container matColumnDef='rfcBanco'>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>RFC Banco </th>
          <th scope="row">1</th>
          <td mat-cell *matCellDef="let row">{{row.rfcBanco}}</td>
        </ng-container>    
        <ng-container matColumnDef='nomBanco'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre de Banco </th>
            <th scope="row">1</th>
            <td mat-cell *matCellDef="let row">{{row.nomBanco}}</td>
        </ng-container>  
        <ng-container matColumnDef='razonBanco'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Razon  </th>
            <th scope="row">1</th>
            <td mat-cell *matCellDef="let row">{{row.razonBanco}}</td>
        </ng-container>
        <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item  data-toggle="modal" data-target="#anakin" (click)="Cargar(row)"><!--(click)="Cargar(row)" agregar-->
                    <mat-icon>comment</mat-icon>
                    <span>Editar</span>
                  </button>
                  <button mat-menu-item (click)="Eliminar(row)" > <!--agregar (click)="Eliminar(row)"-->
                    <mat-icon>delete</mat-icon>
                    <span>Borrar</span>
                  </button>
                </mat-menu>
            </td>
        </ng-container>  
        <tr mat-header-row *matHeaderRowDef="Columns"></tr>
        <tr mat-row *matRowDef="let row; columns: Columns;">
        </tr>      
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[6, 12, 60, 120]"></mat-paginator>