<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Tipo de Banco</mat-label>
        <mat-select [(ngModel)]="banco.idTipo">
            <mat-option *ngFor="let T of tipoB" [value]="T.idTipoBanco">{{T.tipoBanco}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput  placeholder="Nombre del Banco" type="text" [(ngModel)]="banco.nomBanco">
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput  placeholder="RFC" type="text" [(ngModel)]="banco.rfc">
    </mat-form-field>
</div>

<div mat-dialog-content>
    <mat-form-field>
        <input matInput  placeholder="Razon" type="text" [(ngModel)]="banco.razonBanco">
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-stroked-button class="btn btn-outline-success" [hidden]="banco.idBanco != 0" (click)="Nuevo()">Guardar</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-info" [hidden]="banco.idBanco == 0" (click)="Editar()">Actualizar</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-warning" (click)="Salir()">Cancelar</button>
</div>