table {
  width: 100%;
}

td, th {
  width: auto;
}

.mat-toolbar.mat-primary {
  background:white;
  color: black;
}


::ng-deep .mat-form-field {
  width: 100% !important;
}

th {
background-color:#f2f2f2;
}

tr:nth-child(odd) {
background-color:#fbfbfb;
}

tr:nth-child(even) {
background-color:#f2f2f2;
}