table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 50%;
  }
  
  td, th {
    width: 13%;
  }
  
  .mat-toolbar.mat-primary {
    background:white;
    color: black;
  }

  .example-ripple-container {
    cursor: pointer;
    text-align: center;  
    width: 300px;
    height: 300px;
    line-height: 300px;  
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;  
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
  }

  #Actualizar{
    display: none;
  }

  #select {
    position: relative;
    border: 1px solid #ccc;
    width: 120px;
    overflow: hidden;
    background-color: #fff;
  }
    
  #select:before {
      content: '';
      position: absolute;
      right: 5px;
      top: 7px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7px 5px 0 5px;
      border-color: #000000 transparent transparent transparent;
      z-index: 5;
      pointer-events: none;
  }
    
  #select select {
      padding: 5px 8px;
      width: 130%;
      border: none;
      box-shadow: none;
      background-color: transparent;
      background-image: none;
      appearance: none;
  }
  
  th {
    background-color:#f2f2f2;
  }
  
  tr:nth-child(odd) {
    background-color:#fbfbfb;
  }
  
  tr:nth-child(even) {
    background-color:#f2f2f2;
  }