<div >
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Electricidad</span>&nbsp;
        <button mat-stroked-button class="btn btn-outline-primary" (click)="Reset();openDialog()">Nueva</button>
    </mat-toolbar-row>
  </mat-toolbar>
    </div>
  <mat-form-field>
      <input matInput (keyup)="Filtro($event.target.value)" placeholder="Busqueda">
    </mat-form-field>
    <div class="table-responsive">     
      <table mat-table [dataSource]="dataSource" matSort >    
        <ng-container matColumnDef="eneElectrica">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Electricidad </th>
          <th scope="row">1</th>
          <td mat-cell *matCellDef="let row">{{row.eneElectrica}}</td>
        </ng-container> 
        <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="Cargar(row)" data-toggle="modal" data-target="#centralModalSm">
                    <mat-icon>comment</mat-icon>
                    <span>Editar</span>
                  </button>
                  <button mat-menu-item (click)="Eliminar(row)" >
                    <mat-icon>delete</mat-icon>
                    <span>Borrar</span>
                  </button>
                </mat-menu>
            </td>
        </ng-container>  
        <tr mat-header-row *matHeaderRowDef="Columns"></tr>
        <tr mat-row *matRowDef="let row; columns: Columns;">
        </tr>      
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[6, 12, 60, 120]"></mat-paginator>
<!--Termina la tabla-->