<h3>Editar Articulo</h3>
<mat-card>        
    <h5>Características</h5>
    <mat-form-field>
        <mat-label>Tipo de Articulo</mat-label>
        <mat-select  placeholder="Tipo Cliente" name="idClas"  [(ngModel)]="catalagos.idClas" required>
            <mat-option>Seleccione...</mat-option>
            <mat-option *ngFor="let A of Clasificacion" [value]="A.idClasArticulo"  (click)="Categorias(A.idClasArticulo)">{{A.clasArticulo}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <mat-form-field>
                <mat-label>Categoria</mat-label>
                <mat-select name="idTipo" [(ngModel)]="catalagos.idTipo" required>
                    <mat-option>Seleccione...</mat-option>
                    <mat-option *ngFor="let T of tipos" [value]="T.idCatArticulo">{{T.catArticulo}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <mat-form-field>
                <mat-label>Marca</mat-label>
                <input matInput [matAutocomplete]="auto" [formControl]="stateMarca" required>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="ObtMarca($event.option.id)" required>
                    <mat-option>Seleccione...</mat-option>
                    <mat-option *ngFor="let M of FilterMarca | async" [value]="M.marcArticulo" [id]="M.idMarcArticulo">{{M.marcArticulo}}</mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <mat-form-field>
                <mat-label>Unidad Medida</mat-label>
                <mat-select name="idUMed" [(ngModel)]="catalagos.idUMed" required>
                    <mat-option *ngFor="let UM of unidad" [value]="UM.idMedArticulo">{{UM.medArticulo}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <mat-form-field>
                <mat-label>Departamento</mat-label>
                <mat-select name="idDep" [(ngModel)]="catalagos.idDep" [disabled]="catalagos.idClas == 2" required>
                    <mat-option>Seleccione...</mat-option>
                    <mat-option *ngFor="let D of departamento" [value]="D.idDepArticulo" (click)="Grupos(D.idDepArticulo)">{{D.depArticulo}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <mat-form-field>
                <mat-label>Grupo</mat-label>
                <mat-select name="idGru" [(ngModel)]="catalagos.idGru" [disabled]="catalagos.idClas == 2" required>
                    <mat-option>Seleccione...</mat-option>
                    <mat-option *ngFor="let G of grupo" [value]="G.idGruArticulo" (click)="Lineas(G.idGruArticulo)">{{G.gruArticulo}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <mat-form-field>
                <mat-label>Linea</mat-label>
                <mat-select name="idLine" [(ngModel)]="catalagos.idLine" [disabled]="catalagos.idClas == 2" required>
                    <mat-option>Seleccione...</mat-option>
                    <mat-option *ngFor="let L of linea" [value]="L.idLinArticulo">{{L.linArticulo}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</mat-card><br />
<mat-card>
    <h5>Datos Generales</h5>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <mat-label>Modelo</mat-label>
                <input matInput name="Model" [(ngModel)]="catalagos.Model" required>
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <mat-label>Codigo SAT</mat-label>
                <input matInput name="SAT" [(ngModel)]="catalagos.SAT" required>
            </mat-form-field>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput name="Nom" [(ngModel)]="catalagos.Nom" required>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <mat-form-field class="example-full-width">
                <mat-label>Descripcion</mat-label>
                <textarea matInput name="Des" [(ngModel)]="catalagos.Des" required></textarea>
            </mat-form-field>
        </div>
    </div>
</mat-card><br />
<mat-card>
    <h5>Medidas e Instalación</h5>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-checkbox class="example-margin" name="checked" [(ngModel)]="dimension" (change)="Dimensiones()" [disabled]="catalagos.idClas == 2">Diseño</mat-checkbox>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <mat-label>Frente</mat-label>
                <input matInput type="number" name="Des" [(ngModel)]="catalagos.Frente" id="Frante" [disabled]="dimension == false">
                <span matSuffix>&nbsp;m</span>
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <mat-label>Profundidad</mat-label>
                <input matInput type="number" name="Profundidad" [(ngModel)]="catalagos.Profundidad" [disabled]="dimension == false">
                <span matSuffix>&nbsp;m</span>
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <mat-label>Altura</mat-label>
                <input matInput type="number" name="Altura" [(ngModel)]="catalagos.Altura" [disabled]="dimension == false">
                <span matSuffix>&nbsp;m</span>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-checkbox class="example-margin" name="checkedplo" [(ngModel)]="checkedplo" (change)="TiposPlomerias()" [disabled]="catalagos.idClas == 2">Plomeria</mat-checkbox>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <mat-label>Plomeria</mat-label>
                <mat-select aria-placeholder="Plomeria" [value]="optMul" #option [disabled]="checkedplo == false" multiple (valueChange)="CopiArray(option.value)" [disabled]="checkedplo == false">
                    <mat-option *ngFor="let P of plomerias" [value]="P.idTuberia">{{P.tuberia}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <mat-label>Electrico</mat-label>
                <mat-select name="idElectrico" [(ngModel)]="catalagos.idElectrico" [disabled]="catalagos.idClas == 2" required>
                    <mat-option>Seleccione...</mat-option>
                    <mat-option *ngFor="let E of energias" [value]="E.idEneElectrica">{{E.eneElectrica}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <mat-label>Gas</mat-label>
                <mat-select name="idGas" [(ngModel)]="catalagos.idGas" [disabled]="catalagos.idClas == 2" required>
                    <mat-option>Seleccione...</mat-option>
                    <mat-option *ngFor="let G of gaces" [value]="G.idEneCalorifica" >{{G.eneCalorifica}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</mat-card><br />
<mat-card>
    <button mat-stroked-button class="btn btn-outline-info"(click)="ValidarMultiSelect()">Actualizar</button>&nbsp;
    <a routerLink="/catalago"><button mat-stroked-button class="btn btn-outline-warning">Cancelar</button></a>
</mat-card>