<div class="card">
    <div class="card-body">
        <mat-card>
            <div class="example-container">
                <mat-form-field>
                    <input matInput placeholder="Clientes" type="text" [matAutocomplete]="autoCli" [formControl]="StateCliente">
                    <mat-autocomplete #autoCli="matAutocomplete" (optionSelected)="ObtCliente($event.option.id)">
                        <mat-option *ngFor="let N of FilterCliente | async" [value]="N.razSocCliente" [id]="N.idCliente">
                            <span>{{N.razSocCliente}}</span>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Facturas" [matAutocomplete]="autoFac" [formControl]="facturacliente">
                    <mat-autocomplete #autoFac="matAutocomplete" (optionSelected)="ObtFactura($event.option.id)">
                        <mat-option *ngFor="let F of FilteredFacturacliente | async" [value]="F.nomFactura"  [id]="F">
                            <span>{{F.nomFactura}}</span>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </mat-card>
        <br>
        <mat-card>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <mat-form-field>
                        <mat-label>Tipo de pago</mat-label>
                        <mat-select [(ngModel)]="notacredito.tPagoNotaCredito">
                            <mat-option *ngFor="let tP of TipoDePago" [value]="tP.id">{{tP.vista}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <mat-form-field>
                        <mat-label>Metodo de pago</mat-label>
                        <mat-select [(ngModel)]="notacredito.mPagoNotaCredito">
                            <mat-option *ngFor="let mP of MetodoDePago" [value]="mP.id" >{{mP.vista}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <mat-form-field>
                        <mat-label>Forma de pago</mat-label>
                        <mat-select name="idFormPago"  [(ngModel)]="notacredito.idFormPago">
                            <mat-option *ngFor="let fP of FormaDePago" [value]="fP.idFormaPago">{{fP.formaPago}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <mat-form-field>
                        <input matInput type="number" min="0" placeholder="Plazo" name="plaNotaCredito" [(ngModel)]="notacredito.plaNotaCredito" [disabled]="notacredito.tPagoNotaCredito == 1"/>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
                    <mat-form-field>
                        <mat-label>Tipo de CFDI</mat-label>
                        <mat-select name="idTipoCfdi" [(ngModel)]="notacredito.idTipoCfdi">
                            <mat-option *ngFor="let ci of CFDI" [value]="ci.idTipoCfdi">{{ci.tipoCfdi}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
                    <mat-form-field>
                        <mat-label>CFDI relacionado</mat-label>
                        <mat-select name="idRelCfdi" [(ngModel)]="notacredito.idRelCfdi" >
                            <mat-option *ngFor="let ciR of CFDIRel" [value]="ciR.idRelCfdi">{{ciR.relCfdi}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="example-container">
                <mat-form-field>
                    <textarea matInput placeholder="Descripcion" name="refNotaCredito" [(ngModel)]="notacredito.refNotaCredito" ></textarea>
                </mat-form-field>
            </div>
        </mat-card>
        <br>
        <mat-card *ngIf="validadorHtml != 0">
            <div class="example-container">
                <mat-form-field>
                    <input matInput placeholder="Codigo SAT" name="CodigoSAT" [(ngModel)]="notacreditocart.codSatArticulo" disabled>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Nombre Articulo" [(ngModel)]="notacreditocart.nomArticulo" disabled>
                </mat-form-field>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xl-3">
                    <mat-form-field>
                        <input matInput placeholder="Proveedor" [(ngModel)]="notacreditocart.nomProveedor" disabled>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <mat-form-field>
                        <input matInput placeholder="Cantidad" type="number" min="0" name="cantidad" [(ngModel)]="notacreditocart.cantArticulo">
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <mat-form-field>
                        <input matInput placeholder="Precio" type="text" name="precio" [(ngModel)]="notacreditocart.cosArticulo" [disabled]="notacredito.idRelCfdi == 3">
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <mat-form-field>
                        <input matInput placeholder="Descuento" type="number" min="0" [(ngModel)]="notacreditocart.descuento" [disabled]="notacredito.idRelCfdi == 3">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
                    <mat-form-field>
                        <mat-label>Iva</mat-label>
                        <mat-select name="idIva" [(ngModel)]="notacreditocart.idIva" disabled>
                            <mat-option *ngFor="let I of Ivas " [value]="I.idIva">{{I.iva}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
                    <mat-form-field>
                        <mat-label>Monedas</mat-label>
                        <mat-select name="idMoneda"  [(ngModel)]="notacreditocart.idMoneda" disabled>
                            <mat-option *ngFor="let M of Monedas " [value]="M.idMoneda">{{M.cveMoneda}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
                    <button mat-stroked-button class="btn btn-outline-info" (click)="ActualizarArticulo()">Actualizar</button>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
                    <button mat-stroked-button class="btn btn-outline-warning" (click)="CancelarDatos()">Cancelar</button>
                </div>
            </div>
        </mat-card>
        <br>
        <mat-card>
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" matSort>                    
                    <ng-container matColumnDef="nomCotizacion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cotizacion</th>
                        <td mat-cell *matCellDef="let row">{{row.nomCotizacion}}</td>
                    </ng-container>  
                    <ng-container matColumnDef="areaCotizacion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Area</th>
                        <td mat-cell *matCellDef="let row">{{row.areaCotizacion}}</td>
                    </ng-container>  
                    <ng-container matColumnDef="codSatArticulo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo SAT</th>
                        <td mat-cell *matCellDef="let row">{{row.codSatArticulo}}</td>
                    </ng-container>  
                    <ng-container matColumnDef="nomArticulo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                        <td mat-cell *matCellDef="let row">{{row.nomArticulo}}</td>
                    </ng-container>  
                    <ng-container matColumnDef="nomProveedor">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Proveedor</th>
                        <td mat-cell *matCellDef="let row">{{row.nomProveedor}}</td>
                    </ng-container>  
                    <ng-container matColumnDef="cantArticulo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
                        <td mat-cell *matCellDef="let row">{{row.cantArticulo}}</td>
                    </ng-container>  
                    <ng-container matColumnDef="subArticulo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sub Total</th>
                        <td mat-cell *matCellDef="let row">{{row.subArticulo}}</td>
                    </ng-container> 
                    <ng-container matColumnDef="impArticulo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Importe</th>
                        <td mat-cell *matCellDef="let row">{{row.impArticulo}}</td>
                    </ng-container>  
                    <ng-container matColumnDef="iva">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>IVA</th>
                        <td mat-cell *matCellDef="let row">{{row.iva}}</td>
                    </ng-container>  
                    <ng-container matColumnDef="cveMoneda">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Moneda</th>
                        <th scope="row"> 1 </th>
                        <td mat-cell *matCellDef="let row">{{row.cveMoneda}}</td>
                    </ng-container>  
                    <ng-container matColumnDef="Acciones">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                            <td mat-cell *matCellDef="let row">
                                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item aria-label="Seguimiento" (click)="CargarDatosArt(row)" >
                                        <mat-icon>edit</mat-icon>
                                        <span>Editar</span>
                                    </button>
                                    <button mat-menu-item aria-label="Seguimiento" (click)="EliminarArticulo(row)">
                                        <mat-icon>delete</mat-icon>
                                        <span>Borrar</span>
                                    </button>      
                                </mat-menu>
                            </td>
                    </ng-container>                    
                    <tr mat-header-row *matHeaderRowDef="Columns"></tr>
                    <tr mat-row *matRowDef="let row; columns:Columns "></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10,20,30]"></mat-paginator>
            </div>
            <br>
        </mat-card>
        <br>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
                <button mat-stroked-button class="btn btn-outline-success" (click)="GuardarNotaCredito()">Guardar</button>&nbsp;
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
                <button mat-stroked-button class="btn btn-outline-warning" (click)="Regresar()">Cancelar</button>
            </div>
        </div>
    </div>
</div>