<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Departamento</mat-label>
        <mat-select name="idDepar" [(ngModel)]="linea.idDepar" [disabled]="linea.linea != 0">
            <mat-option *ngFor="let D of SelectDep" [value]="D.idDepArticulo" (click)="selectGroupo(D.idDepArticulo)" required>{{D.depArticulo}}</mat-option>
        </mat-select>
    </mat-form-field>    
</div>
<div mat-dialog-content>
  <mat-form-field>
      <mat-label>Grupo</mat-label>
      <mat-select name="idGrupo" [(ngModel)]="linea.idGrupo" required [disabled]="linea.linea != 0">
          <mat-option *ngFor="let G of SelectGro" [value]="G.idGruArticulo">{{G.gruArticulo}}</mat-option>
      </mat-select>
  </mat-form-field>  
</div>
<div mat-dialog-content>
  <mat-form-field>
      <input matInput placeholder="Nombre de linea" type="text" [(ngModel)]="linea.nombLin"  name="nombLin">
  </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-stroked-button class="btn btn-outline-info" (click)="Editar()" [hidden]="linea.linea == 0">Actualizar</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-success" (click)="Nuevo()" [hidden]="linea.linea != 0">Guardar</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-warning" (click)="onNoClick()"> Cancelar</button>
</div>