th {
font-family:"courier,arial,helvética";
   text-align: left;
   width:50%;
   max-width: 300px;
  font-size: 15px;
  
 }

 td{
   text-align: right;
   padding: 4px;
   width:50%; 
   max-width: 300px;
  font-size: 15px;
  
 }

@media print{
  /* indicamos el salto de pagina */
  .saltoDePagina{
    display:block;
    page-break-before:always;
  }
}


.imagen { /*imagen de portada*/
  margin-left: 0px;
}


table {
  width:85%;
  border-collapse: collapse;
 }

 .tabla1{
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  color: black; 
  font-size: 18px; 
  text-align: center; 
 }

 