<div class="card">
  <div class="card-body">
    <mat-card>
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Cliente" [matAutocomplete]="autoCli" [formControl]="CtrlCliente">
          <mat-autocomplete #autoCli="matAutocomplete" (optionSelected)="ObtCliente($event.option.id)">
            <mat-option *ngFor="let C of FilteredCliente | async" [value]="C.compCliente" [id]="C.idCliente">
              <span>{{C.compCliente}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Destinatario" [(ngModel)]="salida.destino">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Direccion" [(ngModel)]="salida.direccion">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Comentario" [(ngModel)]="salida.comentario">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Referencia" [(ngModel)]="salida.referencia">
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
          <mat-form-field>
            <mat-label>Fecha de salida</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="salida.fechaSalida">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
          <mat-form-field>
            <mat-label>Fecha de recibido</mat-label>
            <input matInput [matDatepicker]="picker2" [(ngModel)]="salida.fechaEntregado">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="example-container">
        <mat-form-field>
          <mat-label>Tipo de salida</mat-label>
          <mat-select [(ngModel)]="salida.tipoSalida">
            <mat-option *ngFor="let T of tSalida" [value]="T.idTipOperacion" (click)="ValidarTipo(T.idTipOperacion)">{{T.tipOperacion}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Entradas" [matAutocomplete]="autoEnt" [formControl]="CtrlEntrada">
          <mat-autocomplete #autoEnt="matAutocomplete" (optionSelected)="ObtEntrada($event.option.id)">
            <mat-option *ngFor="let E of FilteredEntradas | async" [value]="E.nomEntrada" [id]="E">
              <span>{{E.nomEntrada}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </mat-card>
    <br>
    <mat-card *ngIf="validador != 0">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
            <mat-form-field>
              <input matInput placeholder="Entrada" [(ngModel)]="salidaArticulo.nomEntrada" disabled>
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
            <mat-form-field>
              <input matInput placeholder="Orden" [(ngModel)]="salidaArticulo.nomOrden" disabled>
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
            <mat-form-field>
              <input matInput placeholder="Cotizacion" [(ngModel)]="salidaArticulo.nomCotizacion" disabled>
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
            <mat-form-field>
              <input matInput placeholder="Area" [(ngModel)]="salidaArticulo.nombreArea" disabled>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
            <mat-form-field>
              <input matInput placeholder="Modelo" [(ngModel)]="salidaArticulo.modArticulo" disabled>
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
            <mat-form-field>
              <input matInput placeholder="Articulo" [(ngModel)]="salidaArticulo.nomArticulo" disabled>
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
            <mat-form-field>
              <input matInput placeholder="Proveedor" [(ngModel)]="salidaArticulo.nomProveedor" disabled>
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
            <mat-form-field>
              <input matInput placeholder="Iva" [(ngModel)]="salidaArticulo.iva" disabled>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
            <mat-form-field>
              <input matInput placeholder="Moneda" [(ngModel)]="salidaArticulo.moneda" disabled>
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
            <mat-form-field>
              <input matInput placeholder="costo" [(ngModel)]="salidaArticulo.costo" disabled>
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
            <mat-form-field>
              <input matInput placeholder="Cantidad" [(ngModel)]="salidaArticulo.cantArticulo">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2">
            <button mat-stroked-button class="btn btn-outline-info" [disabled]="existencia < salidaArticulo.cantArticulo"  (click)="Actualizar()">Actualizar</button>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2">
            <button mat-stroked-button class="btn btn-outline-warning" (click)="Cancelar()">Cancelar</button>
          </div>
        </div>
    </mat-card>
    <br>
    <mat-card>
      <div class="table-responsive">     
        <table mat-table [dataSource]="dataSource" matSort>    

          <ng-container matColumnDef='nomEntrada'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Entrada</th>
            <th scope="row">1</th>
            <td mat-cell *matCellDef="let row">{{row.nomEntrada}}</td>
          </ng-container>

          <ng-container matColumnDef='nomOrden'>
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Orden</th>
              <th scope="row">1</th>
              <td mat-cell *matCellDef="let row">{{row.nomOrden}}</td>
          </ng-container>
  
          <ng-container matColumnDef='nomCotizacion'>
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Cotizacion</th>
              <th scope="row">1</th>
              <td mat-cell *matCellDef="let row">{{row.nomCotizacion}}</td>
          </ng-container>

          <ng-container matColumnDef='modArticulo'>
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Modelo</th>
              <th scope="row">1</th>
              <td mat-cell *matCellDef="let row">{{row.modArticulo}}</td>
          </ng-container>

          <ng-container matColumnDef='nomArticulo'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Articulo</th>
            <th scope="row">1</th>
            <td mat-cell *matCellDef="let row">{{row.nomArticulo}}</td>
          </ng-container> 

          <ng-container matColumnDef='nomProveedor'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Proveedor</th>
            <th scope="row">1</th>
            <td mat-cell *matCellDef="let row">{{row.nomProveedor}}</td>
          </ng-container>  

          <ng-container matColumnDef='cantArticulo'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
            <th scope="row">1</th>
            <td mat-cell *matCellDef="let row">{{row.cantArticulo}}</td>
          </ng-container>  

          <ng-container matColumnDef="Acciones">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
              <td mat-cell *matCellDef="let row">
                  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                      <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item  (click)="CargarDatos(row)" >
                      <mat-icon>comment</mat-icon>
                      <span>Editar</span>
                    </button>
                    <button mat-menu-item  (click)="Eliminar(row)" >
                      <mat-icon>delete</mat-icon>
                      <span>Eliminar</span>
                    </button>
                  </mat-menu>
              </td>
          </ng-container>  
          <tr mat-header-row *matHeaderRowDef="Columns"></tr>
          <tr mat-row *matRowDef="let row; columns: Columns;">
          </tr>      
        </table>
      </div>
    </mat-card>
    <br>
      <mat-card>
        <div class="example-container">
          <mat-form-field>
            <mat-label>Observaciones</mat-label>
            <textarea matInput  [(ngModel)]="salida.observaciones" required></textarea>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Pie de pagina</mat-label>
            <textarea matInput[(ngModel)]="salida.pie" required></textarea>
          </mat-form-field>
        </div>
      </mat-card>
    <br>
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2">
        <button mat-stroked-button class="btn btn-outline-success" (click)="GuardarSalida()">Guardar</button>&nbsp;
        <a routerLink="/salida"><button mat-stroked-button class="btn btn-outline-warning">Cancelar</button></a>
      </div>
    </div>
  </div>
</div>