<h1 mat-dialog-title>Nuevo Cliente</h1>
<div mat-dialog-content>
    <h6>Datos Generales</h6>
    <mat-form-field>
        <mat-label>Nombre Comercial</mat-label>
        <input matInput type="text" name="NomComer" [(ngModel)]="cliente.NomComer" required>
    </mat-form-field>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <mat-form-field>
                <mat-label>Estatus del Cliente</mat-label>
                <mat-select [(ngModel)]="cliente.idTipo" required>
                    <mat-option>Seleccione...</mat-option>
                    <mat-option *ngFor="let T of tipo" [value]="T.idTipoCliente" (click)="Cambio(T.idTipoCliente)">{{T.tipoCliente}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <mat-form-field hintLabel="Max 10 characters">
                <mat-icon matSuffix>contact_phone</mat-icon>
                <mat-label>Telefono Fijo</mat-label>
                <input matInput #input type="text" name="tel" minlength="10" maxlength="10" [(ngModel)]="cliente.tel" required>
               <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
           </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-stroked-button class="btn btn-outline-success" [disabled]="cliente.tel < 1000000000 || cliente.NomComer == '' || cliente.idTipo == 0" (click)="Crear()">Guardar</button>&nbsp;
    <button mat-stroked-button class="btn btn-outline-warning" (click)="Regreso()">Cancelar</button>
</div>